---
import CupIcon from "/images/cup.svg";
import LoveIcon from "/images/love.svg";
import ClippedImg from "../ClippedImg.astro";
import Markdown from "@astrojs/markdown-component";
import HeroBackground from "../HeroBackground.astro";
import UpdateHeroTopMargin from "../scripts/UpdateHeroTopMargin.astro";

const url = `${import.meta.env.CloudImg_URL}`;
const { page } = Astro.props;

const pageIntro_text = page.Intro_text.split("\n")[0];
const pageAdvancedIntro_text = page.Intro_text.replace(pageIntro_text, "");
---

<!-- Hero Section -->
<div class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  <!-- Text content -->
  <div
    class="relative z-30 flex flex-wrap justify-center h-full wrapper HeroTxtContainer"
  >
    <div
      class="w-full md:w-9/12 lg:w-7/12 text-center justify-center HeroTxtContent"
      role="banner"
    >
      <div>
        <div class="hidden sm:block mx-auto basicHeroIcon">
          <img class="w-full h-full" src={CupIcon} alt="love-icon" />
        </div>
        <div class="block sm:hidden mx-auto basicHeroIcon">
          <img class="w-full h-full" src={LoveIcon} alt="love-icon" />
        </div>

        <h1 class="BasicHeroTitle">{page.Title}</h1>
        <div class="pt-7 mt-0.5 prose max-w-none BasicHeroTxt">
          <Markdown>{pageIntro_text}</Markdown>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Intro description -->
<div
  class={pageAdvancedIntro_text.length > 1
    ? "block wrapper basicIntrodescription"
    : "hidden"}
>
  <div class="prose max-w-none basicInfoSecTxt">
    <Markdown>{pageAdvancedIntro_text}</Markdown>
  </div>
</div>

<!-- Information Section -->
<div
  class={page.Block_blob.data != null
    ? "basicInfoSec overflow-hidden relative"
    : "overflow-hidden relative"}
>
  {
    page.Block_blob.data !== null && (
      // Blob Image - Desktop view
      <div
        class={
          "hidden sm:block absolute left-0 z-20 w-full sm:w-1/2 h-full items-center basicInfoSec_Curve1"
        }
      >
        <ClippedImg
          id="basicInfoSec_ImgFrame1"
          path="M1 .494V.507A.019.028 0 0 0 1 .51v.016A.024.035 0 0 0 1 .53L.998.579C.991.693.986.856.835.945a.362.362 0 0 1-.222.05C.567.992.521.984.473.981L.438.98C.357.98.275 1 .204 1A.19.19 0 0 1 .079.961C-.011.886.018.658.018.485.018.396.005.337.001.277A.191.28 0 0 1 0 .244C0 .206.004.166.018.115.041.025.106.004.189.003c.071 0 .155.015.238.015L.45.017C.494.014.551.006.612.002.708-.004.816.001.893.063.976.13.997.311 1 .449v.025"
          src={
            url +
            page.Block_blob.data.attributes.provider_metadata.public_id +
            `/cms`
          }
          className="relative"
          style="left: -20px; object-fit: cover;"
        />
      </div>
    )
  }

  <!-- Text content -->
  <div
    class={page.Block_blob.data != null
      ? "h-full wrapper z-30 basicInfoSecContentContainer"
      : "wrapper z-30 basicInfoSecContentContainer"}
  >
    <div
      class={page.Block_blob.data != null
        ? "w-full h-full justify-end flex flex-wrap"
        : "w-full justify-end flex flex-wrap"}
    >
      <div
        class={page.Block_blob.data != null
          ? "w-full sm:w-1/2 h-full flex sm:items-center basicInfoSecContent"
          : "w-full h-full"}
        role="complementary"
      >
        <div class="relative">
          <h2 class="header-default basicHeader color-default">
            {page.Heading_block}
          </h2>
          <div
            class={page.Block_blob.data != null
              ? "pt-0.5 mt-7 prose max-w-none LineClamp5 basicInfoSecTxt"
              : "pt-0.5 mt-7 prose max-w-none basicInfoSecTxt"}
          >
            <Markdown>{page.Block_text}</Markdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{
  page.Block_blob.data !== null && (
    // Blob Image - Mobile view
    <div class="block sm:hidden w-screen basicInfoSec_Curve">
      <ClippedImg
        id="basicInfoSec_ImgFrame2"
        path="M.282 0C.147 0 .062.021 0 .064V.97c.045.046.195.006.324 0C.473.963.625 1 .774 1A.561.561 0 0 0 1 .954v-.89c-.059-.061-.237 0-.32 0S.417 0 .282 0"
        src={
          url +
          page.Block_blob.data.attributes.provider_metadata.public_id +
          `/small`
        }
        style="clip-path: url(#basicInfoSec_ImgFrame2)"
      />
    </div>
  )
}

<div class="separatorSm"></div>
