---
import Banner from "@components/Banner.astro";
import Markdown from "@components/Markdown.astro";
import Chapterize from "@components/Chapterize.astro";
import HeroContent from "@components/HeroContent.astro";
import BasicPagePostDetails from "@components/BasicPagePostDetails.astro";
import OptimizeContentImages from "@components/OptimizeContentImages.astro";

const { page, recurData, ariaLabelRecurData } = Astro.props;
---

<HeroContent {page} basicHeader={true} />

<div role="main" class="section-in-v-pad">
  {
    page.Block_text && !page.Block_blob.data && (
      <BasicPagePostDetails page={page} {recurData} {ariaLabelRecurData}>
        <div slot="post-details" class="prose-text">
          <Chapterize>
            <OptimizeContentImages>
              <Markdown>{page.Block_text}</Markdown>
            </OptimizeContentImages>
          </Chapterize>
        </div>
      </BasicPagePostDetails>
    )
  }

  {/* Banner Section */}
  {
    page.Block_blob.data && (
      <Banner
        title={page.Heading_block}
        intro={page.Block_text}
        blob={page.Block_blob}
        transparent={true}
      />
    )
  }
</div>
