---
import Markdown from "@astrojs/markdown-component";
import Chapterize from "@components/Chapterize.astro";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";
import OptimizeContentImages from "@components/OptimizeContentImages.astro";

const { page, recurData } = Astro.props,
  headingName = recurData.text_chapter,
  { blogs } = page;
---

<PostDetailsLayout {page} posts={blogs} {recurData} {headingName}>
  <div slot="post-details" class="prose content-text">
    <Chapterize>
      <OptimizeContentImages>
        <Markdown>{page.Block_text}</Markdown>
      </OptimizeContentImages>
    </Chapterize>
  </div>
</PostDetailsLayout>
