---
import CupIcon from "/images/cup.svg";
import LeafImg from "/images/greenLeaf5.webp";
import LeafImg1 from "/images/greenLeaf.webp";
import CupGreenIcon from "/images/cupGreen.svg";

import ClipPath from "../ClipPath.astro";
import Markdown from "@astrojs/markdown-component";
import HeroBackground from "../HeroBackground.astro";
import UpdateHeroTopMargin from "../scripts/UpdateHeroTopMargin.astro";

const url = `${import.meta.env.CloudImg_URL}`;

const { page } = Astro.props;

const allBlogs = page.allBlogs
  .filter((val) => val?.props?.page?.locale == page.locale)
  .map((val) => val.props.page);

// @ts-ignore
allBlogs.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

const [firstBlog] = allBlogs;
---

<!-- Hero Section -->
<div class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  <!-- Text content -->

  <div class="relative h-full wrapper z-30 HeroTxtContainer">
    <div
      class="sm:w-8/12 md:w-7/12 HeroTxtContent BlogHeroTxtContent"
      role="banner"
    >
      <div class="flex flex-wrap items-center">
        <div>
          <div class="grid gap-y-1 sm:gap-y-0 xl:gap-y-1">
            <div class="flex flex-wrap font-bold blogHome_heroAuth">
              {
                firstBlog.authors.data.map((author, idx) => (
                  <a href="#">
                    {`${idx > 0 ? ", " : " "}` + author.attributes.givenName}
                  </a>
                ))
              }
            </div>
            <ul class="flex flex-wrap items-center">
              <li class="blogHome_HdItem">
                {
                  new Date(firstBlog.createdAt).toLocaleString("en-US", {
                    day: "numeric",
                    month: "long",
                  })
                }
              </li>
              <!-- <li class="blogHome_HdItem">5 min read</li>
              <li class="blogHome_HdItem"><a class="blogHome_HdItemBtn">Manufacturing</a></li> -->
            </ul>
          </div>
          <h1 class="blogHome_heroTitle">
            <a href={`/` + firstBlog.Meta.URL_slug}>{firstBlog.Title}</a>
            <span class="icon relative top-0">
              <span class="relative headingInlineIcon">
                <img class="w-full h-full" src={CupIcon} alt="cup-icon" />
              </span>
            </span>
          </h1>
          <a href={`/` + firstBlog.Meta.URL_slug}>
            <div class="prose max-w-none blogHome_heroTxt">
              <Markdown>{firstBlog.Intro_text}</Markdown>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Blob Image  Desktop view-->

  <div
    class="h-full hidden sm:block absolute z-20 heroCurve2Container BlogHeroCurveContainer"
  >
    <ClipPath
      id="heroImgFrame2"
      path="M1,0 S0.345,0.001,0.098,0.001 C-0.013,0.158,-0.007,0.342,0.009,0.606 C0.025,0.888,0.144,1,0.536,1 c0.3,0,0.379,-0.095,0.464,-0.147"
    />

    <img
      src={url +
      firstBlog.Intro_blob.data.attributes.provider_metadata.public_id +
      `/small`}
      class="w-full h-full relative"
      style="right: -15%; object-fit:cover; clip-path: url(#heroImgFrame2)"
    />
  </div>
</div>

<!-- Blob Image Mobile view -->

<div class="block sm:hidden relative -mt-20 z-20 w-full heroCurve3Container">
  <ClipPath
    id="heroImgFrame3"
    path="M1 .074v.904S.906 1 .774 1C.706 1 .637.996.569.993.487.989.405.984.324.986a4.576 4.576 0 0 0-.117.005C.115.996.032 1.001 0 .986V.074C.062.024.147 0 .282 0c.075 0 .165.023.244.043.062.016.118.03.154.03.026 0 .06-.007.097-.014C.861.044.959.025 1 .074"
  />

  <img
    src={url +
    firstBlog.Intro_blob.data.attributes.provider_metadata.public_id +
    `/small`}
    class="w-full h-full"
    style="clip-path: url(#heroImgFrame3);"
  />
</div>

<!-- Blog Section -->

<div class="wrapper blogHome_blogs">
  <div class="blogHome_blogsContainer">
    {
      allBlogs.slice(1).map((blog, idx) => (
        <div class="flex flex-wrap items-center blogHome_blogContaier">
          <div
            class={
              idx % 2 == 0
                ? "relative w-full sm:w-1/2 order-1 blogHome_blogCurveContainer"
                : "relative w-full sm:w-1/2 order-1 sm:order-2 blogHome_blogCurveContainer"
            }
          >
            {/*Blog Image Desktop view */}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 565 500"
              class={
                idx % 2 == 0
                  ? "hidden sm:block blogHome_blogCurveL"
                  : "hidden sm:block blogHome_blogCurveR"
              }
            >
              <defs>
                <clipPath id={"basicInfoSec_ImgFrame" + idx}>
                  <path d="M291.8,3.8c-88.5,0-235-7.9-269.3,37.3S1.2,247.5,9.6,368.2,102.7,500,298.4,500c160.9,0,211.2-31.8,252.1-141.4C567.9,312,577,197.4,534.2,63.9,506.5-22.6,415,3.8,291.8,3.8Z" />
                </clipPath>
              </defs>
              <a href={`/` + blog.Meta.URL_slug}>
                <image
                  class="w-auto h-full"
                  height="100%"
                  width="100%"
                  x="-15%"
                  href={
                    url +
                    blog.Intro_blob.data.attributes.provider_metadata
                      .public_id +
                    `/small`
                  }
                  clip-path={"url(#basicInfoSec_ImgFrame" + idx + ")"}
                />
              </a>
            </svg>

            {/* Blog Image Mobile view */}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 912 499"
              class="block sm:hidden"
            >
              <defs>
                <clipPath id={"basicInfoSec_ImgFrameSm" + idx}>
                  <path d="M470.9,3.8C328.1,3.8,91.7-4.1,36.3,41S1.9,247,15.5,367.5,165.7,499,481.7,499c259.7,0,340.9-31.7,406.9-141.1,28-46.5,42.8-160.9-26.2-294.1C817.6-22.6,669.9,3.8,470.9,3.8Z" />
                </clipPath>
              </defs>
              <a href={`/` + blog.Meta.URL_slug}>
                <image
                  class="w-full h-auto"
                  height="100%"
                  width="100%"
                  href={
                    url +
                    blog.Intro_blob.data.attributes.provider_metadata
                      .public_id +
                    `/small`
                  }
                  clip-path={"url(#basicInfoSec_ImgFrameSm" + idx + ")"}
                />
              </a>
            </svg>

            <a href={`/` + blog.Meta.URL_slug}>
              <div
                class={
                  idx % 2 == 0
                    ? "absolute z-20 blogLeafL_container"
                    : "absolute z-20 blogLeafR_container"
                }
              >
                <div class="blogLeaf">
                  <img
                    class="w-full h-full"
                    src={idx % 2 == 0 ? LeafImg : LeafImg1}
                    alt="tea-leaf-image"
                  />
                </div>
              </div>
            </a>
          </div>

          {/*Text content*/}

          <div
            class={
              idx % 2 == 0
                ? "w-full sm:w-1/2 order-2 h-full"
                : "w-full sm:w-1/2  order-2 sm:order-1 h-full"
            }
          >
            <div
              class={
                idx % 2 == 0
                  ? "flex flex-wrap blogHome_blogTxtContaierL"
                  : "flex flex-wrap blogHome_blogTxtContaierR"
              }
            >
              <div>
                <div class="flex flex-wrap font-bold blogHome_blogAuth">
                  {blog.authors.data.map((author, idx) => (
                    <a href="#">
                      {`${idx > 0 ? ", " : " "}` + author.attributes.givenName}
                    </a>
                  ))}
                </div>
                <ul class="flex flex-wrap items-center gap-y-1">
                  <li class="blogHome_blogItem">
                    {new Date(blog.createdAt).toLocaleString("en-US", {
                      day: "numeric",
                      month: "long",
                    })}
                  </li>
                  {/*<li class="blogHome_blogItem">5 min read</li>
                <li class="blogHome_blogItem"><a class="blogHome_blogItemBtn">Manufacturing</a></li>*/}
                </ul>

                <h1 class="blogHome_blogTitle">
                  <a href={`/` + blog.Meta.URL_slug}>{blog.Title}</a>
                  <span class="icon relative top-0">
                    <span class="relative headingInlineIcon">
                      <img
                        class="w-full h-full"
                        src={CupGreenIcon}
                        alt="cup-icon"
                      />
                    </span>
                  </span>
                </h1>
                <a href={`/` + blog.Meta.URL_slug}>
                  <div class="prose max-w-none blogHome_blogTxt">
                    <Markdown>{blog.Intro_text}</Markdown>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
