---
import Markdown from "@astrojs/markdown-component";
import Chapterize from "@components/Chapterize.astro";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

const { page, recurData } = Astro.props,
  headingType = recurData.text_chapter,
  { blogs } = page;
---

<PostDetailsLayout {page} posts={blogs} {recurData} {headingType}>
  <Markdown slot="chapters-source-html">{page.Block_text}</Markdown>

  <div slot="post-details" class="prose max-w-none basicInfoSecTxt">
    <Chapterize>
      <Markdown>{page.Block_text}</Markdown>
    </Chapterize>
  </div>
</PostDetailsLayout>
