---
import CMS from "@store/CMS";
import getLocalizedLink from "@utils/getLocalizedLink";

import Markdown from "@components/Markdown.astro";
import OrderSummary from "@components/OrderSummary.astro";

const { page, recurData } = Astro.props,
  { locale } = page,
  checkoutCartLink = CMS.get("cart", locale).Meta.URL_slug,
  checkoutShippingLink = CMS.get("checkoutShipping", locale).Meta.URL_slug,
  userAccountRecurData = CMS.get("userAccountRecurringElement", locale);
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  h2 {
    @apply font-bold text-primary leading-[140%];

    font-size: poly-fluid-clamp(
      (
        640px: 28px,
        1440px: 42px,
      )
    );
  }

  form {
    padding: poly-fluid-clamp(
      (
        640px: 25px 25px,
        1440px: 32px 56px,
      )
    );
  }

  .form-grid-container {
    @apply flex flex-col;

    gap: poly-fluid-clamp(
      (
        640px: 10px,
        1440px: 25px,
      )
    );

    .prose-text {
      font-size: poly-fluid-clamp(
        (
          640px: 18px,
          1440px: 24px,
        )
      );

      p {
        margin: 0;
      }
    }

    .form-grid {
      @apply w-full grid gap-[clamp(15px,calc(1.25vw+7px),25px)];

      @media (min-width: 640px) {
        @apply grid-cols-2;

        gap: poly-fluid-clamp(
          (
            480px: 10px 40px,
            1440px: 25px 50px,
          )
        );
      }

      .input-label {
        @apply font-semibold text-black-light text-[clamp(16px,calc(0.25vw+14.4px),18px)];
      }

      @mixin input {
        @apply bg-transparent border border-primary rounded-full 
          focus:ring focus:ring-primary-light focus:outline-none
          py-[clamp(8px,calc(0.25vw+6.4px),10px)] px-[clamp(15px,calc(0.625vw+11px),20px)]
          text-[clamp(16px,calc(0.25vw+14.4px),18px)] text-black placeholder:text-black-light;
      }

      input {
        @include input;
      }

      select {
        @include input;

        @apply w-full pr-[clamp(40px,calc(1.25vw+32px),50px)] cursor-pointer appearance-none;

        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath d='M.3.3A1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7,5.5,12.2.3A1.1,1.1,0,0,1,13,0a.9.9,0,0,1,.7.3A.9.9,0,0,1,14,1a1.1,1.1,0,0,1-.3.8L7.8,7.7A1.1,1.1,0,0,1,7,8a.9.9,0,0,1-.7-.3L.3,1.8A1.1,1.1,0,0,1,0,1,.9.9,0,0,1,.3.3Z' style='fill:%231e4848'/%3E%3C/svg%3E")
          no-repeat right 20px center;
        background-size: clamp(14px, calc(0.25vw + 12.4px), 16px);
      }

      label {
        @apply flex flex-col gap-[clamp(5px,calc(0.625vw+1px),10px)];

        span.tag-input-close-button {
          @apply absolute inset-y-0 right-0 cursor-pointer
            flex items-center pr-5 font-bold text-error-dark;
        }
      }
    }
  }

  .section-gap {
    @apply gap-[50px];
  }

  .division-gap {
    @apply gap-[clamp(25px,calc(0.625vw+21px),30px)];
  }

  .division-in-gap {
    @apply gap-[clamp(10px,calc(0.625vw+6px),15px)];
  }

  .division-in-element-gap {
    @apply gap-[clamp(5px,calc(0.625vw+1px),10px)];
  }

  .text-b5 {
    @apply text-[clamp(16px,calc(0.25vw+14.4px),18px)] leading-[150%];
  }

  @mixin radio-button {
    @apply inline-block py-2.5 px-5 text-sm 
      border-2 rounded-full cursor-pointer select-none;
  }

  .radio-button-default {
    @include radio-button;
  }

  .radio-button-extended {
    @include radio-button;

    @apply font-bold text-primary bg-white;
  }
</style>

<section class="w-full lg:w-[66.67%]">
  <form
    role="main"
    aria-label={page.Aria_label_form_text}
    id="checkout-info-form"
    class="section-gap flex flex-col"
    action={getLocalizedLink(locale, checkoutShippingLink)}
  >
    <div
      role="form"
      aria-label={page.text_contact_info}
      class="division-gap form-grid-container"
    >
      <h2 class="recoleta">{page.text_customer}</h2>

      <div
        id="guest-intro-text"
        class="prose-text prose max-w-none leading-[150%] text-black-light"
      >
        <Markdown>{page.Guest_intro_text}</Markdown>
      </div>

      <div class="form-grid">
        <label>
          <span class="input-label">{recurData.text_email_address}</span>

          <input
            type="email"
            name="email"
            placeholder={recurData.email_address_placeholder}
            required
          />
        </label>
      </div>

      <div
        id="sign-in-text"
        class="prose-text prose max-w-none leading-[150%] text-black-light"
      >
        <Markdown>{page.Sign_in_text}</Markdown>
      </div>
    </div>

    <div
      role="form"
      aria-label={page.text_shipping_address}
      class="division-gap form-grid-container"
    >
      <h2 class="recoleta">{page.text_shipping_address}</h2>

      <div>
        <div class="division-in-gap grid">
          <div class="text-b5 font-bold text-black-light">Tag to recognize</div>

          <div class="flex flex-wrap gap-2.5 sm:gap-[15px]">
            <div>
              <input
                type="radio"
                name="shipping_address"
                id={`address1`}
                value={`value`}
                checked
                class="peer hidden"
              />

              <label
                for={`address1`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
                class="radio-button-default"
              >
                Home
              </label>
            </div>

            <div>
              <input
                type="radio"
                name="shipping_address"
                id={`address2`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address2`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
              >
                Parents
              </label>
            </div>

            <div>
              <input
                type="radio"
                name="shipping_address"
                id={`address3`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address3`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
              >
                Family
              </label>
            </div>

            <div class="more-address hidden">
              <input
                type="radio"
                name="shipping_address"
                id={`address4`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address4`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
              >
                Address Line 1
              </label>
            </div>

            <div class="more-address hidden">
              <input
                type="radio"
                name="shipping_address"
                id={`address5`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address5`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
              >
                Address Line 2
              </label>
            </div>

            <div class="more-address hidden">
              <input
                type="radio"
                name="shipping_address"
                id={`address6`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address6`}
                class:list={[
                  "radio-button-default text-primary",
                  "bg-secondary-light border-secondary-light font-medium",
                  "peer-checked:font-bold peer-checked:bg-primary peer-checked:text-secondary-light",
                ]}
              >
                Address Line 3
              </label>
            </div>

            <div>
              <input
                type="radio"
                name="shipping_address"
                id={`address-tag`}
                value={`value`}
                class="peer hidden"
              />

              <label
                for={`address-tag`}
                class:list={[
                  "radio-button-extended border-white",
                  "peer-checked:border-primary",
                ]}
              >
                Add +
              </label>
            </div>

            <div
              id="address-toggle-button"
              class="flex items-center gap-1 text-primary font-bold cursor-pointer"
            >
              <svg
                id="address-arrow-left"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 8 14"
                class="hidden w-3 h-3 fill-primary"
              >
                <path
                  d="M7.7,13.7a1.1,1.1,0,0,0,.3-.8,1.1,1.1,0,0,0-.3-.7L2.5,7,7.7,1.8A1.1,1.1,0,0,0,8,1,1.1,1.1,0,0,0,7.7.3,1.1,1.1,0,0,0,7,0a1.1,1.1,0,0,0-.8.3L.3,6.2A1.1,1.1,0,0,0,0,7a.9.9,0,0,0,.3.7l5.9,6A1.1,1.1,0,0,0,7,14a1.1,1.1,0,0,0,.7-.3Z"
                ></path>
              </svg>

              <div>
                <div id="hide-address-text" class="hidden">
                  {
                    userAccountRecurData.text_hide_more_address.replace(
                      "<number>",
                      "3",
                    )
                  }
                </div>
                <div id="show-address-text">
                  {
                    userAccountRecurData.text_more_address.replace(
                      "<number>",
                      "3",
                    )
                  }
                </div>
              </div>

              <svg
                id="address-arrow-right"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 8 14"
                class="w-3 h-3 fill-primary"
              >
                <path
                  d="M.3,13.7a1.1,1.1,0,0,1-.3-.8,1.1,1.1,0,0,1,.3-.7L5.5,7,.3,1.8A1.1,1.1,0,0,1,0,1,1.1,1.1,0,0,1,.3.3,1.1,1.1,0,0,1,1,0a1.1,1.1,0,0,1,.8.3L7.7,6.2A1.1,1.1,0,0,1,8,7a.9.9,0,0,1-.3.7l-5.9,6A1.1,1.1,0,0,1,1,14a1.1,1.1,0,0,1-.7-.3Z"
                ></path>
              </svg>
            </div>
          </div>

          <div id="tag-input" class="hidden">
            <div class="form-grid">
              <label class="relative">
                <input
                  type="text"
                  name="new_tag"
                  placeholder={`Enter your tag`}
                  class="pr-[40px]"
                />

                <span class="tag-input-close-button"> &#10005;</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-grid">
        <label>
          <span class="input-label">{recurData.text_first_name}</span>

          <input
            type="text"
            name="first_name"
            placeholder={recurData.first_name_placeholder}
            required
          />
        </label>

        <label>
          <span class="input-label">{recurData.text_last_name}</span>

          <input
            type="text"
            name="last_name"
            placeholder={recurData.last_name_placeholder}
            required
          />
        </label>

        <label>
          <span class="input-label">{recurData.text_street}</span>

          <input
            type="text"
            name="street"
            placeholder={recurData.street_placeholder}
            required
          />
        </label>

        <label>
          <span class="input-label">{recurData.text_city}</span>

          <input
            type="text"
            name="city"
            placeholder={recurData.city_placeholder}
            required
          />
        </label>

        <label>
          <span class="input-label">{recurData.text_postal_code}</span>

          <input
            type="text"
            name="postal_code"
            placeholder={recurData.postal_code_placeholder}
            required
          />
        </label>

        <label>
          <span class="input-label">{recurData.text_country}</span>

          <select name="country" required>
            <option value="" selected disabled hidden>
              {recurData.country_placeholder}
            </option>

            {
              recurData.countries.data.map(
                ({ attributes: { name, localizations } }) => (
                  <option
                    value={localizations?.data[0]?.attributes?.name || name}
                  >
                    {name}
                  </option>
                ),
              )
            }
          </select>
        </label>
      </div>
    </div>

    <div class="block lg:hidden -mb-6">
      <OrderSummary page={page} />
    </div>

    <div
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-9 sm:gap-12"
    >
      <button
        class="w-full sm:w-auto py-4 px-8 sm:px-20 bg-primary text-white font-bold rounded-full"
      >
        {page.text_continue_to_shipping}
      </button>

      <a href={checkoutCartLink} class="text-primary font-bold">
        {page.text_return_to_cart}
      </a>
    </div>
  </form>
</section>

<section
  class="hidden lg:block lg:w-[36.67%] lg:border lg:border-l-primary-light"
>
  <OrderSummary page={page} />
</section>

<script is:inline>
  const id = document.getElementById.bind(document);

  const addressToggleBtn = id("address-toggle-button"),
    hideAddressTxt = id("hide-address-text"),
    showAddressTxt = id("show-address-text"),
    addressArrowLeft = id("address-arrow-left"),
    addressArrowRight = id("address-arrow-right"),
    selectorsMoreAddress = document.getElementsByClassName("more-address");

  function toggleAddress() {
    const moreAddressArray = Array.from(selectorsMoreAddress);

    moreAddressArray.forEach((item) => {
      item.classList.toggle("hidden");
    });
    hideAddressTxt.classList.toggle("hidden");
    showAddressTxt.classList.toggle("hidden");
    addressArrowLeft.classList.toggle("hidden");
    addressArrowRight.classList.toggle("hidden");
  }

  addressToggleBtn?.addEventListener("click", toggleAddress);
</script>

<script is:inline>
  const guestIntroText = document.getElementById("guest-intro-text"),
    signInText = document.getElementById("sign-in-text");

  if (window.cookies.isAuthenticated === "true") {
    guestIntroText.remove();
    signInText.remove();
  }
</script>

<script>
  const inputToBeChanged = new URLSearchParams(location.search).get("change"),
    returnToCartBtn = document.getElementById("return-to-cart-btn"),
    checkoutInfoForm = document.getElementById(
      "checkout-info-form",
    ) as HTMLFormElement;

  checkoutInfoForm?.addEventListener("submit", (event) => {
    event.preventDefault();

    const formData = Object.fromEntries(new FormData(checkoutInfoForm)),
      { street, city, country } = formData,
      contactInfo = {
        ...formData,
        delivery_address: [street, city, country].join(", "),
        kindness_cause: window.checkoutInfo.kindness_cause,
      };

    localStorage.setItem("checkout-info", JSON.stringify(contactInfo));

    location.href = checkoutInfoForm.action;
  });

  returnToCartBtn?.addEventListener("click", (event) => {
    event.preventDefault();

    window.openCart();
  });

  if (inputToBeChanged) {
    const inputElement = document.querySelector(
      `input[name=${inputToBeChanged}]`,
    ) as HTMLInputElement;

    inputElement.scrollIntoView({ block: "center" });
    inputElement.focus();
  }
</script>
