---
import CMS from "@store/CMS";
import getLocalizedLink from "@utils/getLocalizedLink";
import DynamicHTML from "@components/DynamicHTML.astro";
import OrderSummary from "@components/OrderSummary.astro";

const { page } = Astro.props,
  { locale } = page,
  checkoutFlowData = CMS.get("checkoutFlow").data.attributes,
  steps = checkoutFlowData.steps.split("\n"),
  shortenedSteps = checkoutFlowData.shortened_steps.split("\n"),
  checkoutRecurData = CMS.get("checkoutRecurringElement", locale),
  userRecurr = CMS.get("userAccountRecurringElement", locale),
  checkoutInfoLink = CMS.get("checkoutInformation", locale).Meta.URL_slug,
  checkoutPaymentLink = CMS.get("checkoutPayment", locale).Meta.URL_slug;
---

<section class="w-full xl:w-2/3">
  <form
    role="main"
    id="shipping-details"
    class="section-gap flex flex-col"
    action={getLocalizedLink(locale, checkoutPaymentLink)}
  > 
    <input type="hidden" name="price">
    <div
      role="list"
      aria-label={page.Aria_label_kindness_delivery_address_section_text}
      class="tiled-div-pad division-in-gap grid bg-secondary-light rounded-[10px]"
    >
      <div
        role="listitem"
        aria-label={page.Aria_label_email_address_text}
        class="division-in-element-gap"
      >
        <div class="input-label text-black">
          {userRecurr.Input_label_email}
        </div>

        <div class="division-in-element-gap flex flex-wrap items-center">
          <div class="input-text-large-static grow">
            <DynamicHTML htmlFn={() => window.checkoutInfo.email} />
          </div>

          <a
            aria-label={`${userRecurr.Button_change_text} ${userRecurr.Aria_label_email}`}
            href={checkoutInfoLink + "?change=email"}
            class="button-link-primary-large"
          >
            {userRecurr.Button_change_text}
          </a>
        </div>
      </div>

      <div class="w-full h-px bg-primary-lightest"></div>

      <div
        role="listitem"
        aria-label={page.Aria_label_email_address_text}
        class="division-in-element-gap"
      >
        <div class="input-label text-black">
          {userRecurr.Label_delivery_address}
        </div>

        <div class="division-in-element-gap flex flex-wrap items-center">
          <div class="input-text-large-static grow">
            <DynamicHTML htmlFn={() => window.checkoutInfo.delivery_address} />
          </div>

          <a
            aria-label={`${userRecurr.Button_change_text} ${userRecurr.Aria_label_delivery_address}`}
            href={checkoutInfoLink + "?change=street"}
            class="button-link-primary-large"
          >
            {userRecurr.Button_change_text}
          </a>
        </div>
      </div>
    </div>

    <div
      role="list"
      aria-label={page.text_shipping_method}
      class="flex flex-col gap-4"
    >
      <h2 class="recoleta text-h2 text-primary">{page.text_shipping_method}</h2>

      {
        page.shipping_methods.data.map(
          ({ attributes: { method, cost, description, localizations } }, i) => (
            <label
              role="listitem"
              class="gap-5 flex items-center cursor-pointer"
            >
              <div>
                <input
                  type="radio"
                  name="shipping_method"
                  value={localizations?.data[0]?.attributes?.method || method}
                  data-cost={cost}
                  class:list={[
                    "hover:brightness-50 active:brightness-150 block",
                    "appearance-none w-5 h-5 flex items-center justify-center border-2 border-primary rounded-full",
                    "checked:before:block before:hidden before:w-2 before:h-2 before:bg-primary before:rounded-full",
                  ]}
                  checked={i === 0 ? "" : undefined}
                  required
                />
              </div>

              <div class="division-in-element-gap grid">
                <span class="flex items-center gap-2 text-b3 font-bold text-black">
                  <span class="shipping-method">{method}</span>
                  <span>&#x2022;</span>
                  <span class="shipping-cost">
                    €{cost.toFixed(2).toString().replace(".", ",")}
                  </span>
                </span>

                <span class="text-b5 text-black-light">{description}</span>
              </div>
            </label>
          ),
        )
      }
    </div>

    <div class="block lg:hidden">
      <OrderSummary page={page} />
    </div>

    <div class="checkout-button-container">
      <a href={checkoutInfoLink} class="button-link-primary-large">
        <span class="sm:hidden">
          {
            `${
              userRecurr.Button_return_to_text
            } ${shortenedSteps[0]?.toLowerCase()}`
          }
        </span>
        <span class="hidden sm:block">
          {`${userRecurr.Button_return_to_text} ${steps[0]?.toLowerCase()}`}
        </span>
      </a>

      <button class="w-full sm:w-1/3 button-primary-large">
        {checkoutRecurData.text_continue_to_payment}
      </button>
    </div>
  </form>
</section>

<section
  role="complementary"
  aria-label={checkoutRecurData.text_order_summary}
  class="hidden xl:block xl:w-1/3"
>
  <OrderSummary page={page} />
</section>

<script>
  const shippingDetailsForm = document.getElementById("shipping-details"),
    priceInputElement = document.querySelector(
      "input[name='price']",
    ) as HTMLInputElement;

  let shippingCostInputElement = document.querySelector(
    "input[name='shipping_cost']",
  ) as HTMLInputElement;

  const updateCheckoutInfo = (input) => {
    const isShippingMethodInput = input.name === "shipping_method";

    window.checkoutInfo[input.name] = input.value;

    if (isShippingMethodInput) {
      window.checkoutInfo.shipping_cost = input.getAttribute("data-cost");
    }

    isShippingMethodInput && window.cart.updateUI(window.cart);

    localStorage.setItem("checkout-info", JSON.stringify(window.checkoutInfo));

    priceInputElement.value = window.cart.total.split(",").join(".");

    if (!shippingCostInputElement) {
      shippingCostInputElement = document.createElement("input");

      shippingCostInputElement.type = "hidden";
      shippingCostInputElement.name = "shipping_cost";
      shippingCostInputElement.value = window.checkoutInfo.shipping_cost;

      shippingDetailsForm.prepend(shippingCostInputElement);
    }
  };

  if (shippingDetailsForm) {
    const shippingDetailsFormSelectables = [
        ...shippingDetailsForm.querySelectorAll<HTMLElement>("input, button"),
      ],
      shippingMethodInputs = shippingDetailsForm.querySelectorAll(
        'input[type="radio"]',
      );

    shippingDetailsFormSelectables.forEach((selectable, i) => {
      if (selectable.tagName === "INPUT") {
        selectable.addEventListener("keydown", (event: KeyboardEvent) => {
          if (event.key === "Enter") {
            event.preventDefault();

            const nextButton = shippingDetailsFormSelectables
              .slice(i + 1)
              .find(({ tagName }) => tagName === "BUTTON");

            nextButton.click();
          }
        });
      }
    });

    shippingMethodInputs.forEach((input: HTMLInputElement) => {
      const { shipping_cost, shipping_method } = window.checkoutInfo;

      if (!(shipping_cost && shipping_method) && input.checked) {
        updateCheckoutInfo(input);
      } else if (input.value === shipping_method) {
        input.checked = true;
      }

      // the click event is named poorly, it handles all kinds of activation
      input.addEventListener("click", () => updateCheckoutInfo(input));
    });
  }
</script>
