---
import CMS from "@store/CMS";
import getLocalizedLink from "@utils/getLocalizedLink";

import Markdown from "@components/Markdown.astro";

import CheckoutInformationForm from "@solid/CheckoutInformationForm.astro";

const { page, recurData } = Astro.props,
  { locale } = page,
  checkoutCart = CMS.get("cart", locale),
  checkoutShippingLink = CMS.get("checkoutShipping", locale).Meta?.URL_slug,
  checkoutFlowData = CMS.get("checkoutFlow").data?.attributes,
  shortenedSteps = checkoutFlowData?.shortened_steps?.split("\n");
---

<form
  id="checkout-info-form"
  class="section-gap flex flex-col"
  action={getLocalizedLink(locale, checkoutShippingLink)}
>
  <div role="form" class="division-gap grid">
    <h2 class="text-h2 text-primary">{page?.Block_title}</h2>

    <div id="guest-intro-text" class="prose-text-sm no-pad-mar-child">
      <Markdown>{page?.Guest_intro_text}</Markdown>
    </div>

    <div class="form-grid">
      <label>
        <span>{recurData?.text_email_address}</span>

        <input
          type="email"
          name="email"
          placeholder={recurData?.email_address_placeholder}
          required
        />
      </label>
    </div>

    <div id="sign-in-text" class="prose-text-sm no-pad-mar-child">
      <Markdown>{page?.Sign_in_text}</Markdown>
    </div>
  </div>

  <script is:inline>
    const guestIntroText = document.getElementById("guest-intro-text"),
      signInText = document.getElementById("sign-in-text");

    if (window.cookies.isAuthenticated === "true") {
      guestIntroText.remove();
      signInText.remove();
    }
  </script>

  <div class="w-full h-px bg-primary-lightest"></div>

  <div role="form" id="shipping-address" class="division-gap grid">
    <h2 class="text-h2 text-primary">
      {page?.Block2_title}
    </h2>

    <CheckoutInformationForm {recurData} />
  </div>

  <div class="checkout-button-container">
    <a href={checkoutCart?.Meta?.URL_slug} class="button-link-primary-large">
      {`${recurData?.text_return_to} ${checkoutCart?.Title?.toLowerCase()}`}
    </a>

    <button class="w-full sm:max-w-[250px] button-primary-large">
      {`${recurData?.text_continue_to} ${shortenedSteps[1]?.toLowerCase()}`}
    </button>
  </div>
</form>

<script>
  const change = new URLSearchParams(location.search).get("change");

  if (["email", "address"].includes(change)) {
    const elementToScrollTo = document.querySelector(
      change === "email" ? "input[name=email]" : "#shipping-address",
    ) as HTMLElement;

    elementToScrollTo.scrollIntoView({
      block: change === "email" ? "center" : "start",
    });

    elementToScrollTo.focus();
  }
</script>
