---
import { Picture } from "astro-imagetools/components";

import CMS from "@store/CMS";
import Markdown from "@components/Markdown.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";

import CheckoutKindnessScript from "@solid/CheckoutKindnessScript";

const { page, recurData } = Astro.props,
  { locale } = page,
  { STRAPI_URL } = import.meta.env,
  checkoutRecurData = CMS.get("checkoutRecurringElement", locale);

const checkoutSuccessLink = `/${locale}/${
    CMS.get("checkoutSuccess", locale).Meta.URL_slug
  }/`,
  checkoutShippingLink = `/${locale}/${
    CMS.get("checkoutShipping", locale).Meta.URL_slug
  }/`,
  checkoutPaymentLink = `/${locale}/${
    CMS.get("checkoutPayment", locale).Meta.URL_slug
  }/`,
  shopLink = `/${locale}/${CMS.get("homeProduct", locale).Meta.URL_slug}/`;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .kindness-causes {
    > .active-kindness-cause {
      @apply -m-3 p-1.5 bg-primary;

      clip-path: url(#kindness-cause-card-curve);
    }
  }

  #submit-cause-btn:disabled {
    @apply bg-black-lighter text-white;
  }
</style>

<script define:vars={{ checkoutShippingLink, checkoutPaymentLink, shopLink }}>
  const { paymentID, redirect_status } = Object.fromEntries(
    new URLSearchParams(location.search),
  );

  if (redirect_status === "failed") {
    location.href = `${checkoutPaymentLink}?redirect_status=failed`;
  } else if (
    redirect_status === "succeeded" &&
    !location.search.includes("clear=cart")
  ) {
    location.href = `${location.href}&clear=cart`;
  } else if (!paymentID) {
    const cartLength = Object.keys(window.cart).length;
    location.href = cartLength === 0 ? shopLink : checkoutShippingLink;
  }

  window.paymentID = paymentID;
</script>

<ClipPathSVG
  id="kindness-cause-card-curve"
  path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
/>

<div class="wrapper section-gap flex flex-col section-in-v-pad">
  <section class="text-center flex flex-col division-gap">
    <h1 class="recoleta text-h1 text-primary font-semibold">{page.Title}</h1>

    <div class="text-b3 text-black-light">
      <Markdown>{page.Intro_text}</Markdown>
    </div>
  </section>

  <section
    role="list"
    aria-label={checkoutRecurData.Aria_label_kindness_cause_items_text}
    class:list={[
      "kindness-causes card-gap flex flex-col",
      "sm:flex-row flex-wrap justify-center sm:justify-center",
    ]}
  >
    {
      page.kindness_causes.data.map(
        ({
          attributes: { cause, description, featured_blob, localizations },
        }) => (
          <div
            tabindex="0"
            role="listitem"
            aria-label={cause}
            class="kindness-cause"
            data-cause={localizations?.data[0]?.attributes?.cause || cause}
          >
            <input
              type="radio"
              name="kindness_cause"
              id={`cause_${cause}`}
              class="hidden"
            />
            <label for={`cause_${cause}`} class="relative h-full">
              <div
                style="clip-path: url(#kindness-cause-card-curve);"
                class:list={[
                  "relative w-full h-full sm:w-[380px]",
                  "flex flex-col bg-primary cursor-pointer",
                ]}
              >
                <div class="h-[320px]">
                  <Picture
                    layout="fill"
                    sizes="(min-width: 640px) 320px, 90vw"
                    alt={featured_blob.data.attributes.alternativeText}
                    src={STRAPI_URL + featured_blob.data.attributes.url}
                  />
                </div>

                <div
                  class:list={[
                    "grow px-[35px] pt-[20px] pb-[25px]",
                    "division-in-gap flex flex-col justify-start text-white",
                  ]}
                >
                  <h2 class="recoleta text-h5-sm font-semibold">{cause}</h2>

                  <div class="text-b6-sm">
                    <Markdown>{description}</Markdown>
                  </div>
                </div>
              </div>
            </label>
          </div>
        ),
      )
    }
  </section>

  <!-- <section
    role="list"
    aria-label={checkoutRecurData.Aria_label_kindness_cause_items_text}
    class:list={[
      "kindness-causes card-gap flex flex-col",
      "sm:flex-row flex-wrap justfify-center sm:justify-center",
    ]}
  >
    {
      page.kindness_causes.data.map(
        ({
          attributes: { cause, description, featured_blob, localizations },
        }) => (
          <div
            tabindex="0"
            role="listitem"
            aria-label={cause}
            class="kindness-cause"
            data-cause={localizations?.data[0]?.attributes?.cause || cause}
          >
            <div class="h-full">
              
              <div
                style="clip-path: url(#kindness-cause-card-curve);"
                class:list={[
                  "relative w-full h-full sm:w-[380px]",
                  "flex flex-col bg-primary cursor-pointer",
                ]}
              >
                <div class="h-[320px]">
                  <Picture
                    layout="fill"
                    sizes="(min-width: 640px) 320px, 90vw"
                    alt={featured_blob.data.attributes.alternativeText}
                    src={STRAPI_URL + featured_blob.data.attributes.url}
                  />
                </div>

                <div
                  class:list={[
                    "grow px-[35px] pt-[20px] pb-[25px] ",
                    "division-in-gap flex flex-col justify-start text-white",
                  ]}
                >
                  <h2 class="recoleta text-h5-sm font-semibold">{cause}</h2>

                  <div class="text-b6-sm">
                    <Markdown>{description}</Markdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ),
      )
    }
  </section> -->

  <div
    class:list={[
      "flex flex-col-reverse sm:flex-row",
      " items-center justify-center form-gap mx-auto w-full",
    ]}
  >
    <a href={checkoutSuccessLink} class="text-primary font-bold">
      {recurData.text_skip}
    </a>

    <button
      disabled
      id="submit-cause-btn"
      class:list={[
        "w-full sm:w-auto py-[15px] px-[25px] sm:px-24",
        "bg-primary text-white font-bold rounded-full text-b5",
      ]}
    >
      {page.text_submit_kindness_cause}
    </button>
  </div>
</div>

<CheckoutKindnessScript client:only checkoutSuccessLink={checkoutSuccessLink} />
