---
import { Picture } from "astro-imagetools/components";

import CMS from "@store/CMS";
import Markdown from "@components/Markdown.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";

import CheckoutKindnessScript from "@solid/CheckoutKindnessScript";

const { page, recurData } = Astro.props,
  { locale } = page,
  { STRAPI_URL } = import.meta.env,
  checkoutRecurData = CMS.get("checkoutRecurringElement", locale);

const checkoutSuccessLink = `/${locale}/${
    CMS.get("checkoutSuccess", locale).Meta.URL_slug
  }/`,
  checkoutShippingLink = `/${locale}/${
    CMS.get("checkoutShipping", locale).Meta.URL_slug
  }/`,
  checkoutPaymentLink = `/${locale}/${
    CMS.get("checkoutPayment", locale).Meta.URL_slug
  }/`,
  shopLink = `/${locale}/${CMS.get("homeProduct", locale).Meta.URL_slug}/`;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  .kindness-cause-pad {
    padding: poly-fluid-clamp-primary(2px, 5px);
  }

  .kindness-cause-clip-path {
    clip-path: url(#blob-card-curve);
  }
</style>

<script define:vars={{ checkoutShippingLink, checkoutPaymentLink, shopLink }}>
  const { paymentID, redirect_status } = Object.fromEntries(
    new URLSearchParams(location.search),
  );

  if (redirect_status === "failed") {
    location.href = `${checkoutPaymentLink}?redirect_status=failed`;
  } else if (
    redirect_status === "succeeded" &&
    !location.search.includes("clear=cart")
  ) {
    location.href = `${location.href}&clear=cart`;
  } else if (!paymentID) {
    const cartLength = Object.keys(window.cart).length;
    location.href = cartLength === 0 ? shopLink : checkoutShippingLink;
  }

  window.paymentID = paymentID;
</script>

<div class="text-center flex flex-col division-in-gap">
  <h1 class="text-h1 text-primary">{page.Title}</h1>

  <div class="prose-text no-pad-mar-child">
    <Markdown>{page.Intro_text}</Markdown>
  </div>
</div>

<div
  role="list"
  aria-label={checkoutRecurData.Aria_label_kindness_cause_items_text}
  class="blob-cards-container"
>
  {
    page.kindness_causes.data.map(
      ({
        attributes: { cause, description, featured_blob, localizations },
      }) => (
        <div
          tabindex="0"
          role="listitem"
          aria-label={cause}
          data-cause={localizations?.data[0]?.attributes?.cause || cause}
          class="post-card !bg-transparent"
          onclick="document.getElementById('submit-cause-btn').removeAttribute('disabled')"
        >
          <input
            type="radio"
            name="kindness_cause"
            id={cause}
            value={cause}
            class="peer !hidden"
          />

          <label
            for={cause}
            class:list={[
              "kindness-cause-clip-path kindness-cause-pad",
              "peer-checked:bg-primary select-none cursor-pointer",
            ]}
          >
            <span class="kindness-cause-clip-path kindness-cause-pad h-full block bg-secondary">
              <span class="kindness-cause-clip-path bg-primary h-full grid justify-center">
                <Picture
                  layout="fill"
                  sizes="(min-width: 640px) 320px, 90vw)"
                  src={STRAPI_URL + featured_blob.data.attributes.url}
                  alt={featured_blob.data.attributes.alternativeText}
                  attributes={{
                    img: {
                      style: "aspect-ratio: 6 / 5;",
                    },
                  }}
                />

                <span class="card-content-container">
                  <span class="post-title">{cause}</span>

                  <div class="text-secondary-light text-b6-xs line-clamp-3">
                    {description}
                  </div>
                </span>
              </span>
            </span>
          </label>
        </div>
      ),
    )
  }
</div>

<div
  class:list={[
    "flex flex-col-reverse sm:flex-row",
    "items-center justify-center form-gap",
  ]}
>
  <a href={checkoutSuccessLink} class="button-link-primary-large">
    {recurData.text_skip}
  </a>

  <button
    disabled
    id="submit-cause-btn"
    class="button-primary-large w-full sm:min-w-[250px] sm:w-fit"
  >
    {page.text_submit_kindness_cause}
  </button>
</div>

<CheckoutKindnessScript client:only checkoutSuccessLink={checkoutSuccessLink} />
