---
import CMS from "@store/CMS";
import DynamicHTML from "@components/DynamicHTML.astro";
import OrderSummary from "@components/OrderSummary.astro";
import shouldDisplayExperimentals from "@utils/shouldDisplayExperimentals";

const { page, recurData } = Astro.props,
  { locale } = page,
  checkoutRecurData = CMS.get("checkoutRecurringElement", locale);
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  #shipping-details {
    padding: poly-fluid-clamp(
      (
        375px: 50px 24px,
        1024px: 50px 29px,
      )
    );

    @media (min-width: 1024px) {
      padding: poly-fluid-clamp(
        (
          1024px: 29px 42px,
          1440px: 32px 56px,
        )
      );
    }
  }

  h2 {
    @apply font-normal text-primary leading-[110%];

    font-size: poly-fluid-clamp(
      (
        375px: 28px,
        1440px: 32px,
      )
    );
  }

  .shipping-detail {
    @apply flex flex-col gap-1.5;

    div {
      &:first-of-type {
        @apply font-bold text-dark;

        font-size: poly-fluid-clamp(
          (
            375px: 16px,
            1440px: 18px,
          )
        );
      }

      &:last-of-type {
        @apply flex justify-between;

        gap: poly-fluid-clamp(
          (
            375px: 20px,
            1440px: 68px,
          )
        );

        p {
          @apply text-primary grow;

          font-size: poly-fluid-clamp(
            (
              375px: 18px,
              1440px: 24px,
            )
          );
        }

        a {
          @apply font-semibold text-primary leading-[130%];

          font-size: poly-fluid-clamp(
            (
              375px: 18px,
              1440px: 24px,
            )
          );
        }
      }
    }
  }

  .shipping-method,
  .shipping-cost {
    font-size: poly-fluid-clamp(
      (
        375px: 18px,
        1440px: 24px,
      )
    );
  }
  .shipping-description {
    font-size: poly-fluid-clamp(
      (
        375px: 16px,
        1440px: 18px,
      )
    );
  }
</style>

<script define:vars={{ companyName: recurData.Company_name }}>
  if (Object.keys(window.checkoutInfo).length === 0) {
    location.href = "/" + window.preferredLocale + "/checkout/information";
  } else if (!window.checkoutInfo.kindness_cause) {
    location.href = "/" + window.preferredLocale + "/checkout/kindness";
  }

  window.companyName = companyName;
</script>

<section class="w-full lg:w-[66.67%]">
  <form
    method="POST"
    id="shipping-details"
    class="flex flex-col gap-12"
    action={shouldDisplayExperimentals
      ? "https://dev.pay.scripts.dilmahtea.me"
      : "https://pay.scripts.dilmahtea.me"}
  >
    <DynamicHTML
      htmlFn={() => {
        const { origin, pathname } = location;

        const product_desc = Object.keys(window.cart)
          .map((id) => {
            const productData = window.cart[id],
              names = JSON.parse(productData.names),
              name = names[preferredLocale] || names["en"];

            return `${productData.quantity}x ${name}`;
          })
          .join(", ");

        const paymentInfo = {
          ...window.checkoutInfo,
          product_name: window.companyName,
          product_desc,
          cart: JSON.stringify(window.cart),
          tax: window.cart.tax.split(",").join("."),
          price: window.cart.total.split(",").join("."),
          payment_type: "ecommerce",
          locale: preferredLocale,
          origin_url: origin + pathname,
          success_url: `${origin}/${preferredLocale}/checkout/success?clear=cart`,
        };

        delete paymentInfo.delivery_address;

        return Object.keys(paymentInfo)
          .map(
            (name) =>
              `<input type="hidden" name="${name}" value='${paymentInfo[name]}' />`
          )
          .join("");
      }}
    />

    <div
      role="list"
      aria-label={page.Aria_label_kindness_delivery_address_section_text}
      class="p-4 gap-6 flex flex-col bg-lightgray2 rounded-2xl"
    >
      <div
        role="listitem"
        aria-label={page.Aria_label_email_address_text}
        class="shipping-detail"
      >
        <div>{page.text_contact}</div>

        <div>
          <p>
            <DynamicHTML htmlFn={() => window.checkoutInfo.email} />
          </p>

          <a
            aria-label={page.Aria_label_change_text +
              ` ` +
              page.Aria_label_email_address_text}
            href="/checkout/information?change=email"
          >
            {page.text_change}
          </a>
        </div>
      </div>

      <div class="border border-dark opacity-80"></div>

      <div
        role="listitem"
        aria-label={page.Aria_label_delivery_address_text}
        class="shipping-detail"
      >
        <div>{page.text_delivery_address}</div>

        <div>
          <p>
            <DynamicHTML htmlFn={() => window.checkoutInfo.delivery_address} />
          </p>

          <a
            aria-label={page.Aria_label_change_text +
              ` ` +
              page.Aria_label_delivery_address_text}
            href="/checkout/information?change=street"
          >
            {page.text_change}
          </a>
        </div>
      </div>
    </div>

    <div
      role="list"
      aria-label={page.text_shipping_method}
      class="flex flex-col gap-4"
    >
      <h2 class="alice">{page.text_shipping_method}</h2>

      {
        page.shipping_methods.data.map(
          ({ attributes: { method, cost, description, localizations } }, i) => (
            <label
              role="listitem"
              class="gap-5 flex items-center cursor-pointer"
            >
              <div>
                <input
                type="radio"
                name="shipping_method"
                value={localizations?.data[0]?.attributes?.method || method}
                data-cost={cost}
                class:list={[
                  "hover:brightness-50 active:brightness-150 block",
                  "appearance-none w-5 h-5 flex items-center justify-center border-2 border-primary rounded-full",
                  "checked:before:block before:hidden before:w-2 before:h-2 before:bg-primary before:rounded-full",
                ]}
                checked={i === 0 ? "" : undefined}
                required
              />
              </div>
              
              <div class="grid gap-[5px]">
                <span class="gap-3 flex items-center">
                  <span class="shipping-method font-semibold text-dark2 leading-[130%]">
                    {method}
                  </span>
                  <span class="w-1 h-1 bg-primary rounded-full" />
                  <span class="shipping-cost font-semibold text-dark2 leading-[130%]">
                    € {cost.toFixed(2).toString().replace(".", ",")}
                  </span>
                </span>

                <span class="shipping-description text-dark2 leading-[130%]">
                  {description}
                </span>
              </div>
            </label>
          )
        )
      }
    </div>

    <div class="block lg:hidden -mb-6">
      <OrderSummary page={page} />
    </div>

    <div
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-9 sm:gap-12"
    >
      <button
        type="submit"
        class="w-full sm:w-auto py-4 px-20 sm:px-24 bg-primary text-lightgray font-bold rounded-full"
      >
        {checkoutRecurData.text_continue_to_payment}
      </button>

      <a href="/checkout/information" class="text-primary font-bold">
        {checkoutRecurData.text_return_to_information}
      </a>
    </div>
  </form>
</section>

<section
  role="complementary"
  aria-label={checkoutRecurData.text_order_summary}
  class="hidden lg:block lg:w-[36.67%] lg:border lg:border-l-lightgreen"
>
  <OrderSummary page={page} />
</section>

<script>
  declare global {
    interface Window {
      checkoutInfo: Record<string, string>;
    }
  }

  const shippingDetailsForm = document.getElementById("shipping-details"),
    priceInputElement = document.querySelector(
      "input[name='price']"
    ) as HTMLInputElement;

  let shippingCostInputElement = document.querySelector(
    "input[name='shipping_cost']"
  ) as HTMLInputElement;

  const updateCheckoutInfo = (input) => {
    const isShippingMethodInput = input.name === "shipping_method";

    window.checkoutInfo[input.name] = input.value;

    if (isShippingMethodInput) {
      window.checkoutInfo.shipping_cost = input.getAttribute("data-cost");
    }

    isShippingMethodInput && window.cart.updateUI(window.cart);

    localStorage.setItem("checkout-info", JSON.stringify(window.checkoutInfo));

    priceInputElement.value = window.cart.total.split(",").join(".");

    if (!shippingCostInputElement) {
      shippingCostInputElement = document.createElement("input");

      shippingCostInputElement.type = "hidden";
      shippingCostInputElement.name = "shipping_cost";
      shippingCostInputElement.value = window.checkoutInfo.shipping_cost;

      shippingDetailsForm.prepend(shippingCostInputElement);
    }
  };

  if (shippingDetailsForm) {
    const shippingDetailsFormSelectables = [
        ...shippingDetailsForm.querySelectorAll<HTMLElement>("input, button"),
      ],
      shippingMethodInputs = shippingDetailsForm.querySelectorAll(
        'input[type="radio"]'
      );

    shippingDetailsFormSelectables.forEach((selectable, i) => {
      if (selectable.tagName === "INPUT") {
        selectable.addEventListener("keydown", (event: KeyboardEvent) => {
          if (event.key === "Enter") {
            event.preventDefault();

            const nextButton = shippingDetailsFormSelectables
              .slice(i + 1)
              .find(({ tagName }) => tagName === "BUTTON");

            nextButton.click();
          }
        });
      }
    });

    shippingMethodInputs.forEach((input: HTMLInputElement) => {
      const { shipping_cost, shipping_method } = window.checkoutInfo;

      if (!(shipping_cost && shipping_method) && input.checked) {
        updateCheckoutInfo(input);
      } else if (input.value === shipping_method) {
        input.checked = true;
      }

      // the click event is named poorly, it handles all kinds of activation
      input.addEventListener("click", () => updateCheckoutInfo(input));
    });
  }
</script>
