---
import RecurringImages from "@store/RecurringImages";
import DynamicHTML from "@components/DynamicHTML.astro";
import BasicPageHero from "@components/BasicPageHero.astro";
import shouldDisplayExperimentals from "@utils/shouldDisplayExperimentals";

const { light_green_cup, light_green_flower } = RecurringImages;

const { locale, page, recurData } = Astro.props,
  { Perk: perk, Price_EUR_excl_VAT: price } = page,
  product_desc = `${page.Title} Plan`,
  product_name = recurData.Company_name;
---

<style lang="scss">
  @use "src/styles/colors";

  .form-heading-icon {
    height: clamp(38px, 3.5vw + 6px, 58px);
  }

  .form-grid {
    @apply mt-[30px] gap-x-[60px] lg:gap-x-[40px] gap-y-[50px];

    label {
      @apply text-[1.125rem];

      color: colors.$input-label;

      input,
      select {
        border: 1px solid colors.$primary;

        @apply block w-full mt-2.5 px-4 py-3.5 text-lg rounded-[20px] bg-transparent;
        @apply focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring;
      }

      select {
        &:required:invalid {
          color: colors.$input;
        }

        option[value=""][disabled] {
          display: none;
        }
      }

      input:is([type="text"], [type="email"])::placeholder {
        color: colors.$input;

        @apply text-[1.125rem];
      }
    }
  }
</style>

<BasicPageHero title={page.Title} introText={page.Intro_text} />

{/* Form Section */}

<form
  role="main"
  method="POST"
  class="mx-auto pt-[130px] pb-[100px] max-w-[940px]"
  action={shouldDisplayExperimentals
    ? "https://dev.pay.scripts.dilmahtea.me"
    : "https://pay.scripts.dilmahtea.me"}
>
  <div>
    <div
      class="pb-0.5 inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7"
    >
      <h2 class="heading-primary text-primary">
        {locale === "nl" ? "Basis gegevens" : "Basic info"}
      </h2>

      <img class="form-heading-icon" {...light_green_cup} />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 form-grid">
      <label>
        {locale === "nl" ? "Voornaam" : "First Name"}

        <input
          type="text"
          name="first_name"
          placeholder={locale === "nl" ? "Voornaam" : "First Name"}
          required
        />
      </label>

      <label>
        {locale === "nl" ? "Achternaam" : "Last Name"}

        <input
          type="text"
          name="last_name"
          placeholder={locale === "nl" ? "Achternaam" : "Last Name"}
          required
        />
      </label>

      <label>
        {locale === "nl" ? "E-mailadres" : "Email Address"}

        <input
          type="email"
          name="email"
          placeholder={locale === "nl"
            ? "Vul je e-mailadres in"
            : "Enter your email address"}
          required
        />
      </label>

      <label>
        {locale === "nl" ? "Favoriete thee" : "Favourite Tea"}

        <input
          type="text"
          name="favorite_tea"
          placeholder={locale === "nl" ? "Earl Grey" : "Black Tea"}
          required
        />
      </label>
    </div>
  </div>

  <div class="py-[50px]">
    <div class="inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7">
      <h3 class="heading-primary text-primary">
        {locale === "nl" ? "Factuurgegevens" : "Billing details"}
      </h3>

      <img class="form-heading-icon" {...light_green_flower} />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 form-grid">
      <label>
        {locale === "nl" ? "Land" : "Country"}

        <select name="country" required>
          <option value="" disabled>
            {
              locale === "nl"
                ? "Selecteer jouw land"
                : "Select or type your country"
            }
          </option>

          <option value="Netherlands" selected>
            {locale === "nl" ? "Nederland" : "Netherlands"}
          </option>
        </select>
      </label>

      <label>
        {locale === "nl" ? "Plaatsnaam" : "City"}

        <input
          type="text"
          name="city"
          placeholder={locale === "nl"
            ? "Vul je plaatsnaam in"
            : "Enter your city address"}
          required
        />
      </label>

      <label>
        {locale === "nl" ? "Straat en huisnummer" : "Street and house number"}

        <input
          type="text"
          name="street"
          placeholder={locale === "nl"
            ? "Vul je straat en huisnummer in"
            : "Enter your street address"}
          required
        />
      </label>

      <label>
        {locale === "nl" ? "Postcode" : "Postal Code"}

        <input
          type="text"
          name="postal_code"
          placeholder={locale === "nl"
            ? "Vul je postcode in"
            : "Enter your postal code"}
          required
        />
      </label>
    </div>

    <input type="hidden" name="perk" value={perk} />

    <input type="hidden" name="product_name" value={product_name} />
    <input type="hidden" name="product_desc" value={product_desc} />

    <input type="hidden" name="price" value={price} />

    <input type="hidden" name="payment_type" value="crowdfunding" />

    <input type="hidden" name="locale" value={locale} />

    <DynamicHTML
      htmlFn={(content) => {
        const { origin, pathname } = location,
          origin_url = origin + pathname,
          success_url = `${origin}/${window.preferredLocale}/crowdfunding-confirmation`;

        return window.replacePlaceholders(content, {
          origin_url,
          success_url,
        });
      }}
    >
      <input
        type="hidden"
        name="origin_url"
        value={`<placeholder name="origin_url"></placeholder>`}
      />

      <input
        type="hidden"
        name="success_url"
        value={`<placeholder name="success_url"></placeholder>`}
      />
    </DynamicHTML>

    <input
      type="submit"
      class:list={[
        "text-[16px] font-bold bg-primary rounded-[40px] cursor-pointer",
        "w-full md:w-[300px] mt-[70px] md:mt-[100px] py-[16px] px-[30px]",
      ]}
      value={locale === "nl" ? "Naar betaalgegevens" : "To payment details"}
      required
    />
  </div>
</form>

<script>
  import fillUpForm from "@utils/client/fillUpForm";

  const crowdfundingFormEntries = [...new URLSearchParams(location.search)];

  fillUpForm(crowdfundingFormEntries);
</script>
