---
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import Hero from "@components/Hero.astro";
import PlanCards from "@components/PlanCards.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import ClippedPicture from "@components/ClippedPicture.astro";
import CrowdfundingProgress from "@components/CrowdfundingProgress.astro";

import RecurringImages from "@store/RecurringImages";

const {
  white_cup,
  white_flower,
  green_love_ribbon,
  crowdfunding_info_section_background,
} = RecurringImages;

const { page } = Astro.props,
  { ASSETS_URL } = import.meta.env;

// fetch crowdfunding stats from Cloudflare Worker
const { supportersCount, totalAmountRaised } = await fetch(
  "https://crowdfunding-stats.scripts.dilmahtea.me"
).then((res) => res.json());

// calculate crowdfunding progress percent
const goal = 100000,
  initialProgress = `0%`,
  animationDuration = 1000,
  progress = totalAmountRaised / goal,
  finalProgress = `${progress * 100}%`;
---

<style lang="scss">
  @use "src/styles/colors";

  .hero-text {
    padding-top: clamp(14px, 1.5vw, 20px);
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.25rem);
  }

  .crowdfunding-info-text {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.5rem);

    &,
    a {
      color: colors.$light-gray;
    }
  }
</style>

{/* Hero Section */}
<Hero>
  {/* Text Content */}
  <div class="wrapper hero-text-container h-full relative z-30">
    <div
      role="banner"
      class="flex flex-wrap items-center sm:w-7/12 h-full sm:pb-8 md:pb-0"
    >
      <div class="mt-[30px] sm:mt-4 lg:mt-0">
        <h1 class="hero-title">
          {page.Title}

          <span class="icon">
            <img class="heading-inline-icon" {...white_cup} />
          </span>
        </h1>

        <div class="hero-text prose text-lightgray leading-normal max-w-none">
          <Markdown>{page.Intro_text}</Markdown>
        </div>

        <a
          href={page.Heading_button_link}
          class:list={[
            "flex items-center justify-center font-bold text-primary text-center bg-lightgray rounded-full",
            "w-[200px] p-[10px] mt-5",
          ]}
        >
          <span class="icon h-6">
            <img class="w-full h-full" {...green_love_ribbon} />
          </span>

          {page.Heading_button_text}
        </a>
      </div>
    </div>
  </div>

  {/* Blob Image - Desktop View */}
  <div class="h-full hidden sm:block absolute z-20 hero-img-curve-container">
    <ClipPathSVG
      id="hero-img-curve"
      path="M1 0H.052C-.055.156.033.342.049.606.065.888.178 1 .555 1 .843 1 .918.906 1 .854"
    />

    <div
      class="relative w-full h-full"
      style="clip-path: url(#hero-img-curve);"
    >
      <Picture
        layout="fill"
        alt={page.Intro_blob.data.attributes.alternativeText}
        src={ASSETS_URL + page.Intro_blob.data.attributes.url}
      />

      <div
        class:list={[
          "absolute bottom-0 z-10 w-full flex items-center justify-center",
          "py-[12%]",
        ]}
      >
        <div class="w-full h-full absolute top-0 left-0 bg-black opacity-70">
        </div>

        <CrowdfundingProgress
          goalText={page.Heading_goal}
          supportersText={page.Heading_supporters}
          {supportersCount}
          {totalAmountRaised}
        />
      </div>
    </div>
  </div>
</Hero>

{/* Blob Image - Mobile View */}
<div class="hero-img-sm-container block sm:hidden w-full -mt-20 relative z-20">
  <ClipPathSVG
    id="hero-img-curve-sm"
    path="M1 .074v.904S.906 1 .774 1C.706 1 .637.996.569.993.487.989.405.984.324.986a4.576 4.576 0 0 0-.117.005C.115.996.032 1.001 0 .986V.074C.062.024.147 0 .282 0c.075 0 .165.023.244.043.062.016.118.03.154.03.026 0 .06-.007.097-.014C.861.044.959.025 1 .074"
  />

  <div
    class="relative w-full h-full"
    style="clip-path: url(#hero-img-curve-sm);"
  >
    <Picture
      layout="fill"
      alt={page.Intro_blob.data.attributes.alternativeText}
      src={ASSETS_URL + page.Intro_blob.data.attributes.url}
    />

    <div
      class="absolute bottom-0 z-10 w-full flex items-center justify-center p-[25px]"
    >
      <div class="w-full h-full absolute top-0 left-0 bg-black opacity-70">
      </div>

      <CrowdfundingProgress
        goalText={page.Heading_goal}
        supportersText={page.Heading_supporters}
        {supportersCount}
        {totalAmountRaised}
      />
    </div>
  </div>
</div>

<script
  defer
  define:vars={{ initialProgress, finalProgress, animationDuration }}
>
  const progressBars = document.querySelectorAll(".progress-bar");

  // update crowdfunding progress-tracker width
  progressBars.forEach((progressBar) => {
    progressBar.animate(
      { width: [initialProgress, finalProgress] },
      animationDuration
    ).onfinish = () => {
      progressBar.style.width = finalProgress;
    };
  });
</script>

{/* Plans Section */}
<section class="wrapper py-6 sm:py-[50px]" role="main">
  <h2 id="plans" class="heading-primary text-primary">
    {page.Heading_plans}
  </h2>

  <PlanCards allPlans={page.allPlans} />
</section>

{/* Info Section */}
<section
  class="relative h-[400px] sm:h-[clamp(400px,20vw+430px,840px)] overflow-hidden"
>
  {/* Background  */}
  <div class="w-screen h-full absolute z-10 -top-10 sm:top-0 -left-0.5">
    <ClippedPicture
      id="crowdfunding-info-bg-curve"
      src={crowdfunding_info_section_background.src}
      path="M1,0.055 S0.962,-0.005,0.847,0 C0.729,0.006,0.602,0.049,0.484,0.044 C0.381,0.04,0.239,0.018,0.136,0.028 C0.073,0.034,0,0.055,0,0.055 V0.965 s0.032,0.035,0.156,0.035 c0.061,0,0.136,-0.012,0.193,-0.027 c0.06,-0.016,0.161,-0.017,0.231,-0.017 c0.074,0,0.2,0.037,0.315,0.01 s0.106,-0.071,0.106,-0.071 V0.055"
    />
  </div>

  {/* Blob Image - Desktop View */}
  <div
    class="hidden sm:block absolute left-0 right-0 z-20 w-full sm:w-1/2 h-full py-20 pl-0 pr-6 lg:pr-12"
  >
    <ClippedPicture
      id="crowdfunding-info-img-curve"
      pictureStyle="position: relative; left: -20px;"
      alt={page.Block_blob.data.attributes.alternativeText}
      src={ASSETS_URL + page.Block_blob.data.attributes.url}
      path="M1 .494V.507A.019.028 0 0 0 1 .51v.016A.024.035 0 0 0 1 .53L.998.579C.991.693.986.856.835.945a.362.362 0 0 1-.222.05C.567.992.521.984.473.981L.438.98C.357.98.275 1 .204 1A.19.19 0 0 1 .079.961C-.011.886.018.658.018.485.018.396.005.337.001.277A.191.28 0 0 1 0 .244C0 .206.004.166.018.115.041.025.106.004.189.003c.071 0 .155.015.238.015L.45.017C.494.014.551.006.612.002.708-.004.816.001.893.063.976.13.997.311 1 .449v.025"
    />
  </div>

  {/* Text Content */}
  <div
    role="complementary"
    class="wrapper h-full relative z-30 flex flex-wrap justify-end"
  >
    <div
      class="relative w-full sm:w-1/2 h-full flex flex-col sm:justify-center py-6 sm:py-0 sm:pl-6 lg:pl-12"
    >
      <h2 class="heading-primary leading-tight tracking-tight">
        {page.Heading_block}

        <span class="icon">
          <img class="heading-inline-icon" {...white_flower} />
        </span>
      </h2>

      <div
        class:list={[
          "crowdfunding-info-text pt-0.5 mt-7 sm:mt-12 overflow-hidden",
          "prose max-w-none line-clamp-5 leading-normal tracking-tight",
        ]}
      >
        <Markdown>{page.Block_text}</Markdown>
      </div>
    </div>
  </div>
</section>

{/* Blob Image - Mobile View */}
<div class="block sm:hidden w-screen relative z-20 -mt-28">
  <ClippedPicture
    id="crowdfunding-info-img-curve-sm"
    alt={page.Block_blob.data.attributes.alternativeText}
    src={ASSETS_URL + page.Block_blob.data.attributes.url}
    path="M.282 0C.147 0 .062.021 0 .064V.97c.045.046.195.006.324 0C.473.963.625 1 .774 1A.561.561 0 0 0 1 .954v-.89c-.059-.061-.237 0-.32 0S.417 0 .282 0"
  />
</div>

<div class="h-8"></div>
