---
import CupIcon from "@images/cup.svg";
import LoveIcon from "@images/love.svg";
import CupIconG from "@images/cupLightgreen.svg";
import FlowerIconG from "@images/flowerLightgreen.svg";

import Markdown from "@astrojs/markdown-component";
import HeroBackground from "../HeroBackground.astro";
import UpdateHeroTopMargin from "../scripts/UpdateHeroTopMargin.astro";

const { page, locale } = Astro.props;

const { href: originURL } = new URL(Astro.url.pathname, Astro.site);

const { Perk: perk, Price_EUR_excl_VAT: price } = page;
---

<style lang="scss">
  @use "src/styles/colors";

  .BasicHeroTxt,
  .BasicHeroTxt a {
    color: colors.$light-gray;
  }
</style>

{/* Hero Section */}
<div class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  {/* Text Content */}
  <div
    class="relative z-30 flex flex-wrap justify-center h-full wrapper HeroTxtContainer"
  >
    <div
      class="w-full md:w-9/12 lg:w-7/12 sm:text-center sm:justify-center HeroTxtContent"
      role="banner"
    >
      <div>
        <div class="hidden sm:block mx-auto formHeroCupIcon">
          <img
            class="w-full h-full text-primary"
            src={CupIcon}
            alt="love-icon"
          />
        </div>

        <div class="block sm:hidden mx-auto heroLoveIcon">
          <img class="w-full h-full" src={LoveIcon} alt="love-icon" />
        </div>

        <h1 class="BasicHeroTitle">{page.Title}</h1>

        <div class="pt-7 mt-0.5 prose max-w-none BasicHeroTxt">
          <Markdown>{page.Intro_text}</Markdown>
        </div>
      </div>
    </div>
  </div>
</div>

{/* Form Section */}
<div class="wrapper formSec">
  <div class="formContainer" role="main">
    <form action="https://pay.scripts.dilmahtea.me" method="POST">
      <div>
        <div
          class="inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7 pb-0.5"
        >
          <h2 class="heading-primary text-primary">
            {locale === "nl" ? "Basis gegevens" : "Basic info"}
          </h2>

          <img class="formSecHeaderIcon" src={CupIconG} alt="tea-leaf-icon" />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 formGrid">
          <label class="formInputContainer">
            {locale === "nl" ? "Voornaam" : "First Name"}

            <input
              type="text"
              id="first_name"
              name="first_name"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl" ? "Voornaam" : "First Name"}
              required
            />
          </label>

          <label class="formInputContainer">
            {locale === "nl" ? "Achternaam" : "Last Name"}

            <input
              type="text"
              id="last_name"
              name="last_name"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl" ? "Achternaam" : "Last Name"}
              required
            />
          </label>

          <label class="formInputContainer">
            {locale === "nl" ? "E-mailadres" : "Email Address"}

            <input
              type="email"
              id="email"
              name="email"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl"
                ? "Vul je e-mailadres in"
                : "Enter your email address"}
              required
            />
          </label>

          <label for="favorite_tea" class="formInputContainer">
            {locale === "nl" ? "Favoriete thee" : "Favourite Tea"}

            <input
              type="text"
              id="favorite_tea"
              name="favorite_tea"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl" ? "Earl Grey" : "Black Tea"}
              required
            />
          </label>
        </div>
      </div>

      <div>
        <div class="inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7">
          <h3 class="heading-primary text-primary">
            {locale === "nl" ? "Factuurgegevens" : "Billing details"}
          </h3>

          <img
            class="formSecHeaderIcon"
            src={FlowerIconG}
            alt="tea-leaf-icon"
          />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 formGrid">
          <label class="formInputContainer">
            {locale === "nl" ? "Land" : "Country"}

            <select
              id="country"
              name="country"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              required
            >
              <option value="" disabled>
                {
                  locale === "nl"
                    ? "Selecteer jouw land"
                    : "Select or type your country"
                }
              </option>

              <option value="Netherlands" selected
                >{locale === "nl" ? "Nederland" : "Netherlands"}
              </option>
            </select>
          </label>

          <label class="formInputContainer">
            {locale === "nl" ? "Plaatsnaam" : "City"}

            <input
              type="text"
              id="city"
              name="city"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl"
                ? "Vul je plaatsnaam in"
                : "Enter your city address"}
              required
            />
          </label>

          <label class="formInputContainer">
            {
              locale === "nl"
                ? "Straat en huisnummer"
                : "Street and house number"
            }

            <input
              type="text"
              id="street"
              name="street"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl"
                ? "Vul je straat en huisnummer in"
                : "Enter your street address"}
              required
            />
          </label>

          <label class="formInputContainer">
            {locale === "nl" ? "Postcode" : "Postal Code"}

            <input
              type="text"
              id="postal_code"
              name="postal_code"
              class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput"
              placeholder={locale === "nl"
                ? "Vul je postcode in"
                : "Enter your postal code"}
              required
            />
          </label>

          <input type="hidden" id="perk" name="perk" value={perk} required />

          <input
            type="hidden"
            id="locale"
            name="locale"
            value={locale}
            required
          />

          <input
            type="hidden"
            id="origin_url"
            name="origin_url"
            value={originURL}
            required
          />

          <script is:inline>
            document.currentScript.previousElementSibling.value = location.href;
          </script>

          <input
            type="hidden"
            id="plan_name"
            name="plan_name"
            value={page.Title}
            required
          />

          <input type="hidden" id="price" name="price" value={price} required />
        </div>

        <div>
          <input
            type="submit"
            class="cursor-pointer formBtn"
            value={locale === "nl"
              ? "Naar betaalgegevens"
              : "To payment details"}
            required
          />
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const params = new URLSearchParams(location.search);

  Array.from(params.entries()).forEach(([param, value]) => {
    if (param === "country") {
      const country = document.querySelector(
        `select[name="country"] option[value="${value}"]`
      );

      // @ts-ignore
      if (country) country.selected = true;
    } else {
      const input = document.querySelector(`input[name="${param}"]`);

      // @ts-ignore
      if (input) input.value = value || "";
    }
  });
</script>
