---
import Markdown from "@astrojs/markdown-component";

import Banner from "@components/Banner.astro";
import KindnessImpact from "@components/KindnessImpact.astro";

import SecondaryPageLayout from "@layouts/SecondaryPageLayout.astro";

const { page, ariaLabelRecurData } = Astro.props,
  { locale, Relevant_items_title, Relevant_items_text, Relevant_blogs } = page,
  { ASSETS_URL } = import.meta.env;

const relatedPosts = Relevant_blogs?.data?.map(({ attributes }) => attributes);
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .description-container {
    gap: poly-fluid-clamp(
      (
        640px: 50px,
        1440px: 150px,
      )
    );
  }

  .line-container-odd {
    @apply z-10 absolute -left-[4vw] sm:left-[50%];

    @media (max-width: 639px) {
      @apply top-[60%];
    }
  }

  .line-container-even {
    @apply absolute -right-[4vw] sm:right-[60%];

    @media (max-width: 639px) {
      @apply top-[60%];
    }
  }

  .line {
    width: poly-fluid-clamp(
      (
        640px: 310px,
        1920px: 720px,
      )
    );
  }

  .line-sm {
    width: poly-fluid-clamp(
      (
        300px: 170px,
        639px: 150px,
      )
    );
  }

  .post-title {
    @apply font-bold leading-[130%];

    font-size: clamp(1.75rem, 3.5vw + 0.01rem, 3rem);
  }

  .post-intro {
    @apply line-clamp-3 sm:line-clamp-4 md:line-clamp-5 lg:line-clamp-6;

    font-size: clamp(1rem, 1.5vw + 0.15rem, 1.5rem);
    line-height: 150%;
  }

  .information-post-icon {
    @apply w-full h-full mx-auto;

    width: poly-fluid-clamp(
      (
        375px: 170px,
        1440px: 280px,
      )
    );
    height: poly-fluid-clamp(
      (
        375px: 170px,
        1440px: 280px,
      )
    );
  }
</style>

<SecondaryPageLayout
  {page}
  {relatedPosts}
  relatedPostsText={Relevant_items_text}
  relatedPostsHeading={Relevant_items_title}
>
  <div class="my-[50px]">
    <div class="grid gap-y-[50px]">
      <section role="main">
        <div class="wrapper grid gap-5 pb-[50px]">
          <div
            id="description"
            role="list"
            aria-label={ariaLabelRecurData.All_posts_text}
            class="description-container flex flex-wrap items-center"
          >
            {
              page.Description.map(
                (
                  {
                    Title,
                    Intro_text,
                    Blob: { data: blob },
                    Blog: { data: blog },
                  },
                  index
                ) => {
                  const isEven = index % 2 === 0,
                    totalPost = page.Description.length;

                  return (
                    <div
                      role="listitem"
                      aria-label={`${
                        ariaLabelRecurData.Kindness_Item + (index + 1)
                      } ${
                        ariaLabelRecurData.Kindness_items_of_text
                      } ${totalPost}`}
                      class="link-section flex flex-wrap items-center w-full"
                    >
                      <div
                        class:list={[
                          "relative w-full sm:w-1/2 order-1 mb-[25px] sm:mb-0",
                          !isEven && "sm:order-2",
                        ]}
                      >
                        <div class="relative z-50 w-full h-full mx-auto">
                          <img
                            class="information-post-icon p-2 bg-secondary"
                            src={ASSETS_URL + blob?.attributes.url}
                            alt={blob?.attributes.alternativeText}
                          />
                        </div>

                        {/* Lines between text */}
                        {index !== totalPost - 1 &&
                          (isEven ? (
                            <div class="line-container-odd">
                              <div class="hidden sm:block line">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 696.1 209.3"
                                >
                                  <path
                                    d="M3.5.6S20,115.1,159,119.7c173.8,5.7,256.4-102.5,404-84S691.8,208.9,691.8,208.9"
                                    transform="translate(0 -0.1)"
                                    style="fill:none;stroke:#b3cccc;stroke-width:7px;stroke-dasharray:20,20"
                                  />
                                </svg>
                              </div>

                              <div class="block sm:hidden line-sm">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 137.8 337.4"
                                >
                                  <path
                                    d="M137.3,335.4C-.9,317.4-3.9,315.5,5.2,126.9,1.3,68.4-6.2,29.7,34.2,7.2,66.3-8.6,61.6,20.4,137.3,1.9"
                                    style="fill:none;stroke:#b3cccc;stroke-width:4px;stroke-dasharray:20,20"
                                  />
                                </svg>
                              </div>
                            </div>
                          ) : (
                            <div class="line-container-even">
                              <div class="hidden sm:block line pl-[2vw]">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 701.2 210.4"
                                >
                                  <path
                                    d="M694.6,1.5s-49,99.1-189.2,103.7c-175.4,5.7-190.1-50-339.1-31.5S0,209.9,0,209.9"
                                    transform="translate(3.5 0)"
                                    style="fill:none;stroke:#b3cccc;stroke-width:7px;stroke-dasharray:20,20"
                                  />
                                </svg>
                              </div>

                              <div class="block sm:hidden line-sm">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 137.8 337.4"
                                >
                                  <path
                                    d="M2,335.4c138.2-18,141.2-19.9,132.1-208.5,3.9-58.5,11.4-97.2-29-119.7C73-8.6,77.7,20.4,2,1.9"
                                    transform="translate(-1.5)"
                                    style="fill:none;stroke:#b3cccc;stroke-width:4px;stroke-dasharray:20,20"
                                  />
                                </svg>
                              </div>
                            </div>
                          ))}
                      </div>

                      {/* Text content */}
                      <div
                        class:list={[
                          "order-2 w-full sm:w-1/2 h-full flex flex-wrap",
                          !isEven && "sm:order-1",
                        ]}
                      >
                        <div>
                          <h2 class="post-title recoleta text-primary pt-[15px]">
                            <a
                              class="main-link"
                              href={
                                blog
                                  ? `/` + blog?.attributes.Meta.URL_slug
                                  : "#"
                              }
                              set:text={Title || blog?.attributes.Title}
                            />

                            <span class="icon heading-inline-icon">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 49 49"
                                class="w-full h-full"
                              >
                                <circle
                                  cx="24.5"
                                  cy="24.5"
                                  r="24.5"
                                  style="fill:#547b7d"
                                />
                                <path
                                  d="M10.6,24.3a1.5,1.5,0,0,1,.9-.7,2,2,0,0,1,1.1.2c4.4,2.9,8.3,1.3,11.6-.4l7.3-3.9-5.6-1.8-.5-.2-.3-.4a1.4,1.4,0,0,1-.2-.6A.7.7,0,0,1,25,16a.5.5,0,0,1,.3-.5.8.8,0,0,1,.4-.4h1.1l8.8,2.7a2.2,2.2,0,0,1,.9.7,1.4,1.4,0,0,1,0,1.1l-2.7,8.9a2.7,2.7,0,0,1-.7.8H32a1.6,1.6,0,0,1-.8-.6,1.4,1.4,0,0,1-.1-1.1L32.8,22l-7.3,3.8c-3.4,1.8-8.7,4.1-14.4.4a1.3,1.3,0,0,1-.7-.9A1.8,1.8,0,0,1,10.6,24.3Z"
                                  style="fill:#fff"
                                />
                              </svg>
                            </span>
                          </h2>

                          <div class="post-intro pt-[15px] prose max-w-none">
                            <Markdown>
                              {Intro_text || blog?.attributes.Intro_text}
                            </Markdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  );
                }
              )
            }
          </div>
        </div>
      </section>

      {/* Banner Section */}
      <Banner
        title={page.Block2_title}
        intro={page.Block2_text}
        button_text={page.Block2_button_text}
        button_link={page.Block2_button_link}
        blob={page.Block2_blob}
      />

      <KindnessImpact
        {locale}
        heading={page.Block3_title}
        impacts={page.Impacts}
      />
    </div>
  </div>
</SecondaryPageLayout>
