---
import Markdown from "@components/Markdown.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import ClippedPicture from "@components/ClippedPicture.astro";
import KindnessImpact from "@components/KindnessImpact.astro";
import EstatesInfoSection from "@components/EstatesInfoSection.astro";
import DynamicPost from "@components/DynamicPost.astro";

import SecondaryPageLayout from "@layouts/SecondaryPageLayout.astro";

import RecurringImages from "@store/RecurringImages";

const { left_quote } = RecurringImages;

const { page } = Astro.props,
  { posts, locale, blogs } = page,
  { STRAPI_URL } = import.meta.env;

const relatedPosts = blogs?.data?.map(({ attributes }) => attributes);
---

<style lang="scss">
  .estate-quote-container {
    clip-path: url(#quote-bg-curve);

    @media (max-width: 639.98px) {
      clip-path: url(#quote-bg-curve-sm);
    }
  }

  .quote-img-container {
    aspect-ratio: 6 / 5;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 375px;
  }

  .estate-quote {
    padding: 0 clamp(2.188rem, 3.3vw + 0.8rem, 3.75rem);
  }

  .estate-quote-icon {
    height: clamp(1.563rem, 2.2vw + 0.15rem, 2.188rem);
  }
</style>

<SecondaryPageLayout {page} {relatedPosts} plainTitle={true}>
  <div role="main" class="grid section-gap section-in-v-pad">
    <div
      class="wrapper flex flex-wrap justify-between items-center division-gap"
    >
      <div class="flex flex-wrap items-center justify-between">
        <h2 class="text-h2 text-primary">
          {page.Heading_block}
        </h2>
      </div>

      <div class="intro-text">
        <Markdown>{page.Block_text}</Markdown>
      </div>
    </div>

    {/* All Estates Section */}
    <div id="estates" class="wrapper">
      <DynamicPost posts={posts} locale={page.locale} />
    </div>

    <div class="wrapper">
      <div
        aria-label={page.Block2_aria_label_text}
        class="estate-quote-container blob-div-in-pad bg-primary w-full h-full"
      >
        <ClipPathSVG
          id="quote-bg-curve"
          path="M0.04,0.087 C0.086,-0.001,0.164,0.007,0.262,0.002 C0.427,-0.005,0.522,0.007,0.687,0.002 c0.115,-0.003,0.179,0,0.242,0.029 c0.048,0.022,0.075,0.301,0.071,0.479 c-0.003,0.162,0.008,0.386,-0.054,0.413 c-0.058,0.025,-0.193,0.034,-0.252,0.049 c-0.111,0.03,-0.23,-0.006,-0.332,0 c-0.092,0.006,-0.206,0.08,-0.309,-0.049 C0,0.856,-0.001,0.685,0,0.511 C0.002,0.345,-0.007,0.177,0.04,0.087"
        />

        <ClipPathSVG
          id="quote-bg-curve-sm"
          path="M0.913,0.04 c0.088,0.046,0.08,0.124,0.084,0.222 c0.007,0.165,-0.005,0.26,0,0.425 c0.003,0.116,0,0.179,-0.029,0.242 c-0.022,0.048,-0.301,0.075,-0.479,0.071 c-0.162,-0.003,-0.386,0.008,-0.413,-0.054 C0.05,0.888,0.042,0.753,0.026,0.694 C-0.003,0.583,0.033,0.464,0.026,0.363 C0.021,0.271,-0.054,0.156,0.076,0.054 C0.144,0,0.315,-0.001,0.489,0 C0.655,0.002,0.823,-0.007,0.913,0.04"
        />

        <div class="flex flex-wrap w-full gap-y-6 items-center relative z-20">
          {/* Quote Image */}
          <div class="w-full sm:w-1/2">
            <div class="quote-img-container mx-auto sm:ml-0">
              <ClippedPicture
                id="quote-img-curve"
                alt={page.Block2_blob.data.attributes.alternativeText}
                src={STRAPI_URL + page.Block2_blob.data.attributes.url}
                path="M0.516,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.017,0.736 S0.182,1,0.528,1 c0.285,0,0.374,-0.064,0.446,-0.283 c0.031,-0.093,0.047,-0.322,-0.029,-0.59 C0.896,-0.045,0.735,0.008,0.516,0.008"
                sizes={[
                  "(min-width: 640px) min(450px, calc(50vw - min(100px, 5vw) - clamp(23px, 3.875vw, 50px)))",
                  "calc(90vw - clamp(23px, 3.875vw, 50px))",
                ].join(", ")}
              />
            </div>
          </div>

          {/* Text content */}
          <div class="w-full sm:w-1/2 h-full">
            <div class="flex flex-wrap px-2.5 sm:px-0 xl:-ml-6">
              <div class="estate-quote-icon">
                <img class="w-full h-full" {...left_quote} />
              </div>

              <div
                class="estate-quote text-b3 max-w-none font-bold text-secondary prose"
              >
                {page.Block2_text}
              </div>

              <div class="estate-quote-icon mr-[25px] ml-auto rotate-180">
                <img class="w-full h-full" {...left_quote} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <EstatesInfoSection page={page} />

    <KindnessImpact
      {locale}
      heading={page.Block4_heading}
      impacts={page.Impacts}
    />
  </div>
</SecondaryPageLayout>
