---
import { Picture } from "astro-imagetools/components";

import Markdown from "@components/Markdown.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import ClippedPicture from "@components/ClippedPicture.astro";
import KindnessImpact from "@components/KindnessImpact.astro";
import EstatesInfoSection from "@components/EstatesInfoSection.astro";

import SecondaryPageLayout from "@layouts/SecondaryPageLayout.astro";

import RecurringImages from "@store/RecurringImages";

const { left_quote } = RecurringImages;

const { page } = Astro.props,
  { posts, locale, blogs } = page,
  { STRAPI_URL } = import.meta.env;

const relatedPosts = blogs?.data?.map(({ attributes }) => attributes);
---

<style lang="scss">
  .estate-types-selector {
    font-size: clamp(0.75rem, 1.5vw + 0.1rem, 1.25rem);
    border-right: 20px solid transparent;
  }

  .estates-toggle-label {
    font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
    line-height: 150%;
  }

  .estate-mode-toggle-dot {
    @apply border border-secondary-light;
  }

  input[type="checkbox"].estate-mode-toggle:checked ~ .estate-mode-toggle-dot {
    @apply bg-primary;

    transform: translateX(100%);
  }

  .estate-block-text {
    font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
    line-height: 150%;
  }

  .estate-category-item {
    font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
    line-height: 150%;
  }

  .post-img-curve-container {
    aspect-ratio: 6 / 5;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
  }

  .post-title {
    @apply font-semibold leading-[130%];

    font-size: clamp(1.75rem, 3.5vw + 0.01rem, 3rem);
  }

  .post-intro {
    @apply line-clamp-3 sm:line-clamp-4 md:line-clamp-5 lg:line-clamp-6;

    font-size: clamp(1rem, 1.5vw + 0.15rem, 1.5rem);
    line-height: 150%;
  }

  .estate-quote-container {
    clip-path: url(#quote-bg-curve);
    padding: 35px clamp(23px, 3.875vw, 50px);

    @media (max-width: 639.98px) {
      clip-path: url(#quote-bg-curve-sm);
    }
  }

  .quote-img-container {
    aspect-ratio: 6 / 5;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 375px;
  }

  .estate-quote {
    @apply leading-[175%] sm:leading-[150%];

    font-size: clamp(1rem, 1.5vw + 0.3rem, 1.5rem);
    padding: 13px clamp(2.188rem, 3.3vw + 0.8rem, 3.75rem) 0;
  }

  .estate-quote-icon {
    height: clamp(1.563rem, 2.2vw + 0.15rem, 2.188rem);
  }
</style>

<SecondaryPageLayout {page} {relatedPosts} plainTitle={true}>
  <div role="main" class="grid gap-[50px] my-[50px]">
    <div
      class="wrapper flex flex-wrap justify-between items-center gap-y-[15px]"
    >
      <div
        class="flex flex-wrap items-center justify-between gap-x-6 gap-y-[15px]"
      >
        <h2 class="post-title recoleta text-black">
          {page.Heading_block}
        </h2>

        {
          /* (
            <div>
              <select
                id="estateType"
                name="estateType"
                class:list={[
                  "focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring cursor-pointer",
                  "bg-primary text-secondary-light py-[5px] pl-5 rounded-[34px] estate-types-selector",
                ]}
              >
                <option value="1">Kindness Project Type 1</option>

                <option value="2">Kindness Project Type 2</option>
              </select>
            </div>
          ) */
        }
      </div>

      {
        /* (
          <div class="inline-flex">
            <div class="text-black estates-toggle-label">
              View Carbon Neutral estates
            </div>

            <div class="flex items-center justify-center ml-2.5">
              <label
                for="estatesToggle"
                class="relative flex items-center cursor-pointer"
              >
                <div class="relative">
                  <input
                    id="estatesToggle"
                    type="checkbox"
                    class="sr-only estate-mode-toggle"
                  />
                  <div class="bg-secondary-light rounded-full shadow-inner w-11 sm:w-[49px] lg:w-[54px] h-5 sm:h-[22px] lg:h-6" />
                  <div class="absolute z-10 bg-secondary-light w-[30px] h-[30px] rounded-full shadow top-[-3px] -left-1 transition estate-mode-toggle-dot" />
                </div>
              </label>
            </div>
          </div>
        ) */
      }

      <div class="estate-block-text prose max-w-none w-full text-black-light">
        <Markdown>{page.Block_text}</Markdown>
      </div>
    </div>

    {/* All Estates Section */}
    <div id="estates" class="wrapper">
      <ClipPathSVG
        id="estate-img-curve"
        path="M.516.008C.359.008.1-.008.039.083S.002.495.017.736.182 1 .528 1C.813 1 .902.936.974.717 1 .624 1 .395.946.128.897-.045.735.008.516.008"
      />

      <div
        role="list"
        aria-label={page.Aria_label_all_estates_text}
        class="flex flex-wrap items-center gap-y-[50px]"
      >
        {
          posts.map((estate, index) => {
            const isEven = index % 2 === 0;

            return (
              <div
                role="listitem"
                class="link-section flex flex-wrap items-center"
              >
                <div
                  class:list={[
                    "relative w-full sm:w-1/2 order-1 mb-[25px] sm:mb-0",
                    isEven
                      ? "pr-0 sm:pr-5 md:pr-12"
                      : "sm:order-2 pl-0 sm:pl-5 md:pl-12",
                  ]}
                >
                  <div class="post-img-curve-container">
                    <Picture
                      layout="fill"
                      alt={estate.Intro_blob.data.attributes.alternativeText}
                      src={STRAPI_URL + estate.Intro_blob.data.attributes.url}
                      attributes={{
                        picture: {
                          style: "clip-path: url(#estate-img-curve);",
                        },
                      }}
                      sizes={[
                        "(min-width: 768px) min(600px, calc(50vw - min(100px, 5vw) - 48px))",
                        "(min-width: 640px) min(600px, calc(45vw - 20px))",
                        "90vw",
                      ].join(", ")}
                    />
                  </div>
                </div>

                {/* Text content */}
                <div
                  class:list={[
                    "order-2 w-full sm:w-1/2 h-full flex flex-wrap",
                    isEven ? "pr-0 sm:pr-5" : "sm:order-1 pl-0 sm:pl-5",
                  ]}
                >
                  <div>
                    {/* <ul class="flex flex-wrap items-center gap-y-1 gap-x-2.5 md:gap-x-[15px] md:pb-[5px] lg:pb-2.5">
                        <li class="text-black estate-category-item">
                          <a
                            href=""
                            class="bg-pale-rose text-xs sm:text-sm leading-[17px] sm:leading-[14px] text-primary py-[5px] px-3 rounded-[28px]"
                          >
                            Green Tea
                          </a>
                        </li>
                        
                        <li class="text-black estate-category-item">
                          <a
                            href=""
                            class="bg-pale-rose text-xs sm:text-sm leading-[17px] sm:leading-[14px] text-primary py-[5px] px-3 rounded-[28px]"
                          >
                            Sustainable
                          </a>
                        </li>
                      </ul> */}

                    <h2 class="post-title recoleta text-primary pt-[15px]">
                      <a
                        class="main-link"
                        set:text={estate.Estate_name}
                        href={`/` + estate.Meta.URL_slug}
                      />
                    </h2>

                    <div class="post-intro text-black-light pt-[15px] prose max-w-none">
                      <Markdown>{estate.Intro_text}</Markdown>
                    </div>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="wrapper">
      <div
        aria-label={page.Block2_aria_label_text}
        class="estate-quote-container bg-primary w-full h-full"
      >
        <ClipPathSVG
          id="quote-bg-curve"
          path="M0.04,0.087 C0.086,-0.001,0.164,0.007,0.262,0.002 C0.427,-0.005,0.522,0.007,0.687,0.002 c0.115,-0.003,0.179,0,0.242,0.029 c0.048,0.022,0.075,0.301,0.071,0.479 c-0.003,0.162,0.008,0.386,-0.054,0.413 c-0.058,0.025,-0.193,0.034,-0.252,0.049 c-0.111,0.03,-0.23,-0.006,-0.332,0 c-0.092,0.006,-0.206,0.08,-0.309,-0.049 C0,0.856,-0.001,0.685,0,0.511 C0.002,0.345,-0.007,0.177,0.04,0.087"
        />

        <ClipPathSVG
          id="quote-bg-curve-sm"
          path="M0.913,0.04 c0.088,0.046,0.08,0.124,0.084,0.222 c0.007,0.165,-0.005,0.26,0,0.425 c0.003,0.116,0,0.179,-0.029,0.242 c-0.022,0.048,-0.301,0.075,-0.479,0.071 c-0.162,-0.003,-0.386,0.008,-0.413,-0.054 C0.05,0.888,0.042,0.753,0.026,0.694 C-0.003,0.583,0.033,0.464,0.026,0.363 C0.021,0.271,-0.054,0.156,0.076,0.054 C0.144,0,0.315,-0.001,0.489,0 C0.655,0.002,0.823,-0.007,0.913,0.04"
        />

        <div class="flex flex-wrap w-full gap-y-6 items-center relative z-20">
          {/* Quote Image */}
          <div class="w-full sm:w-1/2">
            <div class="quote-img-container mx-auto sm:ml-0">
              <ClippedPicture
                id="quote-img-curve"
                alt={page.Block2_blob.data.attributes.alternativeText}
                src={STRAPI_URL + page.Block2_blob.data.attributes.url}
                path="M0.516,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.017,0.736 S0.182,1,0.528,1 c0.285,0,0.374,-0.064,0.446,-0.283 c0.031,-0.093,0.047,-0.322,-0.029,-0.59 C0.896,-0.045,0.735,0.008,0.516,0.008"
                sizes={[
                  "(min-width: 640px) min(450px, calc(50vw - min(100px, 5vw) - clamp(23px, 3.875vw, 50px)))",
                  "calc(90vw - clamp(23px, 3.875vw, 50px))",
                ].join(", ")}
              />
            </div>
          </div>

          {/* Text content */}
          <div class="w-full sm:w-1/2 h-full">
            <div class="flex flex-wrap px-2.5 sm:px-0 xl:-ml-6">
              <div class="estate-quote-icon">
                <img class="w-full h-full" {...left_quote} />
              </div>

              <div
                class="estate-quote prose max-w-none font-bold text-secondary"
              >
                {page.Block2_text}
              </div>

              <div class="estate-quote-icon mr-[25px] ml-auto rotate-180">
                <img class="w-full h-full" {...left_quote} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <EstatesInfoSection page={page} />

    <KindnessImpact
      {locale}
      heading={page.Block4_heading}
      impacts={page.Impacts}
    />
  </div>
</SecondaryPageLayout>
