---
import Markdown from "@astrojs/markdown-component";
import Chapterize from "@components/Chapterize.astro";
import ClippedImg from "@components/ClippedImg.astro";
import ClippedPicture from "@components/ClippedPicture.astro";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

const { page, recurData } = Astro.props,
  { estates } = page,
  headingName = recurData.text_chapter,
  { CF_IMAGE_DELIVERY_ENDPOINT: imgSrcPrefix } = import.meta.env;
---

<style>
  .map-container {
    margin: clamp(55px, 5vw + 30px, 100px) auto;
  }

  .map-title {
    font-size: clamp(2.125rem, 3vw + 0.3rem, 2.625rem);
  }
</style>

<PostDetailsLayout {page} posts={estates} {recurData} {headingName}>
  <div slot="post-details" class="prose content-text">
    <Chapterize>
      <Markdown>{page.Block_text}</Markdown>
    </Chapterize>
  </div>

  <div
    slot="estate-map"
    role="complementary"
    class="map-container wrapper"
    aria-label="location-inforamtion"
  >
    <h2 class="alice map-title mb-5 text-dark">
      {page.Estate_name} location
    </h2>

    <a href={page.Location_link} class="block w-full">
      <ClippedImg
        id="estate-map-curve"
        className="max-h-[375px]"
        src={imgSrcPrefix +
          page.Location.data.attributes.provider_metadata.public_id +
          `/public`}
        alt={page.Location.data.attributes.alternativeText}
        path="M.04.089C.086.001.164.009.262.005c.165-.007.26.005.425 0 .115-.003.179 0 .242.029C.977.057 1 .335 1 .513.996.676 1 .9.946.927.888.952.753.961.694.976.583 1 .464.97.363.976.271.982.156 1 .054.927 0 .859-.001.687 0 .513.002.348-.007.18.04.089"
      />

      {
        /* (
          <ClippedPicture
            id="estate-map-curve"
            src={
              imgSrcPrefix +
              page.Location.data.attributes.provider_metadata.public_id +
              `/public`
            }
            alt={page.Location.data.attributes.alternativeText}
            path="M.04.089C.086.001.164.009.262.005c.165-.007.26.005.425 0 .115-.003.179 0 .242.029C.977.057 1 .335 1 .513.996.676 1 .9.946.927.888.952.753.961.694.976.583 1 .464.97.363.976.271.982.156 1 .054.927 0 .859-.001.687 0 .513.002.348-.007.18.04.089"
            attributes={{
              img: {
                style: "max-height: 375px;",
              },
            }}
          />
        ) */
      }
    </a>
  </div>
</PostDetailsLayout>
