---
import CMS from "@store/CMS";
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import Banner from "@components/Banner.astro";
import ProductCard from "@components/ProductCard.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import KindnessImpact from "@components/KindnessImpact.astro";
import ProductCategories from "@components/ProductCategories.astro";

import SecondaryPageLayout from "@layouts/SecondaryPageLayout.astro";

const { page, ariaLabelRecurData } = Astro.props,
  { locale, posts } = page,
  { ASSETS_URL } = import.meta.env;

posts.sort((a, b) => {
  return new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime();
});

const randPost = posts[(Math.random() * posts.length) | 0],
  estates = page.Estates.data.map(({ attributes }) => attributes);

const catalog = CMS.get("catalog", locale);

const getLatest = (items, key) =>
  items.reduce((latest, current) =>
    new Date(current.attributes[key]) > new Date(latest.attributes[key])
      ? current
      : latest
  );

const latestProducts = catalog.Products.slice()
  .sort(
    (productA, productB) =>
      Math.max(
        ...productB.products.data.map(
          (item) => new Date(item.attributes.createdAt)
        )
      ) -
      Math.max(
        ...productA.products.data.map(
          (item) => new Date(item.attributes.createdAt)
        )
      )
  )
  .slice(0, 3)
  .map((product) => {
    const latestProduct = getLatest(product.products.data, "createdAt");
    const availableFormatThumbnails = product.products.data
      .filter((item) => item !== latestProduct)
      .map((item) => item.attributes.Intro_blob.data.attributes);
    return {
      ...latestProduct,
      attributes: {
        ...latestProduct.attributes,
        availableFormatsCount: availableFormatThumbnails.length,
        availableFormatThumbnails,
      },
    };
  });
---

<style lang="scss">
  .post-title {
    @apply font-bold leading-[130%];

    font-size: clamp(1.75rem, 3.5vw + 0.01rem, 3rem);
  }

  .post-intro {
    @apply line-clamp-3 sm:line-clamp-4 md:line-clamp-5 lg:line-clamp-6;

    font-size: clamp(1rem, 1.5vw + 0.15rem, 1.5rem);
    line-height: 150%;
  }

  .post-img-curve-container {
    aspect-ratio: 6 / 5;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
  }

  .estates-banner-bottom {
    clip-path: url(#estates-banner-curve-sm);

    @media (min-width: 768px) {
      clip-path: url(#estates-banner-curve);
    }
  }
</style>

<SecondaryPageLayout {page} plainTitle={true} headerBackground={true}>
  <div role="main" class="grid gap-[50px] my-[50px]">
    {/* Product Category Section */}
    {
      page.Block_visibility && (
        <ProductCategories {locale} title={page.Block_title} />
      )
    }

    {/* Random Post Section */}
    {
      page.Block2_visibility && (
        <section class="wrapper">
          <ClipPathSVG
            id="post-img-curve"
            path="M.516.008C.359.008.1-.008.039.083S.002.495.017.736.182 1 .528 1C.813 1 .902.936.974.717 1 .624 1 .395.946.128.897-.045.735.008.516.008"
          />

          {page.Block2_title && (
            <h2
              id={page.Block2_title.toLowerCase().replaceAll(" ", "-")}
              class:list={[
                "heading-secondary font-semibold leading-[130%]",
                "text-primary text-center mb-[30px]",
              ]}
            >
              {page.Block2_title}
            </h2>
          )}

          <div
            aria-label={ariaLabelRecurData.Highlighted_post_text}
            class="link-section flex flex-wrap items-center"
          >
            <div
              class:list={[
                "relative w-full sm:w-1/2 order-1 mb-[25px] sm:mb-0",
                "pr-0 sm:pr-5 md:pr-12 lg:pr-24",
              ]}
            >
              <div class="post-img-curve-container mr-auto">
                <Picture
                  layout="fill"
                  src={ASSETS_URL + randPost.Intro_blob?.data?.attributes.url}
                  alt={randPost.Intro_blob?.data?.attributes.alternativeText}
                  sizes={[
                    "(min-width: 768px) min(600px, calc(50vw - min(100px, 5vw) - 48px))",
                    "(min-width: 640px) min(600px, calc(45vw - 20px))",
                    "90vw",
                  ].join(", ")}
                  attributes={{
                    picture: { style: "clip-path: url(#post-img-curve);" },
                  }}
                />
              </div>
            </div>

            {/* Text content */}
            <div class="order-2 w-full sm:w-1/2 h-full flex flex-wrap pr-0 sm:pr-5">
              <div>
                <h2 class="post-title recoleta text-primary pt-[15px]">
                  <a
                    class="main-link"
                    href={`/` + randPost.Meta.URL_slug}
                    set:text={randPost.Title}
                  />
                </h2>

                <div class="post-intro pt-[15px] prose max-w-none">
                  <Markdown>{randPost.Intro_text}</Markdown>
                </div>
              </div>
            </div>
          </div>
        </section>
      )
    }

    {/* latest Products Section */}
    {
      page.Block3_visibility && (
        <section>
          {page.Block3_visibility && (
            <h2
              id={page?.Block3_title.toLowerCase().replaceAll(" ", "-")}
              class:list={[
                "heading-secondary mb-[25px] sm:mb-[30px]",
                "wrapper font-semibold leading-[130%] text-primary",
              ]}
            >
              {page.Block3_title}
            </h2>
          )}

          <ProductCard {locale} products={latestProducts} />

          {page.Block3_button_text && (
            <div class="flex justify-center mt-[25px] sm:mt-[30px]">
              <a
                href={page?.Block3_button_link || "#"}
                class="link-text linked-button"
              >
                {page.Block3_button_text}
              </a>
            </div>
          )}
        </section>
      )
    }
    <div class="grid gap-[50px]">
      {
        page.Block2_visibility && (
          <div class="z-30">
            <Banner
              title={page.Block2_title}
              intro={page.Block2_text}
              button_text={page.Block2_button_text}
              button_link={page.Block2_button_link}
              background_img={page.Block2_blob}
            />
          </div>
        )
      }

      {
        page.Block3_visibility && estates.length > 0 && (
          <section class="-mt-[110px]">
            <ClipPathSVG
              id="estates-banner-curve"
              path="M1,0 c-0.005,0.158,-0.026,0.437,-0.104,0.633 c-0.115,0.288,-0.242,-0.102,-0.316,-0.102 c-0.07,0,-0.171,0.017,-0.231,0.185 c-0.057,0.16,-0.132,0.283,-0.193,0.283 C0.032,1,0,0.633,0,0.633 V0"
            />

            <ClipPathSVG
              id="estates-banner-curve-sm"
              path="M1,0 V0.722 c-0.095,0.278,-0.193,0,-0.324,0 C0.504,0.722,0.369,1,0.22,1 C0.088,1,0,0.382,0,0.382 V0"
            />

            <div class="bg-primary pt-[60px] relative z-10">
              <div class="wrapper pt-[50px] pb-6 text-white">
                <div class="heading-secondary font-semibold leading-[130%] text-center">
                  <h2>{page.Block3_title}</h2>
                </div>
                <div class="hero-text prose max-w-none text-white text-center mt-[15px]">
                  <Markdown>{page.Block3_text}</Markdown>
                </div>

                <div
                  role="list"
                  aria-label={ariaLabelRecurData.Kindness_Items_text}
                  class:list={[
                    "wrapper grid justify-around",
                    "gap-[25px] sm:gap-[50px] mt-[25px] sm:mt-[30px]",
                    "grid-cols-[repeat(auto-fit,minmax(0,400px))]",
                    "2xl:grid-cols-[repeat(auto-fit,minmax(0,480px))]",
                  ]}
                >
                  {estates.map((post) => (
                    <div
                      role="listitem"
                      aria-label={ariaLabelRecurData.Kindness_Items_text}
                      class:list={[
                        "link-section relative overflow-hidden",
                        "aspect-[6/5] rounded-[20px] bg-secondary",
                      ]}
                    >
                      <Picture
                        layout="fill"
                        alt={post.Intro_blob.data.attributes.alternativeText}
                        src={ASSETS_URL + post.Intro_blob.data.attributes.url}
                        attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
                        sizes="(min-width: 768px) min(580px, calc(40vw - 25px)), min(80vw, 420px)"
                        attributes={{
                          picture: {
                            style: "position: absolute;",
                          },
                        }}
                      />

                      <div
                        class:list={[
                          "relative z-50 flex items-end h-full  aspect-[6/5]",
                          "bg-gradient-to-t from-black/70 p-[25px] sm:p-5",
                        ]}
                      >
                        <div
                          class:list={[
                            "text-[clamp(1.5rem,1.8vw+0.1rem,1.75rem)]",
                            "recoleta leading-[110%]",
                          ]}
                        >
                          <a
                            class="main-link"
                            set:text={post.Estate_name}
                            href={`/` + post.Meta.URL_slug}
                          />
                        </div>
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            </div>
            <div class="estates-banner-bottom py-8 -mt-1 bg-primary z-10" />
          </section>
        )
      }
    </div>

    {
      page.Block4_visibility && (
        <ProductCategories {locale} title={page.Block4_title} />
      )
    }

    {
      page.Block5_visibility && (
        <Banner
          title={page.Block5_title}
          intro={page.Block5_text}
          button_text={page.Block5_button_text}
          button_link={page.Block5_button_link}
          blob={page.Block5_blob}
        />
      )
    }

    {
      page.Block6_visibility && (
        <KindnessImpact
          {locale}
          heading={page.Block6_title}
          impacts={page.Impacts}
        />
      )
    }
  </div>
</SecondaryPageLayout>
