---
import Markdown from "@astrojs/markdown-component";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

const { page, recurData } = Astro.props,
  { howTos } = page,
  headingName = recurData.text_practices,
  { CF_IMAGE_DELIVERY_ENDPOINT: imgSrcPrefix } = import.meta.env;

// html source to extract heading links from
const practicesHeadingsHTML = page.Method.map(
  (method) => `<h2>${method.Method_title}</h2>`
).join("\n");
---

<style lang="scss">
  @use "src/styles/colors";

  .howto-header {
    background: colors.$howto-white;
  }

  .howto-header-method {
    padding: clamp(9px, 1.5vw, 18px) clamp(20px, 3.125vw, 38px);
  }

  .method-title {
    color: colors.$howto-white;
    padding: clamp(8px, 1.25vw, 10px) clamp(15px, 2.5vw, 32px);
  }

  .method-step {
    background-color: colors.$howto-white;
    padding: clamp(15px, 2.875vw, 36px) 36px;
  }
</style>

<PostDetailsLayout {page} posts={howTos} {recurData} {headingName}>
  {/* Howto Header */}
  <div
    slot="howto-header"
    class="wrapper flex relative z-20 -top-10 lg:-top-16 xl:-top-24"
  >
    <div class="howto-header py-7 px-5 rounded-[10px]">
      <h2
        class="alice text-primary text-center sm:text-left text-[2rem] leading-[1.175]"
      >
        {page.Method.length}
        {recurData.text_practices_to_follow}
      </h2>

      <div
        class="mt-5 flex flex-wrap justify-center sm:justify-start gap-x-5 gap-y-2.5"
      >
        {
          page.Method.map((method) => (
            <a
              href={`#` + method.Method_title.replaceAll(" ", "-")}
              class:list={[
                "flex items-center bg-primary cursor-pointer",
                "text-white text-[1.125rem] leading-[1.325] max-w-[240px] min-h-[80px] rounded-[58px]",
              ]}
            >
              {method.Method_title}
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <Fragment slot="post-details">
    {
      page.Method.map((method) => (
        <div class="chapter">
          <h2
            class="method-title alice font-normal text-[2.25rem] leading-[1.3] bg-primary rounded-[10px]"
            id={method.Method_title.replaceAll(" ", "-")}
          >
            {method.Method_title}
          </h2>

          {method.Steps.map((step, index) => (
            <div class="method-step my-[30px] rounded-[10px]">
              <h3 class="font-medium text-primary text-[1.75rem] leading-tight tracking-tight">
                {index + 1 + ". " + step.Step_title}
              </h3>

              <div class="my-5 font-normal text-dark text-[1.25rem] leading-[1.75]">
                <Markdown>{step.Step_text}</Markdown>
              </div>

              {step.Step_blob.data !== null && (
                <img
                  class="mt-5"
                  src={
                    imgSrcPrefix +
                    step.Step_blob.data.attributes.provider_metadata.public_id +
                    `/small`
                  }
                />
              )}
            </div>
          ))}
        </div>
      ))
    }
  </Fragment>
</PostDetailsLayout>
