---
import { Schema } from "astro-seo-schema";
import { Picture } from "astro-imagetools/components";

import Markdown from "@components/Markdown.astro";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

const { page, recurData, ariaLabelRecurData } = Astro.props,
  { howTos } = page,
  headingName = recurData.text_practices;

const { STRAPI_URL } = import.meta.env,
  pageURL = Astro.site.origin + Astro.url.pathname + "/";
---

<PostDetailsLayout
  {page}
  posts={howTos}
  {recurData}
  {ariaLabelRecurData}
  {headingName}
>
  {/* Howto Header */}
  <div
    slot="howto-header"
    class="wrapper flex relative z-20 -top-8 lg:top-0 lg:-mt-16 xl:-mt-24"
  >
    <div
      role="complementary"
      aria-label={page.Method.length + recurData.text_practices_to_follow}
      class="tiled-div-pad division-gap grid bg-secondary-light rounded-[10px]"
    >
      <h2
        class="recoleta text-h3 text-primary font-bold text-center sm:text-left"
      >
        {
          `
        ${page.Method.length}
        ${recurData.text_practices_to_follow}
        `
        }
      </h2>

      <div
        role="list"
        aria-label={`${recurData.text_practices_to_follow} items`}
        class="flex flex-wrap justify-center sm:justify-start division-in-gap"
      >
        {
          page?.Method?.map(({ Method_title }, index) => (
            <div
              role="listitem"
              aria-label={ariaLabelRecurData.Howto_method_text + (index + 1)}
              class:list={[
                "button-primary-large text-center text-white",
                "w-full sm:w-auto max-w-[600px] sm:max-w-[240px]",
              ]}
            >
              <a href={`#` + Method_title?.replaceAll(" ", "-")}>
                {Method_title}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <Fragment slot="post-details">
    {
      page?.Method?.map((method) => (
        <div class="chapter">
          <h2
            id={method.Method_title?.replaceAll(" ", "-")
              .replace(/\s+/g, "")
              .trim()}
            class="tiled-title-div-pad bg-primary !text-white rounded-[10px]"
          >
            {method.Method_title}
          </h2>

          {method.Steps?.map(({ Step_title, Step_text, Step_blob }, index) => (
            <div class="tiled-div-pad bg-secondary-light rounded-[10px]">
              <h3
                id={Step_title?.replaceAll(" ", "-").replace(/\s+/g, "").trim()}
              >
                {index + 1 + ". " + Step_title}
              </h3>

              <Markdown>{Step_text}</Markdown>

              {Step_blob?.data && (
                <Picture
                  layout="fill"
                  alt={Step_blob.data.attributes.alternativeText}
                  src={STRAPI_URL + Step_blob.data.attributes.url}
                  sizes="(min-width: 768px) calc(90vw * 2/3 - 72px), calc(90vw - 72px)"
                  attributes={{
                    picture: { style: "margin-top: 20px;" },
                    img: {
                      style: "aspect-ratio: 2 / 1;",
                    },
                  }}
                />
              )}
            </div>
          ))}
        </div>
      ))
    }
  </Fragment>
</PostDetailsLayout>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "HowTo",
    name: page.Title,
    image: {
      "@type": "ImageObject",
      url: await importImage(STRAPI_URL + page.Intro_blob?.data.attributes.url),
    },
    step: await Promise.all(
      page.Method.map(async (method) => ({
        "@type": "HowToSection",
        name: method.Method_title,
        itemListElement: await Promise.all(
          method.Steps.map(async (step) => ({
            "@type": "HowToStep",
            name: step.Step_title,
            text: step.Step_text,
            url: `${pageURL + `#` + step.Step_title.replaceAll(" ", "-")}`,
            image: {
              "@type": "ImageObject",
              url: !step.Step_blob?.data
                ? ""
                : await importImage(
                    STRAPI_URL + step.Step_blob?.data?.attributes.url,
                  ),
            },
          })),
        ),
      })),
    ),
  }}
/>
