---
import Pagination from "@components/Pagination.astro";
import HeroContent from "@components/HeroContent.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import PostItem from "@components/PostItem.astro";

type Post = {
  Estate_name: string;
  authors: any;
  locale: string | undefined;
  updatedAt: string;
  createdAt: string;
  publishedAt: string;
  Intro_text: string;
  Intro_blob: any;
  Block_text: string;
  Category: any | undefined;
  Cooking_part: any;
  Cuisine: any;
  Nutrition_yield: any;
  Recipe_variations: any;
  Title: String;
  Time_preparation: any | undefined;
  Time_text: any | undefined;
  Time_cooking: any;
  Relevant_recipes: any;
  Meta: any;
  localizations: { data: { attributes: Post }[] };
} & Record<string, any>;

interface Props {
  page: {
    posts: Post[];
  } & Record<string, any>;
  ariaLabelRecurData: Record<string, any>;
}

const { page, ariaLabelRecurData } = Astro.props,
  { posts, pagination } = page,
  { STRAPI_URL } = import.meta.env;

posts.sort((a, b) => {
  return new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime();
});

const [firstPost] = posts;
---

<HeroContent
  page={{
    ...page,
    Title: firstPost.Title,
    Intro_text: firstPost.Intro_text,
    authors: firstPost.authors,
    Intro_blob: firstPost.Intro_blob,
    createdAt: firstPost.createdAt,
  }}
  link={firstPost.Meta.URL_slug}
  noAuthorImg={true}
/>

{/* All Posts Section */}
<section class="wrapper grid section-gap section-in-v-pad">
  <PostItem
    posts={posts.slice(1)}
    locale={page.locale}
    leafVisible={true}
    titleIconVisible={true}
    type="post-overview"
  />

  {pagination && <Pagination pagination={pagination} />}
</section>
