---
import CupIcon from "/images/cup.svg";
import LeafImg from "/images/greenLeaf5.webp";
import LeafImg1 from "/images/greenLeaf.webp";
import CupGreenIcon from "/images/cupGreen.svg";

import ClipPath from "../ClipPath.astro";
import Markdown from "@astrojs/markdown-component";
import HeroBackground from "../HeroBackground.astro";
import UpdateHeroTopMargin from "../scripts/UpdateHeroTopMargin.astro";

const url = `${import.meta.env.CloudImg_URL}`;

const { page } = Astro.props;

const posts = page.posts
  .filter((val) => val?.props?.page?.locale == page.locale)
  .map((val) => val.props.page);

// @ts-ignore
posts.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

const [firstPost] = posts;
---

<!-- Hero Section -->
<div class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  <!-- Text content -->

  <div class="relative h-full wrapper z-30 HeroTxtContainer">
    <div
      class="sm:w-8/12 md:w-7/12 HeroTxtContent BlogHeroTxtContent"
      role="banner"
    >
      <div class="flex flex-wrap items-center">
        <div>
          <div class="grid gap-y-1 sm:gap-y-0 xl:gap-y-1">
            <div class="flex flex-wrap font-bold blogHome_heroAuth">
              {
                firstPost.authors.data.map((author, idx) => (
                  <a href="#">
                    {`${idx > 0 ? ", " : " "}` + author.attributes.givenName}
                  </a>
                ))
              }
            </div>

            <ul class="flex flex-wrap items-center">
              <li class="blogHome_HdItem">
                {
                  new Date(firstPost.createdAt).toLocaleString("en-US", {
                    day: "numeric",
                    month: "long",
                  })
                }
              </li>

              {
                /*
                  <li class="blogHome_blogItem">5 min read</li>
                  <li class="blogHome_blogItem">
                    <a class="blogHome_blogItemBtn">Manufacturing</a>
                  </li>                   
                */
              }
            </ul>
          </div>

          <h1 class="blogHome_heroTitle">
            <a href={`/` + firstPost.Meta.URL_slug}>{firstPost.Title}</a>

            <span class="icon relative top-0">
              <span class="relative headingInlineIcon">
                <img class="w-full h-full" src={CupIcon} alt="cup-icon" />
              </span>
            </span>
          </h1>

          <a href={`/` + firstPost.Meta.URL_slug}>
            <div class="prose max-w-none blogHome_heroTxt">
              <Markdown>{firstPost.Intro_text}</Markdown>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Blob Image  Desktop view-->

  <div
    class="h-full hidden sm:block absolute z-20 heroCurve2Container BlogHeroCurveContainer"
  >
    <ClipPath
      id="heroImgFrame2"
      path="M1,0 S0.345,0.001,0.098,0.001 C-0.013,0.158,-0.007,0.342,0.009,0.606 C0.025,0.888,0.144,1,0.536,1 c0.3,0,0.379,-0.095,0.464,-0.147"
    />

    <img
      src={url +
      firstPost.Intro_blob.data.attributes.provider_metadata.public_id +
      `/small`}
      class="w-full h-full relative"
      style="right: -15%; object-fit:cover; clip-path: url(#heroImgFrame2)"
    />
  </div>
</div>

<!-- Blob Image Mobile view -->

<div class="block sm:hidden relative -mt-20 z-20 w-full heroCurve3Container">
  <ClipPath
    id="heroImgFrame3"
    path="M1 .074v.904S.906 1 .774 1C.706 1 .637.996.569.993.487.989.405.984.324.986a4.576 4.576 0 0 0-.117.005C.115.996.032 1.001 0 .986V.074C.062.024.147 0 .282 0c.075 0 .165.023.244.043.062.016.118.03.154.03.026 0 .06-.007.097-.014C.861.044.959.025 1 .074"
  />

  <img
    src={url +
    firstPost.Intro_blob.data.attributes.provider_metadata.public_id +
    `/small`}
    class="w-full h-full"
    style="clip-path: url(#heroImgFrame3);"
  />
</div>

<!-- All Contents Section -->

<div class="wrapper blogHome_blogs">
  <div class="blogHome_blogsContainer">
    <ClipPath
      id="basicInfoSec_ImgFrame"
      path="M.516.008C.359.008.1-.008.039.083S.002.495.017.736.182 1 .528 1C.813 1 .902.936.974.717 1 .624 1 .395.946.128.897-.045.735.008.516.008"
    />

    {
      posts.slice(1).map((post, idx) => {
        const even = idx % 2 === 0;

        return (
          <div class="flex flex-wrap items-center blogHome_blogContaier">
            <div
              class:list={[
                !even && "sm:order-2",
                "relative w-full sm:w-1/2 order-1 blogHome_blogCurveContainer",
              ]}
            >
              <div class={even ? "blogHome_blogCurveL" : "blogHome_blogCurveR"}>
                <a href={`/` + post.Meta.URL_slug}>
                  <img
                    src={
                      url +
                      post.Intro_blob.data.attributes.provider_metadata
                        .public_id +
                      `/small`
                    }
                    class="w-full h-full"
                    style="clip-path: url(#basicInfoSec_ImgFrame);"
                  />

                  <div
                    class:list={[
                      "absolute z-20",
                      idx % 2 === 0
                        ? "blogLeafL_container"
                        : "blogLeafR_container",
                    ]}
                  >
                    <div class="blogLeaf">
                      <img
                        alt="tea-leaf-image"
                        class="w-full h-full"
                        src={even ? LeafImg : LeafImg1}
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>

            {/*Text content*/}

            <div
              class:list={[
                !even && "sm:order-1",
                "w-full sm:w-1/2 order-2 h-full",
              ]}
            >
              <div
                class:list={[
                  "flex flex-wrap",
                  even
                    ? "blogHome_blogTxtContaierL"
                    : "blogHome_blogTxtContaierR",
                ]}
              >
                <div>
                  <div class="flex flex-wrap font-bold blogHome_blogAuth">
                    {post.authors.data.map((author, idx) => (
                      <a href="#">
                        {`${idx > 0 ? ", " : " "}` +
                          author.attributes.givenName}
                      </a>
                    ))}
                  </div>

                  <ul class="flex flex-wrap items-center gap-y-1">
                    <li class="blogHome_blogItem">
                      {new Date(post.createdAt).toLocaleString("en-US", {
                        day: "numeric",
                        month: "long",
                      })}
                    </li>

                    {/*
                      <li class="blogHome_blogItem">5 min read</li>
                      <li class="blogHome_blogItem">
                        <a class="blogHome_blogItemBtn">Manufacturing</a>
                      </li>
                    */}
                  </ul>

                  <h1 class="blogHome_blogTitle">
                    <a href={`/` + post.Meta.URL_slug}>{post.Title}</a>

                    <span class="icon relative top-0">
                      <span class="relative headingInlineIcon">
                        <img
                          class="w-full h-full"
                          src={CupGreenIcon}
                          alt="cup-icon"
                        />
                      </span>
                    </span>
                  </h1>

                  <a href={`/` + post.Meta.URL_slug}>
                    <div class="prose max-w-none blogHome_blogTxt">
                      <Markdown>{post.Intro_text}</Markdown>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
