---
import { Icon } from "astro-icon";
import { Schema } from "astro-seo-schema";
import { Picture } from "astro-imagetools/components";
import Markdown from "@astrojs/markdown-component";

import Chapterize from "@components/Chapterize.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import OptimizeContentImages from "@components/OptimizeContentImages.astro";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

import renderMarkdown from "@utils/renderMarkdown";
import localizeCMSImage from "@utils/localizeCMSImage";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

const { green_right_arrow } = RecurringImages;

const { page, recurData, ariaLabelRecurData } = Astro.props,
  headingName = recurData.text_chapter,
  { STRAPI_URL } = import.meta.env;

const {
  locale,
  baseProductTitle,
  productVariant,
  productSize,
  availableVariants,
  availableSizes,
  availableFormats,
  Stock_amount: stockAmount,
} = page;

const { SKU: productSKU, Price } = page,
  tax = Math.round(Price * 9) / 100,
  productPriceIncludingTax = Price + tax;

const infos = page.product_infos.data.map(({ attributes }) => attributes),
  blogs = page.related_blogs?.data?.map(({ attributes }) => attributes),
  recipes = page.related_recipes?.data?.map(({ attributes }) => attributes),
  howTos = page.related_how_tos?.data?.map(({ attributes }) => attributes);

const relevantItems = blogs.concat(recipes, howTos);

const spentAmounts = page.Price_breakdown.map(
  ({ Spent_amount }) => Spent_amount,
);

const totalSpentAmount = spentAmounts.reduce(
  (total, currentValue) => total + currentValue,
  0,
);

const checkoutRecurData = CMS.get("checkoutRecurringElement", locale);
---

<style lang="scss">
  @use "src/styles/colors";

  .cart-adding-form {
    margin-top: clamp(0.625rem, 1vw + 0.35rem, 1.25em);
    row-gap: clamp(0.938rem, 3vw + 0.3rem, 3.125rem);
  }

  form {
    *:focus {
      outline: none;
    }
  }

  .product-amount-tweak-btn:disabled {
    opacity: 30%;
  }

  .product-amount-input {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .variant-container {
    @apply grid lg:grid-cols-[repeat(auto-fill,minmax(215px,3fr))] 
      gap-[15px] sm:gap-[30px] mt-4 overflow-hidden;

    .variant-content-container {
      @apply relative flex flex-nowrap cursor-pointer w-full h-[70px];

      @media (max-width: 320px) {
        @apply h-full;
      }
    }

    .variant-txt-container {
      @apply flex grow justify-center items-center px-[18px] py-[12px];

      @media (max-width: 320px) {
        @apply w-3/5;
      }
    }

    .variant-img-container {
      @media (max-width: 320px) {
        @apply w-2/5;
      }
    }
  }

  .product-details img {
    width: 100%;
    max-height: 530px;
    aspect-ratio: 3.26 / 1.77 !important;

    @media (min-width: 640px) {
      aspect-ratio: 8 / 5.17 !important;
    }
  }

  .product-kindness-impact-top {
    clip-path: url(#product-impact-top-curve-sm);

    @media (min-width: 768px) {
      clip-path: url(#product-impact-top-curve);
    }
  }

  .product-kindness-impact-bottom {
    clip-path: url(#product-impact-bottom-curve-sm);

    @media (min-width: 768px) {
      clip-path: url(#product-impact-bottom-curve);
    }
  }

  .product-kindness-impact-text {
    font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  }

  .product-details {
    ul,
    ol {
      padding: 0;
    }

    ol {
      list-style: none;
      counter-reset: counter;
    }

    li {
      counter-increment: counter;

      &::before {
        content: counter(counter);

        @apply bg-primary inline-flex items-center justify-center w-[45px] h-[45px] mr-5 text-white rounded-full;
      }
    }
  }

  .accordion-items-grid {
    grid-template-columns: clamp(2rem, 3vw + 0.3rem, 2.5rem) auto;
  }

  .accordion-item-icon {
    height: clamp(2rem, 3vw + 0.3rem, 2.5rem);

    img {
      @apply w-full block mx-auto object-contain;

      clip-path: none;
      aspect-ratio: 1 / 1;
    }
  }

  .accordion-button {
    font-size: clamp(1.125rem, 1.5vw + 0.15rem, 1.5rem);
    transition: all 150ms ease-out 0ms;

    &.is-active {
      @apply font-semibold md:font-bold;
    }
  }

  .accordion-content {
    @apply hidden max-h-0 opacity-0 transition-all;

    &.is-open {
      @apply block max-h-full opacity-100;
    }
  }

  .product-info-container {
    border-color: colors.$primary-light;
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, clamp(100px, 18vw + 20px, 280px))
    );
  }

  .related-post-card {
    @apply w-full max-w-[380px] sm:max-w-none;
  }

  .related-post-card-content-container {
    padding: clamp(20px, 6.4vw, 40px) clamp(24px, 3.8vw + 11.75px, 36px);

    @media (min-width: 640px) {
      padding: clamp(30px, 7.8125vw - 20px, 60px)
        clamp(28px, 4.6875vw - 2px, 46px);
    }

    @media (min-width: 1024px) {
      padding: clamp(30px, 8vw - 51.75px, 60px) clamp(28px, 4.8vw - 21px, 46px);
    }
  }

  .related-post-card-author {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1rem);
    line-height: 150%;
  }

  .related-post-card-title {
    @apply leading-[130%] sm:leading-[120%];

    font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
  }

  .related-post-card-title-icon {
    height: clamp(0.625rem, 1.5vw + 0.1rem, 1rem);
  }
</style>

<ClipPathSVG
  id="product-category-card-curve"
  path="M0.547,0.01 c0.072,0.003,0.13,0,0.167,0 c0.315,0,0.282,0.03,0.282,0.467 s0.052,0.518,-0.264,0.518 c-0.105,0,-0.154,0,-0.174,-0.001 l-0.011,0.001 h-0.001 c-0.199,0.01,-0.401,0.008,-0.47,-0.037 C-0.013,0.898,0.003,0.642,0.003,0.487 c0,-0.216,-0.034,-0.411,0.14,-0.459 C0.305,-0.018,0.435,0.005,0.547,0.01"
/>

<ClipPathSVG
  id="product-variant-curve"
  path="M0.547,0.01 c0.072,0.003,0.13,0,0.167,0 c0.315,0,0.282,0.03,0.282,0.467 s0.052,0.518,-0.264,0.518 c-0.105,0,-0.154,0,-0.174,-0.001 l-0.011,0.001 h-0.001 c-0.199,0.01,-0.401,0.008,-0.47,-0.037 C-0.013,0.898,0.003,0.642,0.003,0.487 c0,-0.216,-0.034,-0.411,0.14,-0.459 C0.305,-0.018,0.435,0.005,0.547,0.01"
/>

<PostDetailsLayout {page} {recurData} {ariaLabelRecurData} {headingName}>
  <form
    slot="tea-details-header"
    class:list={[
      "cart-adding-form flex flex-wrap items-center w-full",
      stockAmount > 0 && "xl:w-2/3",
    ]}
  >
    <input type="hidden" name="SKU" value={productSKU} />
    <input type="hidden" name="price" value={Price} />

    <div class="flex flex-wrap gap-[15px] mt-[15px]">
      <div
        class="grid sm:flex flex-wrap items-center gap-2.5 md:gap-[25px] w-full"
      >
        {
          availableVariants.map(({ value, variant, variantIcon, link }) => (
            <div>
              <input
                type="radio"
                name="tea_variant"
                id={variant}
                value={value}
                data-href={link}
                checked={value === productVariant}
                class="peer hidden"
              />

              <label
                for={variant}
                class:list={[
                  "inline-block p-[3px] text-secondary w-full",
                  "peer-checked:bg-secondary select-none cursor-pointer",
                ]}
                style="clip-path: url(#product-variant-curve);"
              >
                <div
                  class="md:w-[188px] p-1 bg-primary"
                  style="clip-path: url(#product-variant-curve);"
                >
                  <div
                    class:list={[
                      "w-full py-3 px-5 bg-dark-green",
                      "flex items-center sm:justify-center gap-[15px] ",
                    ]}
                    style="clip-path: url(#product-variant-curve);"
                  >
                    {variantIcon?.src && (
                      <img
                        src={STRAPI_URL + variantIcon.src}
                        alt={variantIcon.alt}
                        class="w-7 h-7"
                      />
                    )}

                    <span class="text-sm font-bold leading-[110%]">
                      {variant}
                    </span>
                  </div>
                </div>
              </label>
            </div>
          ))
        }
      </div>

      <div class="flex flex-wrap items-center gap-[5px] sm:gap-2.5">
        <div class="text-base leading-[110%] p-2.5">
          {checkoutRecurData.text_size}:
        </div>

        <div class="flex flex-wrap gap-2">
          {
            availableSizes.map(({ value, size, link }) => (
              <div>
                <input
                  type="radio"
                  name="tea_size"
                  id={size}
                  value={value}
                  data-href={link}
                  checked={value === productSize}
                  class="peer hidden"
                />

                <label
                  for={size}
                  class:list={[
                    "peer-checked:bg-dark-green peer-checked:text-secondary",
                    "inline-block py-2 px-[25px] text-dark-green rounded-full",
                    "select-none cursor-pointer border-2 border-secondary/80 bg-secondary",
                  ]}
                >
                  {size}
                </label>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="flex flex-wrap gap-5 items-center w-full justify-between">
      {
        stockAmount < 1 && (
          <div class="grid gap-4 w-full">
            <div
              class:list={[
                "flex items-center gap-2.5 w-full",
                "text-sm sm:text-base font-medium text-white2",
              ]}
            >
              <Icon
                name="mdi:alert-circle"
                class="inline-flex p-0.5 w-[26px] text-white bg-[#febf21] rounded-full select-none"
              />
              {
                // hide label if in-stock date is in the past or undefined
                new Date(page.In_stock_date).getTime() > new Date().getTime() &&
                  recurData.Item_stock_text.replace(
                    "<in_stock_date>",
                    new Date(page.In_stock_date).toLocaleString("en-GB", {
                      year: "2-digit",
                      month: "short",
                      day: "numeric",
                    }),
                  ) + "."
              }
              {availableFormats.length === 1
                ? recurData.Product_stock_other_formats_text_singular
                : recurData.Product_stock_other_formats_text.replace(
                    "<count>",
                    availableFormats.length,
                  )}
            </div>
          </div>
        )
      }

      <div
        class:list={[
          "flex items-center text-secondary border-2 border-secondary rounded-full",
          stockAmount === 0 ? "bg-slate" : "bg-dark-green",
        ]}
      >
        <button
          data-action="decrement"
          aria-label={ariaLabelRecurData.Product_quantity_minus_button_text}
          class:list={[
            "product-amount-tweak-btn w-7 h-10 py-2.5 pl-2 pr-1 select-none",
            stockAmount === 0 && "cursor-not-allowed",
          ]}
          disabled
        >
          <Icon name="akar-icons:minus" class="w-[14px] h-[14px] select-none" />
        </button>

        <input
          type="number"
          name="quantity"
          aria-label={ariaLabelRecurData.Product_quantity_text}
          min={1}
          max={stockAmount}
          value={1}
          class:list={[
            "product-amount-input w-7 h-10 outline-none",
            "text-primary text-center lg:text-lg bg-secondary",
            stockAmount === 0 && "cursor-not-allowed",
          ]}
          disabled={stockAmount === 0 && "disabled"}
          required
        />

        <button
          data-action="increment"
          aria-label={ariaLabelRecurData.Product_quantity_plus_button_text}
          class:list={[
            "product-amount-tweak-btn w-7 h-10 py-2.5 pl-1 pr-2",
            stockAmount === 0 && "cursor-not-allowed",
          ]}
          disabled={stockAmount === 0 && "disabled"}
        >
          <Icon name="akar-icons:plus" class="w-[14px] h-[14px] select-none" />
        </button>
      </div>

      <div class="grow">
        {
          stockAmount > 0 && (
            <button
              class:list={[
                "w-fit md:w-full p-3 px-5 mt-auto rounded-full",
                "flex justify-center items-center gap-2 md:gap-4",
                "text-sm md:text-base text-primary font-bold bg-white",
              ]}
            >
              <Icon
                name="mi:shopping-cart"
                class="w-5 md:w-[26px] h-5 md:h-[26px]"
              />

              <span class="flex flex-wrap items-center gap-[5px]">
                {checkoutRecurData.text_add_to_cart_for}
                <span class="w-2 h-2 bg-secondary rounded-full" />€
                <output class="product-amount-price">
                  {productPriceIncludingTax.toFixed(2).replace(".", ",")}
                </output>
              </span>
            </button>
          )
        }

        {
          stockAmount === 0 && (
            <button
              disabled
              class:list={[
                "bg-slate text-base font-bold text-white p-3 mt-auto rounded-full",
                "w-full xl:w-2/3 flex justify-center items-center gap-4 cursor-not-allowed",
              ]}
            >
              <Icon name="tabler:shopping-cart-x" class="w-[26px] h-[26px]" />

              <span class="flex flex-wrap items-center gap-[5px]">
                {recurData.Product_sold_out_text}
                <span class="w-2 h-2 bg-secondary rounded-full" />€
                <output class="product-amount-price">
                  {productPriceIncludingTax.toFixed(2).replace(".", ",")}
                </output>
              </span>
            </button>
          )
        }
      </div>
    </div>
  </form>

  <form
    slot="cart-adding-form-sm"
    class="cart-adding-form-sm flex flex-wrap justify-between gap-6 mt-8 w-full"
  >
    <input type="hidden" name="SKU" value={productSKU} />
    <input type="hidden" name="price" value={Price} />

    {
      stockAmount > 0 && (
        <div class="w-full flex flex-wrap gap-4 items-center justify-between">
          <fieldset>
            <legend
              class:list={[
                "text-sm lg:text-base font-medium leading-[150%]",
                "text-black-light mb-[5px] outline-none",
              ]}
            >
              {checkoutRecurData.text_variant}:
            </legend>

            <div class="border-2 border-primary overflow-hidden rounded-full">
              <select
                name="tea_variant"
                class:list={[
                  "inline-block bg-white border-r-[15px] border-transparent",
                  "py-[9px] pl-[15px] text-primary lg:text-lg lg:font-normal",
                ]}
              >
                {availableVariants.map(({ value, variant, link }) => (
                  <option
                    value={value}
                    data-href={link}
                    selected={value === productVariant}
                  >
                    {variant}
                  </option>
                ))}
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend
              class:list={[
                "text-sm lg:text-base font-medium leading-[150%]",
                "text-black-light mb-[5px] outline-none",
              ]}
            >
              {checkoutRecurData.text_size}:
            </legend>

            <div class="border-2 border-primary overflow-hidden rounded-full">
              <select
                name="tea_size"
                class:list={[
                  "inline-block bg-white border-r-[15px] border-transparent",
                  "py-[9px] pl-[15px] text-primary lg:text-lg lg:font-normal",
                ]}
              >
                {availableSizes.map(({ value, size, link }) => (
                  <option
                    value={value}
                    data-href={link}
                    selected={value === productSize}
                  >
                    {size}
                  </option>
                ))}
              </select>
            </div>
          </fieldset>
        </div>
      )
    }

    <div class="w-full flex flex-wrap justify-between items-center gap-4">
      {
        stockAmount > 0 && (
          <div class="w-fit flex items-center text-white p-1 bg-primary rounded-full">
            <button
              data-action="decrement"
              aria-label={ariaLabelRecurData.Product_quantity_minus_button_text}
              class="product-amount-tweak-btn w-10 h-12 py-2.5 pl-3 pr-1"
              disabled
            >
              <Icon name="akar-icons:minus" class="w-6 h-6 select-none" />
            </button>

            <input
              type="number"
              name="quantity"
              aria-label={ariaLabelRecurData.Product_quantity_text}
              min={1}
              max={stockAmount}
              value={1}
              class="product-amount-input w-12 h-full bg-transparent text-center lg:text-lg outline-none"
              required
            />

            <button
              data-action="increment"
              aria-label={ariaLabelRecurData.Product_quantity_plus_button_text}
              class="product-amount-tweak-btn w-10 h-12 py-2.5 pl-1 pr-3"
            >
              <Icon name="akar-icons:plus" class="w-6 h-6 select-none" />
            </button>
          </div>
        )
      }

      <div class="ml-auto grow">
        {
          stockAmount > 0 && (
            <button
              class:list={[
                "w-full flex justify-center items-center gap-4 p-3 mt-auto",
                "bg-primary text-base font-bold text-white leading-[19px] rounded-full",
              ]}
            >
              <Icon name="mi:shopping-cart" class="w-8 h-8" />
              {checkoutRecurData.text_add_to_cart}
            </button>
          )
        }

        {
          stockAmount === 0 && (
            <div
              class:list={[
                "w-full flex justify-center items-center gap-4 p-3 mt-auto rounded-full",
                "bg-slate text-white text-base font-bold leading-[19px] cursor-not-allowed",
              ]}
            >
              <Icon name="mi:shopping-cart" class="w-8 h-8" />
              {recurData.Product_sold_out_text}
            </div>
          )
        }
      </div>
    </div>
  </form>

  {
    stockAmount > 0 && (
      <form
        slot="cart-adding-form-fixed-sm"
        class:list={[
          "cart-adding-form-fixed-sm flex md:hidden items-center",
          "w-full py-[15px] fixed inset-x-0 bottom-0 z-[99]",
          "shadow-[0_4px_10px_rgba(0,0,0,0.6)] bg-secondary",
        ]}
      >
        <input type="hidden" name="SKU" value={productSKU} />
        <input type="hidden" name="price" value={Price} />

        <div class="wrapper flex items-center gap-4 justify-between">
          <div class="w-fit flex items-center text-white p-1 bg-primary rounded-full">
            <button
              data-action="decrement"
              aria-label={ariaLabelRecurData.Product_quantity_minus_button_text}
              class="product-amount-tweak-btn w-10 h-10 py-2.5 pl-3 pr-1"
              disabled
            >
              <Icon name="akar-icons:minus" class="w-6 h-6 select-none" />
            </button>

            <input
              type="number"
              name="quantity"
              aria-label={ariaLabelRecurData.Product_quantity_text}
              min={1}
              max={stockAmount}
              value={1}
              class="product-amount-input w-10 h-full bg-transparent text-center outline-none"
              required
            />

            <button
              data-action="increment"
              aria-label={ariaLabelRecurData.Product_quantity_plus_button_text}
              class="product-amount-tweak-btn w-10 h-10 py-2.5 pl-1 pr-3"
            >
              <Icon name="akar-icons:plus" class="w-6 h-6 select-none" />
            </button>
          </div>

          <div class="grow">
            <button
              class:list={[
                "w-full flex justify-center items-center gap-3 p-3",
                "bg-primary text-white font-bold text-base rounded-full",
              ]}
            >
              <Icon name="mi:shopping-cart" class="w-[26px] h-[26px]" />
              {checkoutRecurData.text_add_to_cart}
            </button>
          </div>
        </div>
      </form>
    )
  }

  <div slot="post-details" class="product-details prose content-text">
    <ClipPathSVG
      id="price-breakdown-curve"
      path="M0.526,0.003 C0.368,0.003,0.173,0.042,0.111,0.133 C0.05,0.224,-0.008,0.58,0.013,0.696 C0.034,0.812,0.187,1,0.538,1 C0.826,1,0.917,0.939,0.99,0.718 C1,0.624,1,0.516,0.941,0.247 C0.892,0.073,0.747,0.003,0.526,0.003"
    />

    <Chapterize>
      <Markdown>{page.Intro_text}</Markdown>

      <OptimizeContentImages>
        <Markdown>{page.Block_text}</Markdown>
      </OptimizeContentImages>
    </Chapterize>

    {
      page.Price_breakdown.length > 0 && (
        <div class="chapter">
          <h2
            id="price-breakdown"
            class="recoleta text-[clamp(2rem,3vw+0.55rem,2.625rem)] font-semibold leading-[130%]"
          >
            {recurData.product_price_breakdown_title}
          </h2>

          <div>
            <Markdown>
              {page.Price_breakdown_text.split("<")[0]}
              <span class="recoleta text-[clamp(2rem,3vw+0.55rem,2.625rem)] text-primary">
                {page.Price_breakdown_text.match("<total_spent>") &&
                  `€${totalSpentAmount.toFixed(2)}`}
              </span>
              {page.Price_breakdown_text.split(">")[1]}
            </Markdown>
          </div>

          <div class="flex overflow-hidden w-full my-2.5 md:my-[15px] h-[80px] rounded-[25px]">
            {page.Price_breakdown.map((item) => (
              <div
                class="h-full"
                style={`background-color: ${item.Item_color_code}; width:${
                  (item.Spent_amount * 100) / totalSpentAmount
                }%`}
              />
            ))}
          </div>

          <div
            role="list"
            class="grid grid-cols-[repeat(auto-fit,minmax(0,250px))] gap-2.5 justify-between"
          >
            {page.Price_breakdown.map((item) => (
              <div role="listitem" class="flex items-center gap-x-2.5">
                <div
                  style={`background-color: ${item.Item_color_code}; clip-path: url(#price-breakdown-curve)`}
                  class:list={[
                    "w-[62px] h-[62px] flex justify-center items-center",
                    "text-sm lg:text-base font-medium lg:font-normal",
                  ]}
                >
                  {((item.Spent_amount * 100) / totalSpentAmount).toFixed(2)}%
                </div>

                <div class="grid">
                  <div class="recoleta text-primary text-[clamp(1.75rem,2.2vw+0.15rem,2rem)]">
                    €{item.Spent_amount.toFixed(2)}
                  </div>

                  <div class="text-[clamp(0.875rem,1vw+0.25rem,1.125rem)]">
                    {item.Item_name}
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      )
    }

    {
      page.Transparency.length > 0 && (
        <div class="chapter">
          <h2
            id="transparency"
            class="recoleta text-[clamp(2rem,3vw+0.55rem,2.625rem)] font-semibold leading-[130%]"
          >
            {recurData.product_transparency_title}
          </h2>
          <p>{page.Transparency_text}</p>

          <div class="grid gap-5">
            {page.Transparency.map(async (item, index) => (
              <div class="w-full lg:w-10/12">
                <div class="accordion-items-grid grid gap-x-2.5">
                  <div class="accordion-item-icon flex items-center">
                    <img
                      alt=""
                      src={await localizeCMSImage(
                        item.Transparency_item_icon.data.attributes.url,
                      )}
                      class="w-full h-full object-contain p-1"
                    />
                  </div>

                  <div class="w-full">
                    <button
                      class:list={[
                        "accordion-button w-full cursor-pointer text-left leading-[150%]",
                        index === 0 ? "is-active" : "",
                      ]}
                    >
                      {item.Transparency_item_title}
                    </button>

                    <div
                      class:list={[
                        index === 0 ? "is-open" : "",
                        "accordion-content text-lg lg:text-xl leading-[150%] m-0",
                      ]}
                    >
                      <Markdown>{item.Transparency_item_text}</Markdown>
                    </div>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      )
    }

    {
      page.Impact.length > 0 && (
        <div class="chapter">
          <h2
            id="impact"
            class="recoleta text-[clamp(2rem,3vw+0.55rem,2.625rem)] font-semibold leading-[130%]"
          >
            {recurData.product_impact_title}
          </h2>
          <p>{page.Impact_text}</p>

          <div class="grid gap-5">
            {page.Impact.map((item, index) => (
              <div class="w-full lg:w-10/12">
                <div class="grid accordion-items-grid gap-x-2.5">
                  <div class="accordion-item-icon flex items-center">
                    <img
                      alt=""
                      src={
                        STRAPI_URL + item.Impact_item_icon.data.attributes.url
                      }
                      class="w-full h-full object-contain p-1"
                    />
                  </div>

                  <div class="w-full">
                    <button
                      class:list={[
                        index === 0 && "is-active",
                        "accordion-button w-full cursor-pointer text-left leading-[150%]",
                      ]}
                    >
                      {item.Impact_item_title}
                    </button>

                    <div
                      class:list={[
                        index === 0 && "is-open",
                        "accordion-content text-lg lg:text-xl leading-[150%] m-0",
                      ]}
                    >
                      <Markdown>{item.Impact_item_text}</Markdown>
                    </div>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      )
    }
  </div>

  {
    infos.length > 0 && (
      <section slot="product-info" class="wrapper">
        <div
          role="list"
          aria-label={ariaLabelRecurData.Product_related_kindness_info_text}
          class:list={[
            "grid justify-between md:justify-center gap-[14px] lg:gap-[21px]",
            "product-info-container py-[50px] my-[50px] border-y border-solid",
          ]}
        >
          {infos.map((info) => (
            <div
              role="listitem"
              class="grid gap-[7px] md:gap-3.5 lg:gap-[20px]"
            >
              <div class="h-[clamp(1.125rem,4vw+0.4rem,4rem)] mx-auto">
                <img
                  class="w-full h-full"
                  alt=""
                  src={STRAPI_URL + info.Product_info_icon.data.attributes.url}
                />
              </div>

              <div
                class:list={[
                  "text-[clamp(0.625rem,2vw+0.1rem,1.5em)]",
                  "font-medium leading-[150%] text-primary text-center",
                ]}
              >
                {info.Product_info_title}
              </div>
            </div>
          ))}
        </div>
      </section>
    )
  }

  {
    relevantItems.length > 0 && (
      <section class="mb-[50px]" slot="product-kindness-impact">
        <ClipPathSVG
          id="product-impact-top-curve"
          path="M1,0.582 V1 H0 V0.582 S0.073,0.358,0.136,0.295 c0.103,-0.103,0.245,0.128,0.348,0.173 C0.602,0.52,0.729,0.058,0.847,0.003 L0.861,0 C0.965,0,1,0.582,1,0.582"
        />

        <ClipPathSVG
          id="product-impact-top-curve-sm"
          path="M1,0.892 V1 H0 V0.892 c0.059,-1.237,0.238,-0.517,0.321,-0.517 S0.499,0.133,0.639,0.033 a0.799,4,0,0,1,0.088,-0.033 C0.84,0,0.951,0.193,1,0.892"
        />

        <ClipPathSVG
          id="product-impact-bottom-curve"
          path="M1,0 c-0.005,0.158,-0.026,0.437,-0.104,0.633 c-0.115,0.288,-0.242,-0.102,-0.316,-0.102 c-0.07,0,-0.171,0.017,-0.231,0.185 c-0.057,0.16,-0.132,0.283,-0.193,0.283 C0.032,1,0,0.633,0,0.633 V0"
        />

        <ClipPathSVG
          id="product-impact-bottom-curve-sm"
          path="M1,0 V0.722 c-0.095,0.278,-0.193,0,-0.324,0 C0.504,0.722,0.369,1,0.22,1 C0.088,1,0,0.382,0,0.382 V0"
        />

        <ClipPathSVG
          id="related-post-card-curve"
          path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
        />

        <div>
          <div class="py-8 -mb-1 bg-primary product-kindness-impact-top" />
          <div class="bg-primary">
            <div class="wrapper py-2.5 md:py-[100px]">
              <div class="product-kindness-impact-text recoleta font-semibold leading-[130%] text-center">
                <h2>{recurData.product_kindness_impact}</h2>
              </div>

              <div
                role="list"
                aria-label={ariaLabelRecurData.Kindness_Items_text}
                class:list={[
                  "wrapper justify-center gap-[50px] mt-[25px] sm:mt-[27px] md:mt-[27px] lg:mt-[32px]",
                  "grid grid-cols-[repeat(1,minmax(0,420px))] md:grid-cols-[repeat(2,minmax(0,580px))]",
                ]}
              >
                {relevantItems.map((post) => (
                  <div
                    role="listitem"
                    aria-label={ariaLabelRecurData.Kindness_Items_text}
                    class="link-section bg-secondary"
                    style="clip-path: url(#related-post-card-curve)"
                  >
                    <Picture
                      layout="fullWidth"
                      alt={post.Intro_blob.data.attributes.alternativeText}
                      src={STRAPI_URL + post.Intro_blob.data.attributes.url}
                      attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
                      sizes="(min-width: 768px) min(580px, calc(40vw - 25px)), min(80vw, 420px)"
                    />

                    <div class="related-post-card-content-container text-primary">
                      {post.authors && (
                        <div>
                          <div class="related-post-card-author flex flex-wrap font-bold">
                            {post.authors.data.map(({ attributes }, index) => (
                              <span>
                                {`${index > 0 ? ", " : " "}` +
                                  attributes.givenName}
                              </span>
                            ))}
                          </div>

                          <div class="post-publish-date">
                            {new Date(post.createdAt).toLocaleString("en-US", {
                              day: "numeric",
                              month: "long",
                            })}
                          </div>
                        </div>
                      )}

                      <div class="related-post-card-title recoleta mt-[15px]">
                        <a
                          class="main-link"
                          set:text={post.Title}
                          href={`/` + post.Meta.URL_slug}
                        />

                        <span class="icon related-post-card-title-icon">
                          <img
                            class="related-post-card-title-icon"
                            {...green_right_arrow}
                          />
                        </span>
                      </div>
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </div>
          <div class="product-kindness-impact-bottom py-8 -mt-1 bg-primary" />
        </div>
      </section>
    )
  }
</PostDetailsLayout>

<script define:vars={{ baseProductTitle, productSize, productVariant }}>
  window.baseProductTitle = baseProductTitle;

  const preferredProductsVariants = JSON.parse(
    localStorage.getItem("preferredProductsVariants") || "{}",
  );

  preferredProductsVariants[window.baseProductTitle] = {
    tea_variant: productVariant,
    tea_size: productSize,
  };

  localStorage.setItem(
    "preferredProductsVariants",
    JSON.stringify(preferredProductsVariants),
  );
</script>

<script>
  import tweakAmount from "@utils/client/tweakAmount";

  type ProductData = Record<string, number | string>;

  const query = document.querySelector.bind(document),
    queryAll = document.querySelectorAll.bind(document);

  const accordions = queryAll("button.accordion"),
    cartAddingForms = queryAll(
      ".cart-adding-form, .cart-adding-form-sm, .cart-adding-form-fixed-sm",
    ),
    productFormatInputs = queryAll(
      'input:is([name="tea_variant"], [name="tea_size"])',
    ),
    productAmountPriceOutput = query(".product-amount-price"),
    productAmountInputs = queryAll(".product-amount-input"),
    productAmountTweakBtns = queryAll(".product-amount-tweak-btn"),
    productPrice = Number(query("input[name='price']")?.value);

  accordions.forEach((accordion) => {
    accordion.addEventListener("click", () => {
      accordion.classList.toggle("is-active");
      accordion.nextElementSibling.classList.toggle("is-open");
    });
  });

  productFormatInputs.forEach((input) => {
    input.addEventListener("change", (event) => {
      const target = event.target as HTMLSelectElement;

      location.href = target.dataset.href;
    });
  });

  cartAddingForms.forEach((form: HTMLFormElement) => {
    form.addEventListener("change", (event) => {
      const target = event.target as HTMLSelectElement;

      if (["tea_variant", "tea_size"].includes(target.name)) {
        const selectedOption = target.selectedOptions[0];

        location.href = selectedOption.dataset.href;
      }
    });

    form.addEventListener("submit", (event) => {
      event.preventDefault();

      const productData = Object.fromEntries(new FormData(form)) as ProductData,
        { SKU } = productData,
        inCartProduct = window.cart[SKU];

      const quantity =
        Number(productData.quantity) + (inCartProduct?.quantity || 0);

      window.cart[SKU] = { quantity };

      cartAddingForms.forEach((form: HTMLFormElement) => {
        form.reset();

        const decrementBtn = form.querySelector<HTMLButtonElement>(
          "button[data-action='decrement']",
        );

        decrementBtn.disabled = true;
      });

      const tax = Math.round(productPrice * 9) / 100,
        productPriceIncludingTax = productPrice + tax;

      productAmountPriceOutput.textContent = productPriceIncludingTax
        .toFixed(2)
        .replace(".", ",");

      window.openCart();
    });
  });

  function tweakAmountCallback(input) {
    productAmountInputs.forEach((otherAmountInput: HTMLInputElement) => {
      if (otherAmountInput !== input) {
        otherAmountInput.value = input.value;

        const decrementBtn =
          otherAmountInput.previousElementSibling as HTMLButtonElement;

        decrementBtn.disabled = input.value === "1";
      }
    });

    const quantity = Number(input.value),
      total = productPrice * quantity,
      tax = Math.round(Number(total) * 9) / 100,
      price = total + tax;

    productAmountPriceOutput.textContent = price.toFixed(2).replace(".", ",");
  }

  tweakAmount(productAmountTweakBtns, productAmountInputs, tweakAmountCallback);
</script>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "Product",
    name: page.Title,
    image: await importImage(STRAPI_URL + page.Intro_blob?.data.attributes.url),
    description: `${(await renderMarkdown(page.Intro_text)).replace(
      /(<([^>]+)>)/gi,
      "",
    )} ${(await renderMarkdown(page.Block_text)).replace(/(<([^>]+)>)/gi, "")}`,
    sku: page.SKU,
    gtin: page.GTIN_Barcode,
    brand: {
      "@type": "Brand",
      name: page.brand?.data?.attributes.Brand_name,
    },
    offers: {
      "@type": "Offer",
      url: Astro.site.origin + Astro.url.pathname + "/",
      itemCondition: "https://schema.org/NewCondition",
      availability: "https://schema.org/InStock",
      price: page.Price,
      priceCurrency: page.Currency,
      priceValidUntil: new Date().toISOString(),
      shippingDetails: {
        "@type": "OfferShippingDetails",
        shippingDestination: {
          "@type": "DefinedRegion",
          addressCountry: "EU",
        },
      },
    },
  }}
/>
