---
import Icon from "astro-icon";
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import Chapterize from "@components/Chapterize.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import OptimizeContentImages from "@components/OptimizeContentImages.astro";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";
import products from "@store/products";

const { white_right_arrow } = RecurringImages;

const { page, recurData, ariaLabelRecurData } = Astro.props,
  headingName = recurData.text_chapter,
  { locale, variant, size } = page,
  { ASSETS_URL } = import.meta.env;

const categories = CMS.get("productCategories", locale),
  productVariants = CMS.get("productVariants"),
  productSizes = CMS.get("productSizes");

const productKey = [locale, variant, size].filter(Boolean).join(" | "),
  filteredProducts = structuredClone(products.get(productKey))
    .map((product, i) => {
      if (Array.isArray(product)) {
        const [baseProductTitle, variants] = product;

        return variants.map(([variantKey, variant]) => {
          variant.order = i + 1;
          variant.variantKey = variantKey;
          variant.baseProductTitle = baseProductTitle;

          return variant;
        });
      }

      return product;
    })
    .flat();

const availableSizes = Array.from(
  new Set(filteredProducts.map(({ size }) => size.data.attributes.Title))
);

const availableVariants = Array.from(
  new Set(filteredProducts.map(({ variant }) => variant.data.attributes.Title))
);
---

<style lang="scss">
  @use "src/styles/typography";

  .heading-title {
    @apply leading-[110%] sm:leading-[115%] text-dark2;

    font-family: typography.$alice;
    font-size: clamp(2.625rem, 3vw + 0.3rem, 3rem);
  }

  .block-text {
    font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
    line-height: 150%;
  }

  .category-container {
    @apply grid sm:grid-cols-[repeat(auto-fill,minmax(300px,2fr))] 
      md:grid-cols-2 gap-y-[30px] gap-x-[30px] mt-[30px] overflow-hidden;

    .category-content-container {
      @apply relative flex flex-nowrap cursor-pointer
        w-full h-[clamp(110px,12vw+8px,170px)];

      @media (max-width: 320px) {
        @apply h-full;
      }
    }

    .category-txt-container {
      @apply flex grow justify-center items-center px-[25px] py-[15px];

      @media (max-width: 320px) {
        @apply w-3/5;
      }
    }

    .category-img-container {
      @media (max-width: 320px) {
        @apply w-2/5;
      }
    }
  }

  .product-impact-container {
    width: 100%;
    height: 100%;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    clip-path: url(#product-impact-bg-curve-sm);

    @media (min-width: 768px) {
      aspect-ratio: 2 / 1;
      clip-path: url(#product-impact-bg-curve);
    }
  }

  .product-impact-text {
    font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  }

  .product-impact-btn {
    font-size: clamp(1rem, 2.2vw + 0.13rem, 2rem);
    margin-top: clamp(25px, 3.5vw + 6px, 50px);
    padding: clamp(10px, 1.3vw + 1px, 19px) clamp(16px, 2.2vw + 1px, 31px);
  }

  .prose-text {
    p,
    ol,
    ul,
    p s,
    blockquote p {
      a {
        @apply font-bold sm:font-semibold px-1 no-underline bg-bottom bg-no-repeat transition-all;

        background-size: 100% 45%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23b3cccc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }

  select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<PostDetailsLayout
  {page}
  {recurData}
  {ariaLabelRecurData}
  {headingName}
  type="normal"
>
  <div slot="product-page-sections" class="mt-[50px]">
    <ClipPathSVG
      id="product-card-curve"
      path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
    />

    <div class="grid gap-y-[50px]">
      {/* Categories Section */}
      <section class="wrapper overflow-hidden">
        <ClipPathSVG
          id="product-category-card-curve"
          path="M0.547,0.01 c0.072,0.003,0.13,0,0.167,0 c0.315,0,0.282,0.03,0.282,0.467 s0.052,0.518,-0.264,0.518 c-0.105,0,-0.154,0,-0.174,-0.001 l-0.011,0.001 h-0.001 c-0.199,0.01,-0.401,0.008,-0.47,-0.037 C-0.013,0.898,0.003,0.642,0.003,0.487 c0,-0.216,-0.034,-0.411,0.14,-0.459 C0.305,-0.018,0.435,0.005,0.547,0.01"
        />

        <h2
          id={page.Category_title.toLowerCase().replaceAll(" ", "-")}
          class="heading-title"
        >
          {page.Category_title}
        </h2>

        <div class="category-container overflow-hidden">
          {
            categories.map(({ attributes: { Title, Intro_blob, Meta } }) => (
              <div
                style="clip-path: url(#product-category-card-curve)"
                class="bg-primary text-center"
              >
                <a href={Meta.URL_slug}>
                  <div class="category-content-container">
                    <div class="category-img-container overflow-hidden">
                      <div class="category-img w-auto h-full aspect-[6/5] block">
                        <Picture
                          layout="fullWidth"
                          sizes="calc(clamp(110px, 12vw + 8px, 170px) * 6/5)"
                          alt={Intro_blob.data.attributes.alternativeText}
                          attributes={{
                            img: { style: "aspect-ratio: 6 / 5;" },
                          }}
                          src={ASSETS_URL + Intro_blob.data.attributes.url}
                        />
                      </div>
                    </div>

                    <div class="category-txt-container">
                      <h3 class="alice text-[clamp(2rem,3vw+0.55rem,2.625rem)] leading-[120%]">
                        {Title}
                      </h3>
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>

      <section role="main">
        <div class="wrapper grid gap-5 mb-[30px]">
          <form id="product-filters" class="flex flex-wrap items-center gap-6">
            <div class="flex flex-wrap items-center gap-6">
              <h2
                id={page.Block_title.toLowerCase().replaceAll(" ", "-")}
                class="heading-title"
              >
                {page.Block_title}
              </h2>

              <div class="flex flex-wrap items-center gap-6">
                <select
                  id="tea_variant"
                  name="tea_variant"
                  class:list={[
                    "focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none",
                    "text-lg leading-[150%] text-lightgray2 py-[9px] pl-5 border-r-[20px]",
                    "border-primary bg-primary rounded-full cursor-pointer",
                  ]}
                >
                  <option value="" selected>{page.text_all_tea_variants}</option
                  >

                  {
                    productVariants.data.map(
                      ({ attributes: { Title, localizations } }) => {
                        const localizedVariant =
                          locale === "en"
                            ? Title
                            : localizations.data.find(
                                ({ attributes }) =>
                                  attributes.locale.substring(0, 2) === locale
                              ).attributes.Title;

                        if (availableVariants.includes(localizedVariant)) {
                          const slug =
                            Title.toLowerCase().replaceAll(" ", "-") +
                            (size
                              ? "/" + size?.toLowerCase().replaceAll(" ", "-")
                              : "");

                          return (
                            <option
                              value={Title}
                              data-slug={slug}
                              selected={variant === Title}
                            >
                              {localizedVariant}
                            </option>
                          );
                        }
                      }
                    )
                  }
                </select>

                <select
                  id="tea_size"
                  name="tea_size"
                  class:list={[
                    "focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none",
                    "text-lg leading-[150%] text-lightgray2 py-[9px] pl-5 border-r-[20px]",
                    "border-primary bg-primary rounded-full cursor-pointer",
                  ]}
                >
                  <option value="" selected>{page.text_all_tea_sizes}</option>

                  {
                    productSizes.data.map(
                      ({ attributes: { Title, localizations } }) => {
                        const localizedSize =
                          locale === "en"
                            ? Title
                            : localizations.data.find(
                                ({ attributes }) =>
                                  attributes.locale.substring(0, 2) === locale
                              ).attributes.Title;

                        if (availableSizes.includes(localizedSize)) {
                          const slug =
                            (variant
                              ? variant?.toLowerCase().replaceAll(" ", "-") +
                                "/"
                              : "") + Title.toLowerCase().replaceAll(" ", "-");

                          return (
                            <option
                              value={Title}
                              data-slug={slug}
                              selected={size === Title}
                            >
                              {localizedSize}
                            </option>
                          );
                        }
                      }
                    )
                  }
                </select>
              </div>
            </div>
          </form>

          <div class="prose max-w-none block-text text-dark2 prose-text">
            <Markdown>{page.Block_text}</Markdown>
          </div>
        </div>

        <div
          id="products"
          role="list"
          aria-label={page.Aria_label_all_teas_text}
          class="wrapper grid sm:grid-cols-2 lg:grid-cols-3 gap-[50px] overflow-hidden"
        >
          {
            filteredProducts.map((product) => (
              <div
                role="listitem"
                data-variant-key={product.variantKey}
                data-base-product-title={product.baseProductTitle}
                aria-label={page.Aria_label_tea_item_text + product.order}
                style="clip-path: url(#product-card-curve)"
                class="product-card link-section flex flex-wrap w-full mx-auto max-w-[380px] sm:max-w-none bg-primary"
              >
                <div class="relative block w-full">
                  <Picture
                    layout="fullWidth"
                    alt={product.Intro_blob.data.attributes.alternativeText}
                    src={ASSETS_URL + product.Intro_blob.data.attributes.url}
                    attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
                    sizes="(min-width: 768px) min(580px, calc(45vw - 25px)), min(90vw, 420px)"
                  />

                  {product.Stock_amount < 1 && (
                    <>
                      <div class="absolute top-[12%] right-[12%] flex items-center px-5 sm:px-[37px] py-[5px] sm:py-[7px] sm:text-xl font-semibold text-dark2 border-2 border-[#fabf21] bg-[#fabf21]/80 rounded-full">
                        {recurData.Product_sold_out_text}
                      </div>

                      <div class="absolute bottom-0 flex items-center gap-2.5 px-[34px] py-2.5 select-none w-full text-sm sm:text-base font-medium text-dark2 bg-[#faf8e5]/80">
                        <Icon
                          name="mdi:alert-circle"
                          class="inline-flex p-0.5 w-[26px] text-white bg-[#febf21] rounded-full select-none"
                        />
                        {recurData.Item_stock_text}{" "}
                        {new Date(product.In_stock_date).toLocaleString(
                          "en-GB",
                          {
                            year: "2-digit",
                            month: "short",
                            day: "numeric",
                          }
                        )}
                      </div>
                    </>
                  )}
                </div>
                <div class="py-[30px] lg:py-[40px] px-[36px] lg:px-[48px]">
                  <div
                    class="product-card-title alice leading-[120%] md:leading-[110%]"
                    style={{
                      "font-size": "clamp(1.75rem, 2vw + 0.3rem, 2rem)",
                    }}
                  >
                    <a
                      aria-label={
                        (product.Stock_amount < 1
                          ? `${recurData.Product_sold_out_text}, `
                          : "") + product.Title
                      }
                      class="main-link"
                      href={"/" + locale + "/" + product.Meta.URL_slug}
                    >
                      {product.Title}
                    </a>

                    <span
                      class="icon product-card-title-icon"
                      style={{
                        height: "clamp(0.625rem, 1.5vw + 0.1rem, 1rem)",
                      }}
                    >
                      <img class="w-full h-full" {...white_right_arrow} />
                    </span>
                  </div>

                  <div class="text-base md:text-lg leading-[150%] line-clamp-3 mt-[5px] md:mt-[7px] lg:mt-[15px]">
                    <Markdown>{product.Intro_text}</Markdown>
                  </div>
                </div>
              </div>
            ))
          }
        </div>

        <script
          define:vars={{
            variant,
            size,
          }}
        >
          if (!variant || !size) {
            const productsContainer =
              document.currentScript.previousElementSibling;

            const preferredProductsVariants = JSON.parse(
              localStorage.getItem("preferredProductsVariants") || "{}"
            );

            Object.keys(preferredProductsVariants).forEach(
              (baseProductTitle) => {
                const variants = productsContainer.querySelectorAll(
                  `[data-base-product-title="${baseProductTitle}"]`
                );

                if (variants.length > 1) {
                  const { tea_variant, tea_size } =
                    preferredProductsVariants[baseProductTitle];

                  const variantKey = variant
                    ? tea_size
                    : size
                    ? tea_variant
                    : `${tea_variant} | ${tea_size}`;

                  Array.from(variants)
                    .filter(({ dataset }) => dataset.variantKey !== variantKey)
                    .forEach((variant) => {
                      variant.style.display = "none";
                    });
                }
              }
            );
          }
        </script>
      </section>

      {/* Products impact Section */}
      <section role="complementary">
        <ClipPathSVG
          id="product-impact-bg-curve"
          path="M1,0.055 S0.962,-0.005,0.847,0 C0.729,0.006,0.602,0.049,0.484,0.044 C0.381,0.04,0.239,0.018,0.136,0.028 C0.073,0.034,0,0.055,0,0.055 V0.965 s0.032,0.035,0.156,0.035 c0.061,0,0.136,-0.012,0.193,-0.027 c0.06,-0.016,0.161,-0.017,0.23,-0.017 c0.074,0,0.2,0.037,0.315,0.009 S1,0.894,1,0.894 V0.055"
        />

        <ClipPathSVG
          id="product-impact-bg-curve-sm"
          path="M0.718,0 C0.853,0,0.938,0.021,1,0.064 V0.97 c-0.045,0.046,-0.195,0.006,-0.324,0 c-0.149,-0.007,-0.301,0.03,-0.45,0.03 C0.094,1,0,0.954,0,0.954 V0.064 c0.059,-0.061,0.237,0,0.32,0 S0.583,0,0.718,0"
        />

        <div class="relative w-full h-full product-impact-container">
          <div class="absolute inset-0 w-full h-full bg-primary">
            <Picture
              alt=""
              layout="fill"
              src={ASSETS_URL + page.Block2_blob.data.attributes.url}
            />
          </div>

          <div
            class="absolute inset-0 w-full h-full bg-gradient-to-b from-[#000] to-[#2f2f2f] opacity-[0.4]"
          >
          </div>

          <div class="relative z-50 h-full flex flex-wrap items-center">
            <div
              class="wrapper flex flex-wrap justify-center text-center py-[20px]"
            >
              <h2
                class="product-impact-text alice leading-[110%] md:leading-[115%] w-full"
              >
                {page.Block2_title}
              </h2>

              <a
                href={page.Block2_button_link}
                class:list={[
                  "flex product-impact-btn bg-lightgray rounded-full",
                  "text-primary font-bold md:font-semibold leading-[150%]",
                ]}
              >
                {page.Block2_button_text}
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  {
    page.Block3_text && (
      <div slot="post-details" class="prose content-text">
        <Chapterize>
          <OptimizeContentImages>
            <Markdown>{page.Block3_text}</Markdown>
          </OptimizeContentImages>
        </Chapterize>
      </div>
    )
  }
</PostDetailsLayout>

<script>
  const productFiltersForm = document.getElementById(
    "product-filters"
  ) as HTMLFormElement;

  productFiltersForm?.addEventListener("change", (event) => {
    const target = event.target as HTMLSelectElement;

    localStorage.setItem(
      "preferredFilters",
      JSON.stringify(Object.fromEntries(new FormData(productFiltersForm)))
    );

    location.href =
      location.pathname.match(/^\/[a-z]{2}\/[a-z]+(?=\/)?/)[0] +
      "/" +
      target.selectedOptions[0].dataset.slug;
  });
</script>
