---
import Icon from "astro-icon";
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import FilteredProducts from "@solid/FilteredProducts";
import ProductFiltersForm from "@solid/ProductFiltersForm";

import Chapterize from "@components/Chapterize.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import OptimizeContentImages from "@components/OptimizeContentImages.astro";

import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

const { white_right_arrow } = RecurringImages;

const { page, recurData, ariaLabelRecurData } = Astro.props,
  headingName = recurData.text_chapter,
  { locale } = page,
  { ASSETS_URL } = import.meta.env;

const categories = CMS.get("productCategories", locale);

const productSizes = CMS.get("productSizes"),
  productVariants = CMS.get("productVariants");
---

<style lang="scss">
  @use "src/styles/typography";

  .heading-title {
    @apply font-bold leading-[130%] text-dark2;

    font-family: typography.$recoleta;
    font-size: clamp(2.625rem, 3vw + 0.3rem, 3rem);
  }

  .block-text {
    font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
    line-height: 150%;
  }

  .category-container {
    @apply grid sm:grid-cols-[repeat(auto-fill,minmax(300px,2fr))] 
      md:grid-cols-2 gap-y-[30px] gap-x-[30px] mt-[30px] overflow-hidden;

    .category-content-container {
      @apply relative flex flex-nowrap cursor-pointer
        w-full h-[clamp(110px,12vw+8px,170px)];

      @media (max-width: 320px) {
        @apply h-full;
      }
    }

    .category-txt-container {
      @apply flex grow justify-center items-center px-[25px] py-[15px];

      @media (max-width: 320px) {
        @apply w-3/5;
      }
    }

    .category-img-container {
      @media (max-width: 320px) {
        @apply w-2/5;
      }
    }
  }

  .product-impact-container {
    width: 100%;
    height: 100%;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    clip-path: url(#product-impact-bg-curve-sm);

    @media (min-width: 768px) {
      aspect-ratio: 2 / 1;
      clip-path: url(#product-impact-bg-curve);
    }
  }

  .product-impact-text {
    font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  }

  .product-impact-btn {
    font-size: clamp(1rem, 2.2vw + 0.13rem, 2rem);
    margin-top: clamp(25px, 3.5vw + 6px, 50px);
    padding: clamp(10px, 1.3vw + 1px, 19px) clamp(16px, 2.2vw + 1px, 31px);
  }

  .prose-text {
    p,
    ol,
    ul,
    p s,
    blockquote p {
      a {
        @apply font-bold sm:font-semibold px-1 no-underline bg-bottom bg-no-repeat transition-all;

        background-size: 100% 45%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23b3cccc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }

  select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<PostDetailsLayout
  {page}
  {recurData}
  {ariaLabelRecurData}
  {headingName}
  type="normal"
>
  <div slot="product-page-sections" class="mt-[50px]">
    <ClipPathSVG
      id="product-card-curve"
      path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
    />

    <div class="grid gap-y-[50px]">
      {/* Categories Section */}
      <section class="wrapper overflow-hidden">
        <ClipPathSVG
          id="product-category-card-curve"
          path="M0.547,0.01 c0.072,0.003,0.13,0,0.167,0 c0.315,0,0.282,0.03,0.282,0.467 s0.052,0.518,-0.264,0.518 c-0.105,0,-0.154,0,-0.174,-0.001 l-0.011,0.001 h-0.001 c-0.199,0.01,-0.401,0.008,-0.47,-0.037 C-0.013,0.898,0.003,0.642,0.003,0.487 c0,-0.216,-0.034,-0.411,0.14,-0.459 C0.305,-0.018,0.435,0.005,0.547,0.01"
        />

        <h2
          id={page.Category_title.toLowerCase().replaceAll(" ", "-")}
          class="heading-title"
        >
          {page.Category_title}
        </h2>

        <div class="category-container overflow-hidden">
          {
            categories.map(({ attributes: { Title, Intro_blob, Meta } }) => (
              <div
                style="clip-path: url(#product-category-card-curve)"
                class="bg-primary text-center"
              >
                <a href={Meta.URL_slug}>
                  <div class="category-content-container">
                    <div class="category-img-container overflow-hidden">
                      <div class="category-img w-auto h-full aspect-[6/5] block">
                        <Picture
                          layout="fullWidth"
                          sizes="calc(clamp(110px, 12vw + 8px, 170px) * 6/5)"
                          alt={Intro_blob.data.attributes.alternativeText}
                          attributes={{
                            img: { style: "aspect-ratio: 6 / 5;" },
                          }}
                          src={ASSETS_URL + Intro_blob.data.attributes.url}
                        />
                      </div>
                    </div>

                    <div class="category-txt-container">
                      <h3 class="recoleta text-[clamp(2rem,3vw+0.55rem,2.625rem)] leading-[120%]">
                        {Title}
                      </h3>
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>

      <section role="main">
        <div class="wrapper grid gap-5 mb-[30px]">
          <div class="flex flex-wrap items-center gap-6">
            <div class="flex flex-wrap items-center gap-6">
              <h2
                id={page.Block_title.toLowerCase().replaceAll(" ", "-")}
                class="heading-title"
              >
                {page.Block_title}
              </h2>

              <ProductFiltersForm
                client:load
                {locale}
                {productSizes}
                {productVariants}
                {recurData}
              />
            </div>
          </div>

          <div class="prose max-w-none block-text text-dark2 prose-text">
            <Markdown>{page.Block_text}</Markdown>
          </div>
        </div>

        <FilteredProducts client:load {page} {recurData} {white_right_arrow}>
          <Icon
            slot="alertCircleIcon"
            name="mdi:alert-circle"
            class="inline-flex p-0.5 w-[26px] text-white bg-[#febf21] rounded-full select-none"
          />
        </FilteredProducts>
      </section>

      {/* Products impact Section */}
      <section role="complementary">
        <ClipPathSVG
          id="product-impact-bg-curve"
          path="M1,0.055 S0.962,-0.005,0.847,0 C0.729,0.006,0.602,0.049,0.484,0.044 C0.381,0.04,0.239,0.018,0.136,0.028 C0.073,0.034,0,0.055,0,0.055 V0.965 s0.032,0.035,0.156,0.035 c0.061,0,0.136,-0.012,0.193,-0.027 c0.06,-0.016,0.161,-0.017,0.23,-0.017 c0.074,0,0.2,0.037,0.315,0.009 S1,0.894,1,0.894 V0.055"
        />

        <ClipPathSVG
          id="product-impact-bg-curve-sm"
          path="M0.718,0 C0.853,0,0.938,0.021,1,0.064 V0.97 c-0.045,0.046,-0.195,0.006,-0.324,0 c-0.149,-0.007,-0.301,0.03,-0.45,0.03 C0.094,1,0,0.954,0,0.954 V0.064 c0.059,-0.061,0.237,0,0.32,0 S0.583,0,0.718,0"
        />

        <div class="relative w-full h-full product-impact-container">
          <div class="absolute inset-0 w-full h-full bg-primary">
            <Picture
              alt=""
              layout="fill"
              src={ASSETS_URL + page.Block2_blob.data.attributes.url}
            />
          </div>

          <div
            class="absolute inset-0 w-full h-full bg-gradient-to-b from-[#000] to-[#2f2f2f] opacity-[0.4]"
          >
          </div>

          <div class="relative z-50 h-full flex flex-wrap items-center">
            <div
              class="wrapper flex flex-wrap justify-center text-center py-[20px]"
            >
              <h2
                class="product-impact-text recoleta font-bold leading-[130%] w-full"
              >
                {page.Block2_title}
              </h2>

              <a
                href={page.Block2_button_link}
                class:list={[
                  "flex product-impact-btn bg-lightgray rounded-full",
                  "text-primary font-bold md:font-semibold leading-[150%]",
                ]}
              >
                {page.Block2_button_text}
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  {
    page.Block3_text && (
      <div slot="post-details" class="prose content-text">
        <Chapterize>
          <OptimizeContentImages>
            <Markdown>{page.Block3_text}</Markdown>
          </OptimizeContentImages>
        </Chapterize>
      </div>
    )
  }
</PostDetailsLayout>
