---
import { Schema } from "astro-seo-schema";
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import Chapterize from "@components/Chapterize.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import PostDetailsLayout from "@layouts/PostDetailsLayout.astro";
import RecipesInfoSection from "@components/RecipesInfoSection.astro";

import RecurringImages from "@store/RecurringImages";

const {
  green_bulb,
  white_clock,
  light_green_clock,
  white_down_arrow,
  green_down_arrow,
} = RecurringImages;

const { page, recurData, ariaLabelRecurData } = Astro.props,
  headingName = recurData.text_chapter,
  { ASSETS_URL } = import.meta.env;

const {
  Related_products: products,
} = page;

const related_products = products.data?.map(({ attributes }) => attributes);

const url = `${Astro.site.origin}/${page.locale}/${
  page.Meta.URL_slug === "/" ? "" : page.Meta.URL_slug
}/`;

function calcTime(timeArray) {
  const [day, hour, minute] = timeArray;

  const calcDay =
    day > 0
      ? day +
        (day === 1
          ? ` ${recurData.recipe_day}\xa0\xa0`
          : ` ${recurData.recipe_day}\xa0\xa0`)
      : "";
  const calcHour =
    hour > 0
      ? hour +
        (hour === 1
          ? ` ${recurData.recipe_hour}\xa0\xa0`
          : ` ${recurData.recipe_hours}\xa0\xa0`)
      : "";
  const calcMinute =
    minute > 0
      ? minute +
        (minute === 1
          ? ` ${recurData.recipe_minute}`
          : ` ${recurData.recipe_minutes}`)
      : "";

  return calcDay + calcHour + calcMinute;
}

function calcTimeSm(timeArray) {
  const [day, hour, minute] = timeArray;

  const calcDay =
    day > 0 ? day + `${recurData.recipe_day.substring(0, 1)}\xa0` : "";
  const calcHour =
    hour > 0 ? hour + `${recurData.recipe_hour.substring(0, 1)}\xa0` : "";
  const calcMinute =
    minute > 0 ? minute + `${recurData.recipe_minute.substring(0, 1)}\xa0` : "";

  return calcDay + calcHour + calcMinute;
}

function time(x) {
  const array = x.split(":").map(Number);

  return calcTime(array);
}

function timeSm(x) {
  const array = x.split(":").map(Number);

  return calcTimeSm(array);
}

function calcTotalTime(x, y) {
  const preparation = x.split(":").map(Number);
  const cooking = y.split(":").map(Number);

  var sum = [...preparation].map((e, i) => e + cooking[i]);

  var min = sum[0] * 24 * 60 + sum[1] * 60 + sum[2];
  var d = Math.floor(min / (60 * 24));
  var h = Math.floor((min % (60 * 24)) / 60);
  var m = Math.floor(min % 60);

  return [d, h, m];
}

function totalTime(x, y) {
  var a = calcTotalTime(x, y);

  return calcTime(a);
}

function totalTimeSm(x, y) {
  var a = calcTotalTime(x, y);

  return calcTimeSm(a);
}

const nutrition = {
  "@type": "NutritionInformation",
};

page.Nutrition.forEach((item) => {
  nutrition[item.Nutrition_name] =
    (item.Nutrition_amount || "0") + item.Nutrition_measurements_unit;
});
---

<style lang="scss">
  .related-products-top {
    clip-path: url(#product-impact-top-curve-sm);

    @media (min-width: 768px) {
      clip-path: url(#product-impact-top-curve);
    }
  }

  .related-products-bottom {
    clip-path: url(#product-impact-bottom-curve-sm);

    @media (min-width: 768px) {
      clip-path: url(#product-impact-bottom-curve);
    }
  }
</style>

<PostDetailsLayout {page} {recurData} {ariaLabelRecurData} {headingName}>
  <Fragment slot="recipe-header">
    <div
      role="complementary"
      aria-label={recurData.recipe_recipe +
        ariaLabelRecurData.Recipe_timing_text}
      class="flex flex-wrap items-center recipe-Time-Container"
    >
      <div class="inline-flex items-center gap-2 md:gap-2.5">
        <div class="recipe-Time-Icon">
          <img class="w-full h-full" {...white_clock} />
        </div>

        <div class="w-auto">
          <div class="recipe-Time-Tag">{recurData.recipe_prep} :</div>

          <div class="hidden sm:block font-bold recipe-cooktime">
            {time(page.Time_preparation)}
          </div>

          <div class="block sm:hidden font-bold recipe-cooktime">
            {timeSm(page.Time_preparation)}
          </div>
        </div>
      </div>

      <div class="inline-flex items-center gap-2 md:gap-2.5">
        <div class="recipe-Time-Icon">
          <img class="w-full h-full" {...white_clock} />
        </div>

        <div class="w-auto">
          <div class="recipe-Time-Tag">{recurData.recipe_cook} :</div>

          <div class="hidden sm:block font-bold recipe-cooktime">
            {time(page.Time_cooking)}
          </div>

          <div class="block sm:hidden font-bold recipe-cooktime">
            {timeSm(page.Time_cooking)}
          </div>
        </div>
      </div>

      <div class="inline-flex items-center gap-2 md:gap-2.5">
        <div class="recipe-Time-Icon">
          <img class="w-full h-full" {...white_clock} />
        </div>

        <div class="w-auto">
          <div class="recipe-Time-Tag">{recurData.recipe_total} :</div>

          <div class="hidden sm:block font-bold recipe-cooktime">
            {totalTime(page.Time_preparation, page.Time_cooking)}
          </div>

          <div class="block sm:hidden font-bold recipe-cooktime">
            {totalTimeSm(page.Time_preparation, page.Time_cooking)}
          </div>
        </div>
      </div>
    </div>

    <div class="inline-flex sm:hidden gap-2 md:gap-2.5 mt-[30px] w-auto">
      <a href="#recipe">
        <div
          class:list={[
            "bg-lightgray flex items-center justify-center rounded-[40px] py-[13px] px-[23px]",
            "text-base font-bold leading-[19px] text-primary text-center",
          ]}
        >
          {recurData.recipe_jump_to_recipe}
          <span class="icon relative top-0">
            <span class="relative ml-5 h-5">
              <img class="w-full h-full" {...green_down_arrow} />
            </span>
          </span>
        </div>
      </a>
    </div>
  </Fragment>

  <a
    href="#recipe"
    slot="jump-to-recipe-sm"
    class:list={[
      "bg-primary flex items-center justify-center gap-5 max-w-[200px] rounded-[40px]",
      "mt-6 ml-4 py-[13px] px-[23px] text-sm font-bold leading-[19px] text-lightgray text-center",
    ]}
  >
    {recurData.recipe_jump_to_recipe}

    <span class="icon">
      <img class="h-5" {...white_down_arrow} />
    </span>
  </a>

  <a
    href="#recipe"
    slot="jump-to-recipe"
    class:list={[
      "bg-primary flex items-center justify-center gap-5 rounded-[40px] py-5 mb-[50px]",
      "hidden md:block text-base font-bold leading-[19px] text-lightgray text-center",
    ]}
  >
    {recurData.recipe_jump_to_recipe}

    <span class="icon">
      <img class="h-5" {...white_down_arrow} />
    </span>
  </a>

  <Chapterize slot="post-details">
    <RecipesInfoSection page={page} />

    {
      page.Recipe_variations.data.length > 0 && (
        <div>
          <h2
            id="similar-recipe"
            class="bg-primary alice leading-[110%] text-lightgray2 rounded-[10px] mt-[50px] recipe-sec-title"
          >
            {recurData.recipe_similar}
            {page.Title}
          </h2>

          <div class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]">
            <ul class="list-disc list-inside similarRecipies">
              {page.Recipe_variations.data.map(({ attributes }) => (
                <li class="font-bold sm:font-semibold text-primary">
                  <a href={attributes.Meta.URL_slug}>{attributes.Title}</a>
                </li>
              ))}
            </ul>
          </div>
        </div>
      )
    }

    <h2
      id="recipe"
      class="bg-primary alice leading-[110%] text-lightgray2 rounded-[10px] mt-[50px] recipe-sec-title"
    >
      {page.Title}
      {recurData.recipe_recipe}
    </h2>

    <div
      class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]"
    >
      <div class="prose max-w-none mb-[15px] leading-[150%] recipe-sec-text">
        <Markdown>{page.Time_text}</Markdown>
      </div>

      <div
        role="complementary"
        aria-label={recurData.recipe_recipe +
          ariaLabelRecurData.Recipe_timing_text}
        class="flex flex-wrap mt-5 gap-y-5 recipe-sec-time-container"
      >
        <div class="inline-flex items-center gap-2.5">
          <div class="recipe-sec-time-icon">
            <img class="w-full h-full" {...light_green_clock} />
          </div>

          <div class="w-auto text-dark">
            <div class="text-[10px] md:text-xs leading-[150%]">
              {recurData.recipe_prep} :
            </div>

            <div class="hidden sm:block text-base font-medium leading-[150%]">
              {time(page.Time_preparation)}
            </div>

            <div class="block sm:hidden text-base font-medium leading-[150%]">
              {timeSm(page.Time_preparation)}
            </div>
          </div>
        </div>

        <div class="inline-flex items-center gap-2.5">
          <div class="recipe-sec-time-icon">
            <img class="w-full h-full" {...light_green_clock} />
          </div>
          <div class="w-auto text-dark">
            <div class="text-[10px] md:text-xs leading-[150%]">
              {recurData.recipe_cook} :
            </div>
            <div class="hidden sm:block text-base font-medium leading-[150%]">
              {time(page.Time_cooking)}
            </div>
            <div class="block sm:hidden text-base font-medium leading-[150%]">
              {timeSm(page.Time_cooking)}
            </div>
          </div>
        </div>

        <div class="inline-flex items-center gap-2.5">
          <div class="recipe-sec-time-icon">
            <img class="w-full h-full" {...light_green_clock} />
          </div>
          <div class="w-auto text-dark">
            <div class="text-[10px] md:text-xs leading-[150%]">
              {recurData.recipe_total} :
            </div>
            <div class="hidden sm:block text-base font-medium leading-[150%]">
              {totalTime(page.Time_preparation, page.Time_cooking)}
            </div>
            <div class="block sm:hidden text-base font-medium leading-[150%]">
              {totalTimeSm(page.Time_preparation, page.Time_cooking)}
            </div>
          </div>
        </div>
      </div>
    </div>

    {
      page.Nutrition.length > 0 && (
        <div
          role="complementary"
          aria-label={recurData.recipe_nutrition_information}
          class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]"
        >
          <div class="flex">
            <div class="w-auto recipe-sec-content-border" />

            <div class="grid w-full items-center gap-[15px]">
              <h3 class="font-bold sm:font-semibold text-primary sm:text-dark2 recipe-sec-content-title">
                {recurData.recipe_nutrition_information}
              </h3>

              <div class="flex items-center gap-2.5 w-full">
                <div class="text-xs font-bold leading-[150%] text-dark2">
                  {recurData.recipe_yield}:
                </div>

                <div class="text-lg font-bold leading-[150%] text-primary">
                  {page.Nutrition_yield}
                </div>
              </div>

              <div class="text-base md:text-lg font-bold leading-[150%] text-dark2">
                {recurData.recipe_amount_per_serving}:
              </div>

              <div
                role="list"
                aria-label={recurData.recipe_amount_per_serving}
                class="grid grid-flow-row gap-[5px] recipe-sec-nutritions-container"
              >
                {page.Nutrition.map((item, idx) => (
                  <div
                    role="list"
                    class="flex items-center text-base lg:text-lg leading-[150%] text-dark2"
                  >
                    <div>{item.Nutrition_name}</div>

                    <span class="mr-1">:</span>

                    <div>
                      {item.Nutrition_amount != null
                        ? item.Nutrition_amount
                        : "0"}
                      {item.Nutrition_measurements_unit}
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      )
    }

    <div
      aria-label={recurData.recipe_ingredients}
      class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]"
    >
      <div class="flex flex-wrap justify-between">
        <h3
          class="font-bold sm:font-semibold text-primary sm:text-dark2 recipe-sec-content-title"
        >
          {recurData.recipe_ingredients}
        </h3>

        <label
          class="inline-grid grid-flow-col items-center relative recipe-sec-servingsize-input-container"
        >
          <span class="text-xs leading-[150%] font-bold text-dark2">
            {recurData.recipe_serving_size}:
          </span>

          <select
            id="recipe-section-serving-size"
            class:list={[
              "focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring cursor-pointer",
              "max-w-[65px] md:max-w-[83px] text-lightgray2 py-[5px] pl-[11px] rounded-[7px] recipe-sec-servingsize-input",
            ]}
          >
            <option value="1">1x</option>
            <option value="2">2x</option>
            <option value="3">3x</option>
            <option value="5">5x</option>
            <option value="10">10x</option>
          </select>
        </label>
      </div>

      <div
        role="list"
        class="mt-5 md:mt-[25px] flex flex-wrap sm:flex-nowrap gap-2"
      >
        {
          page.Cooking_part.map((item, idx) => (
            <div
              role="listitem"
              aria-label={item.Cooking_part_name}
              class="w-full sm:w-1/2"
            >
              <h4 class="text-base md:text-lg font-bold leading-[150%] text-dark2 mb-[10px] md:mb-[15px]">
                {item.Cooking_part_name}
              </h4>

              {item.Cooking_part_ingredients.map((item, idx) => (
                <label class="inline-flex items-center w-full">
                  <div class="flex">
                    <div class="recipe-sec-ingridients-checkbox-container">
                      <input type="checkbox" />
                      <span class="recipe-sec-ingridients-checkbox" />
                    </div>
                  </div>

                  <div class="text-base md:text-lg leading-[150%] text-dark2 ml-2.5">
                    <span
                      class="ingredient-amount"
                      data-amount={item.Cooking_part_ingredient_amount}
                    >
                      {item.Cooking_part_ingredient_amount}
                    </span>
                    {item.Cooking_part_ingredient_measurements_unit}
                    {item.Cooking_part_ingredient_name}
                  </div>
                </label>
              ))}
            </div>
          ))
        }
      </div>
    </div>

    <script>
      const ingredientAmountElements =
        document.querySelectorAll(".ingredient-amount");

      const recipeSectionServingSizeInput = document.getElementById(
        "recipe-section-serving-size"
      ) as HTMLSelectElement;

      recipeSectionServingSizeInput?.addEventListener("change", (e) => {
        const recipeSectionServingSize = Number(
          recipeSectionServingSizeInput.selectedOptions[0].value
        );

        ingredientAmountElements.forEach((element: HTMLElement) => {
          const ingredientAmount = Number(element.dataset.amount);

          element.textContent = String(
            ingredientAmount * recipeSectionServingSize
          );
        });
      });
    </script>

    <h2
      aria-label={recurData.recipe_cooking_instructions}
      id="cooking-instructions"
      class="bg-primary alice leading-[110%] text-lightgray2 rounded-[10px] mt-[50px] recipe-sec-title"
    >
      {recurData.recipe_cooking_instructions}
    </h2>

    {
      page.Cooking_part.map((item) => (
        <div role="list">
          <div class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]">
            <div class="flex">
              <div class="w-auto recipe-sec-content-border" />
              <div class="w-full gap-[15px]">
                <h3
                  class="alice leading-[130%] sm:leading-[120%] text-dark2 recipe-sec-coockingpart-title"
                  id={item.Cooking_part_name.replaceAll(" ", "-")
                    .replace(/\s+/g, "")
                    .trim()}
                >
                  {item.Cooking_part_name}
                </h3>
              </div>
            </div>
          </div>

          {item.Cooking_part_steps.map((step, idx) => (
            <div
              role="listitem"
              aria-label={ariaLabelRecurData.Recipe_step_text + (idx + 1)}
              class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]"
              id={
                item.Cooking_part_name.replaceAll(" ", "-")
                  .replace(/\s+/g, "")
                  .trim() +
                `-step-` +
                (idx + 1)
              }
            >
              <div class="flex gap-[15px]">
                <div>
                  <div class="bg-primary flex items-center justify-center font-extrabold rounded-full recipe-sec-step-num">
                    {idx + 1}
                  </div>
                </div>
                <div class="prose max-w-none text-dark2 leading-[150%] recipe-sec-text w-auto">
                  {step.Cooking_part_steps_text}
                </div>
              </div>

              {step.Cooking_part_steps_blob.data && (
                <div class="aspect-[2/1] w-full mt-2.5 sm:mt-[15px]">
                  <Picture
                    layout="fill"
                    sizes="(min-width: 768px) calc(90vw * 2/3 - 72px), calc(90vw - 72px)"
                    alt={
                      step.Cooking_part_steps_blob.data.attributes
                        .alternativeText
                    }
                    src={
                      ASSETS_URL +
                      step.Cooking_part_steps_blob.data.attributes.url
                    }
                  />
                </div>
              )}
            </div>
          ))}

          {item.Cooking_part_step_tip && (
            <div class="bg-white2 rounded-[10px] p-[15px] sm:p-5 md:p-[25px] lg:p-[35px] my-[30px]">
              <div class="flex flex-wrap items-center gap-2.5">
                <div class="flex items-center gap-[15px] sm:gap-5 w-full">
                  <div class="recipe-sec-icon">
                    <img class="w-full h-full object-contain" {...green_bulb} />
                  </div>

                  <h3 class="font-bold leading-[150%] text-primary recipe-sec-tips-title">
                    {recurData.recipe_tips}
                  </h3>
                </div>

                <div class="prose max-w-none font-medium sm:font-bold text-primary leading-[150%] recipe-sec-text">
                  {item.Cooking_part_step_tip}
                </div>
              </div>
            </div>
          )}
        </div>
      ))
    }
  </Chapterize>

  {
    related_products.length > 0 && (
      <section class="mb-[50px]" slot="product-kindness-impact">
        <ClipPathSVG
          id="product-impact-top-curve"
          path="M1,0.582 V1 H0 V0.582 S0.073,0.358,0.136,0.295 c0.103,-0.103,0.245,0.128,0.348,0.173 C0.602,0.52,0.729,0.058,0.847,0.003 L0.861,0 C0.965,0,1,0.582,1,0.582"
        />

        <ClipPathSVG
          id="product-impact-top-curve-sm"
          path="M1,0.892 V1 H0 V0.892 c0.059,-1.237,0.238,-0.517,0.321,-0.517 S0.499,0.133,0.639,0.033 a0.799,4,0,0,1,0.088,-0.033 C0.84,0,0.951,0.193,1,0.892"
        />

        <ClipPathSVG
          id="product-impact-bottom-curve"
          path="M1,0 c-0.005,0.158,-0.026,0.437,-0.104,0.633 c-0.115,0.288,-0.242,-0.102,-0.316,-0.102 c-0.07,0,-0.171,0.017,-0.231,0.185 c-0.057,0.16,-0.132,0.283,-0.193,0.283 C0.032,1,0,0.633,0,0.633 V0"
        />

        <ClipPathSVG
          id="product-impact-bottom-curve-sm"
          path="M1,0 V0.722 c-0.095,0.278,-0.193,0,-0.324,0 C0.504,0.722,0.369,1,0.22,1 C0.088,1,0,0.382,0,0.382 V0"
        />

        <ClipPathSVG
          id="card-curve"
          path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
        />

        <div>
          <div class="py-8 -mb-1 bg-primary related-products-top" />
          <div class="bg-primary">
            <div class="wrapper py-2.5 md:py-[100px]">
              <div class="text-[clamp(2rem,3vw+0.4rem,3rem)] alice leading-[110%] md:leading-[115%] text-center">
                <h2>{recurData.Recipes_related_products_title_text}</h2>
              </div>

              <div
                role="list"
                aria-label={ariaLabelRecurData.Kindness_Items_text}
                class:list={[
                  "wrapper grid grid-cols-[repeat(1,minmax(0,420px))] md:grid-cols-[repeat(2,minmax(0,580px))]",
                  "justify-center gap-[50px] mt-[25px] sm:mt-[27px] md:mt-[27px] lg:mt-[32px]",
                ]}
              >
                {related_products.map((post) => (
                  <div
                    role="listitem"
                    aria-label={ariaLabelRecurData.Kindness_Items_text}
                    class="link-section bg-lightgray"
                    style="clip-path: url(#card-curve)"
                  >
                    <Picture
                      layout="fullWidth"
                      alt={post.Intro_blob.data.attributes.alternativeText}
                      src={ASSETS_URL + post.Intro_blob.data.attributes.url}
                      attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
                      sizes="(min-width: 768px) min(580px, calc(40vw - 25px)), min(80vw, 420px)"
                    />

                    <div class="recent-post-card-content-container text-primary">

                      <div class="recent-post-card-title alice mt-[15px]">
                        <a
                          class="main-link"
                          set:text={post.Title}
                          href={`/` + post.Meta.URL_slug}
                        />
                      </div>

                      <div class="text-base md:text-lg leading-[150%] line-clamp-3 mt-[5px] md:mt-[7px] lg:mt-[15px]">
                        <Markdown>{post.Intro_text}</Markdown>
                      </div>
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </div>
          <div class="py-8 -mt-1 bg-primary related-products-bottom" />
        </div>
      </section>
    )
  }

  <script slot="wake-lock-script">
    const interactionEvents = [
      "click",
      "touchstart",
      "keydown",
      "scroll",
      "mousemove",
    ];

    if ("wakeLock" in navigator) {
      const firstInteractionEventListener = () => {
        let wakeLock;

        const requestWakeLock = async () => {
          try {
            wakeLock = await navigator.wakeLock.request();
          } catch (err) {}
        };

        requestWakeLock();

        document.addEventListener("visibilitychange", () => {
          wakeLock &&
            document.visibilityState === "visible" &&
            requestWakeLock();
        });

        interactionEvents.forEach((eventType) => {
          document.removeEventListener(
            eventType,
            firstInteractionEventListener
          );
        });
      };

      interactionEvents.forEach((eventType) => {
        document.addEventListener(eventType, firstInteractionEventListener);
      });
    } else {
      const playBackgroundVideoScript = document.createElement("script");

      playBackgroundVideoScript.type = "module";
      playBackgroundVideoScript.src = "/scripts/play-background-video.js";

      document.body.appendChild(playBackgroundVideoScript);
    }
  </script>
</PostDetailsLayout>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "Recipe",
    name: page.Title,
    image: await importRemoteImage(
      ASSETS_URL + page.Intro_blob?.data.attributes.url
    ),
    author: {
      "@type": "Person",
      name: page.authors.data.map(
        ({ attributes }) => `${attributes.givenName}`
      ),
    },
    dateCreated: page.createdAt,
    datePublished: page.publishedAt,
    dateModified: page.updatedAt,
    description: `${(await Astro.__renderMarkdown(page.Intro_text)).replace(
      /(<([^>]+)>)/gi,
      ""
    )} ${(await Astro.__renderMarkdown(page.Block_text)).replace(
      /(<([^>]+)>)/gi,
      ""
    )}`,
    prepTime: `PT${timeSm(page.Time_preparation)
      .toUpperCase()
      .replace(/\s/g, "")}`,
    cookTime: `PT${timeSm(page.Time_cooking).toUpperCase().replace(/\s/g, "")}`,
    totalTime: `PT${totalTimeSm(page.Time_preparation, page.Time_cooking)
      .toUpperCase()
      .replace(/\s/g, "")}`,
    recipeCuisine: page.Cuisine,
    recipeCategory: page.Category,
    recipeYield: page.Nutrition_yield,
    nutrition,
    recipeIngredient: page.Cooking_part.map((item) =>
      item.Cooking_part_ingredients.map(
        (item) =>
          item.Cooking_part_ingredient_amount +
          item.Cooking_part_ingredient_measurements_unit +
          ` ` +
          item.Cooking_part_ingredient_name
      )
    ).flat(),
    recipeInstructions: await Promise.all(
      page.Cooking_part.map((item) =>
        item.Cooking_part_steps.map(async (step, idx) => ({
          "@type": "HowToStep",
          name: item.Cooking_part_name,
          text: step.Cooking_part_steps_text,
          url: `${
            url +
            `#` +
            item.Cooking_part_name.replaceAll(" ", "-")
              .replace(/\s+/g, "")
              .trim() +
            `-step-` +
            (idx + 1)
          }`,
          image: step.Cooking_part_steps_blob.data
            ? await importRemoteImage(
                ASSETS_URL + step.Cooking_part_steps_blob?.data?.attributes.url
              )
            : "",
        }))
      ).flat()
    ),
  }}
/>
