---
import { Img } from "astro-imagetools/components";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

import ClipPathSVG from "@components/ClipPathSVG.astro";
import AdvancedNotification from "@components/AdvancedNotification.astro";

const { warning_notification } = RecurringImages;

const { page, recurData } = Astro.props,
  { Title, locale } = page;

const userAccountRecurData = CMS.get("userAccountRecurringElement", locale);

const {
  Button_track_package,
  Button_track_package_text,
  Button_buy_again_text,
  Button_sold_out_text,
  Label_order,
  text_estimated_delivery,
  text_estimated_shipment,
  text_delivered,
  text_show_more_products_in_this_order,
  text_hide_more_products_in_this_order,
} = userAccountRecurData;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/colors";

  .dashboard-sec-title {
    @apply bg-primary leading-[110%] text-secondary-light rounded-[10px];

    font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
    padding: 15px clamp(15px, 2.2vw + 0.1rem, 35px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  .dashboard-sec {
    @apply bg-secondary-light rounded-[10px] m-0;

    padding: clamp(15px, 2.08vw + 0.01rem, 25px)
      clamp(15px, 2.2vw + 0.1rem, 35px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }

    h2 {
      @apply text-[clamp(1.25rem,1.5vw+0.15rem,1.5rem)] font-bold text-primary;
    }

    .order-item {
      @apply grid gap-[25px] sm:gap-[30px];

      .order-img {
        width: poly-fluid-clamp(
          (
            640px: 50px,
            1440px: 65px,
          )
        );
      }

      .order-item-label {
        @apply flex items-center gap-2 text-lg font-bold leading-[150%] text-black;
      }

      .order-item-date {
        @apply text-sm sm:text-base text-black-light;
      }

      .order-item-title {
        @apply font-bold text-[clamp(1.25rem,1.5vw+0.15rem,1.5rem)];
      }

      .order-item-info {
        @apply flex flex-wrap gap-1 sm:gap-2 text-sm sm:text-base text-black-light;
      }

      .order-item-quantity {
        @apply text-sm sm:text-base font-semibold text-black-light;
      }

      .order-item-cart-btn {
        @apply flex gap-1 sm:gap-2 w-fit py-[5px] sm:py-2.5 px-3 sm:px-5
          text-sm sm:text-base font-semibold sm:font-bold text-white bg-primary rounded-full;

        &:disabled,
        &[disabled] {
          @apply bg-black/60 text-secondary-light cursor-not-allowed;
        }
      }

      .show-more-toggle-btn {
        @apply flex gap-1 sm:gap-2 items-center font-bold text-primary;
      }
    }
  }

  .month-container {
    @apply grid grid-cols-[repeat(auto-fit,minmax(96px,1fr))] gap-y-[15px] items-center w-full;

    .month {
      @apply px-2.5 py-0.5 lg:text-lg font-medium text-black text-center rounded-full;
    }
    .active {
      @apply font-semibold text-primary bg-primary-light;
    }
  }
</style>

<ClipPathSVG
  id="orders-blob-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<div class="wrapper py-[50px] w-full flex flex-wrap">
  <div class="w-full md:w-2/3 order-2 md:order-1">
    <section class="grid gap-[25px] sm:gap-[30px]">
      <h1 class="dashboard-sec-title recoleta">
        {Title}
      </h1>

      <div class="dashboard-sec grid gap-[25px] sm:gap-[30px]">
        <h2>January 2022</h2>

        <div
          class="order-item pb-[25px] sm:pb-[30px] border-b border-primary-light"
        >
          <div
            class="flex flex-wrap items-center gap-[5px] sm:gap-2.5 justify-between"
          >
            <div class="grid gap-[5px] sm:gap-2.5">
              <div class="order-item-label">
                {Label_order} #132131

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 8 16"
                  class="h-4"
                >
                  <path
                    d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z"
                  ></path>
                </svg>
              </div>

              <div class="order-item-date">
                {text_estimated_delivery} 18-Jan-2023
              </div>
            </div>

            {
              Button_track_package && (
                <a
                  href="#"
                  class="py-2.5 px-5 font-bold text-white bg-primary rounded-full"
                >
                  {Button_track_package_text}
                </a>
              )
            }
          </div>

          <div class="flex gap-2.5 sm:gap-[15px]">
            <div class="oder-img">
              <Img
                layout="fullWidth"
                width={65}
                alt=""
                attributes={{
                  img: {
                    style:
                      "aspect-ratio: 1 / 1; clip-path: url(#orders-blob-curve)",
                  },
                }}
                src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
              />
            </div>

            <div class="grow grid gap-[5px] sm:gap-2.5">
              <div class="grid gap-[5px] sm:gap-2.5">
                <div class="order-item-title recoleta line-height-[110%]">
                  Ceylon cinnamon spice tea
                </div>
                <div class="order-item-info">
                  <span>20 tea bags</span>
                  <span>&#8226;</span>
                  <span>100gm</span>
                  <span>&#8226;</span>
                  <span>True organincs</span>
                  <span>&#8226;</span>
                  <span>Black tea</span>
                </div>
              </div>

              <div
                class="flex flex-wrap gap-[5px] sm:gap-2.5 items-center justify-between"
              >
                <div class="order-item-quantity">Quantity: 1</div>

                <button data-sku={`SKU`} class="order-item-cart-btn">
                  {Button_buy_again_text}
                  <span class="text-secondary-light">&#8226;</span>
                  <span class="recoleta font-bold">€24</span>
                </button>
              </div>
            </div>
          </div>

          <div class="flex gap-2.5 sm:gap-[15px]">
            <div class="oder-img">
              <Img
                layout="fullWidth"
                width={65}
                alt=""
                attributes={{
                  img: {
                    style:
                      "aspect-ratio: 1 / 1; clip-path: url(#orders-blob-curve)",
                  },
                }}
                src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
              />
            </div>

            <div class="grow grid gap-[5px] sm:gap-2.5">
              <div class="grid gap-[5px] sm:gap-2.5">
                <div class="order-item-title recoleta line-height-[110%]">
                  Ceylon cinnamon spice tea
                </div>
                <div class="order-item-info">
                  <span>20 tea bags</span>
                  <span>&#8226;</span>
                  <span>100gm</span>
                  <span>&#8226;</span>
                  <span>True organincs</span>
                  <span>&#8226;</span>
                  <span>Black tea</span>
                </div>
              </div>

              <div
                class="flex flex-wrap gap-[5px] sm:gap-2.5 items-center justify-between"
              >
                <div class="order-item-quantity">Quantity: 1</div>

                <button class="order-item-cart-btn" disabled>
                  {Button_sold_out_text}
                  <span class="text-secondary-light">&#8226;</span>
                  <span class="recoleta font-bold">€24</span>
                </button>
              </div>

              <AdvancedNotification
                Type="Warning"
                Bordered={true}
                Rounded={true}
                Title="Item will be in stock by 23rd Feb 2023"
              />
            </div>
          </div>

          <div class="flex gap-2.5 sm:gap-[15px]">
            <div class="oder-img">
              <Img
                layout="fullWidth"
                width={65}
                alt=""
                attributes={{
                  img: {
                    style:
                      "aspect-ratio: 1 / 1; clip-path: url(#orders-blob-curve)",
                  },
                }}
                src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
              />
            </div>

            <div class="grow grid gap-[5px] sm:gap-2.5">
              <div class="grid gap-[5px] sm:gap-2.5">
                <div class="order-item-title recoleta line-height-[110%]">
                  Ceylon cinnamon spice tea
                </div>
                <div class="order-item-info">
                  <span>20 tea bags</span>
                  <span>&#8226;</span>
                  <span>100gm</span>
                  <span>&#8226;</span>
                  <span>True organincs</span>
                  <span>&#8226;</span>
                  <span>Black tea</span>
                </div>
              </div>

              <div
                class="flex flex-wrap gap-[5px] sm:gap-2.5 items-center justify-between"
              >
                <div class="order-item-quantity">Quantity: 1</div>

                <button data-sku={`SKU`} class="order-item-cart-btn">
                  {Button_buy_again_text}
                  <span class="text-secondary-light">&#8226;</span>
                  <span class="recoleta font-bold">€24</span>
                </button>
              </div>
            </div>
          </div>

          <!-- Max 3 items per order would be visible, otherwise toggle needed -->
          <div class="flex justify-center w-full">
            <div class="show-more-toggle-btn">
              <span
                >{
                  text_show_more_products_in_this_order.replace(
                    "<number>",
                    "10",
                  )
                }</span
              >

              <!-- after toggle show hide text
              <span>{text_hide_more_products_in_this_order.replace("<number>", "10")}</span> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 8"
                class="w-4 fill-primary"
              >
                <path
                  d="M.3.3A1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7,5.5,12.2.3A1.1,1.1,0,0,1,13,0a.9.9,0,0,1,.7.3A.9.9,0,0,1,14,1a1.1,1.1,0,0,1-.3.8L7.8,7.7A1.1,1.1,0,0,1,7,8a.9.9,0,0,1-.7-.3L.3,1.8A1.1,1.1,0,0,1,0,1,.9.9,0,0,1,.3.3Z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div
          class="order-item pb-[25px] sm:pb-[30px] border-b border-primary-light"
        >
          <div
            class="flex flex-wrap items-center gap-[5px] sm:gap-2.5 justify-between"
          >
            <div class="grid gap-[5px] sm:gap-2.5">
              <div class="order-item-label">
                {Label_order} #132131

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 8 16"
                  class="h-4"
                >
                  <path
                    d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z"
                  ></path>
                </svg>
              </div>

              <div class="order-item-date">
                {text_estimated_shipment} 28-Jan-2023
              </div>
            </div>

            {
              Button_track_package && (
                <a
                  href="#"
                  class="py-2.5 px-5 font-bold text-white bg-primary rounded-full"
                >
                  {Button_track_package_text}
                </a>
              )
            }
          </div>

          <div class="flex gap-2.5 sm:gap-[15px]">
            <div class="oder-img">
              <Img
                layout="fullWidth"
                width={65}
                alt=""
                attributes={{
                  img: {
                    style:
                      "aspect-ratio: 1 / 1; clip-path: url(#orders-blob-curve)",
                  },
                }}
                src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
              />
            </div>

            <div class="grow grid gap-[5px] sm:gap-2.5">
              <div class="grid gap-[5px] sm:gap-2.5">
                <div class="order-item-title recoleta line-height-[110%]">
                  Ceylon cinnamon spice tea
                </div>
                <div class="order-item-info">
                  <span>20 tea bags</span>
                  <span>&#8226;</span>
                  <span>100gm</span>
                  <span>&#8226;</span>
                  <span>True organincs</span>
                  <span>&#8226;</span>
                  <span>Black tea</span>
                </div>
              </div>

              <div
                class="flex flex-wrap gap-[5px] sm:gap-2.5 items-center justify-between"
              >
                <div class="order-item-quantity">Quantity: 1</div>

                <button data-sku={`SKU`} class="order-item-cart-btn">
                  {Button_buy_again_text}
                  <span class="text-secondary-light">&#8226;</span>
                  <span class="recoleta font-bold">€24</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="order-item">
          <div
            class="flex flex-wrap items-center gap-[5px] sm:gap-2.5 justify-between"
          >
            <div class="grid gap-[5px] sm:gap-2.5">
              <div class="order-item-label">
                {Label_order} #132131

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 8 16"
                  class="h-4"
                >
                  <path
                    d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z"
                  ></path>
                </svg>
              </div>

              <div class="order-item-date">
                {text_delivered} 10-Jan-2023
              </div>
            </div>
          </div>

          <div class="flex gap-2.5 sm:gap-[15px]">
            <div class="oder-img">
              <Img
                layout="fullWidth"
                width={65}
                alt=""
                attributes={{
                  img: {
                    style:
                      "aspect-ratio: 1 / 1; clip-path: url(#orders-blob-curve)",
                  },
                }}
                src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
              />
            </div>

            <div class="grow grid gap-[5px] sm:gap-2.5">
              <div class="grid gap-[5px] sm:gap-2.5">
                <div class="order-item-title recoleta line-height-[110%]">
                  Ceylon cinnamon spice tea
                </div>
                <div class="order-item-info">
                  <span>20 tea bags</span>
                  <span>&#8226;</span>
                  <span>100gm</span>
                  <span>&#8226;</span>
                  <span>True organincs</span>
                  <span>&#8226;</span>
                  <span>Black tea</span>
                </div>
              </div>

              <div
                class="flex flex-wrap gap-[5px] sm:gap-2.5 items-center justify-between"
              >
                <div class="order-item-quantity">Quantity: 1</div>

                <button data-sku={`SKU`} class="order-item-cart-btn">
                  {Button_buy_again_text}
                  <span class="text-secondary-light">&#8226;</span>
                  <span class="recoleta font-bold">€24</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div
    class:list={[
      "w-full md:w-1/3 order-1 md:order-2 overflow-hidden pl-0 pb-[25px]",
      "md:pl-[clamp(24px,3.8vw+0.16px,50px)] lg:pl-[clamp(70px,11.3125vw-46px,128px)]",
    ]}
  >
    <div
      class="grid gap-[20px] px-[25px] py-2.5 bg-secondary-light rounded-[10px] text-black-light"
    >
      <div class="flex items-center justify-between gap-2.5">
        <div
          class="recoleta text-[clamp(1.25rem,1.5vw+0.15rem,1.5rem)] text-black"
        >
          2022
        </div>

        <a
          href="#"
          class="text-[clamp(1.125rem,1.5vw+0.12rem,1.25rem)] font-semibold text-primary"
        >
          {page.Button_change_text}
        </a>
      </div>

      <div class="month-container">
        <div class="month active">Jan</div>
        <div class="month">Feb</div>
        <div class="month">Mar</div>
        <div class="month">Apr</div>
        <div class="month">May</div>
        <div class="month">Jun</div>
        <div class="month">Jul</div>
        <div class="month">Aug</div>
        <div class="month">Sep</div>
        <div class="month">Oct</div>
        <div class="month">Nov</div>
        <div class="month">Dec</div>
      </div>
    </div>
  </div>
</div>
