---
import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";
import localizeCMSImage from "@utils/localizeCMSImage";
import { Icon } from "astro-icon";
import Markdown from "@astrojs/markdown-component";
import { Img, Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";

const { success_notification, green_right_arrow } = RecurringImages;

const { page } = Astro.props,
  { 
    Personal_information: information,
    Block2: block2,
    Block3: block3,
    kindnessCauses,
    Support_visibility,
    Support
  }= page,
  { locale} = page,
  { ASSETS_URL } = import.meta.env;

const userAccountRecurData = CMS.get("userAccountRecurringElement", locale);

const {
  Facebook_icon: fb_icon,
  Google_icon: g_icon,
  Twitter_icon: twitter_icon
} = userAccountRecurData;

const title = page.Title.replaceAll(
  "<username>",
  `Sara Jones`
);
---
<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/colors";

  .dashboard-sec-title {
    @apply bg-primary leading-[110%] text-lightgray2 rounded-[10px];

    font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
    padding: 10px clamp(15px, 2.08vw + 0.01rem, 30px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  .dashboard-sec {
    @apply bg-white2 rounded-[10px] mt-[25px] text-dark;

    padding: clamp(15px, 2.08vw + 0.01rem, 25px) clamp(15px, 2.2vw + 0.1rem, 35px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }

    .information-label{
      @apply text-sm md:text-base font-medium leading-[150%] text-gray;
    }

    .information-text{
      @apply leading-[150%];

      font-size: clamp(1.125rem, 1.5vw + 0.3rem, 1.5rem);
    }

    .information-btn{
      @apply leading-[150%] font-semibold text-primary;

      font-size: clamp(1rem, 1.4vw + 0.3rem, 1.375rem);
    }

    .cause-from{
      @apply grid gap-[15px] mt-[15px];

      label{
        @apply flex gap-5 items-start;
      }

      .cause-from-label{
        @apply text-lg font-bold leading-[150%] cursor-pointer;
      }

      .cause-from-text{
        @apply text-lg font-medium leading-[150%] mt-[7px];
      }

      input[type='radio']{
        @apply cursor-pointer min-w-[24px] min-h-[24px] accent-primary after:content-[''];

        &:after {
          @apply relative inline-block top-0 left-0 min-w-[24px] min-h-[24px] 
            rounded-full bg-white2 border-2 border-primary;
        }
        &:checked:after {
          @apply relative inline-block top-px left-px min-w-[22px] min-h-[22px] 
            rounded-full bg-primary border-[6px] border-white2;
        }
      }
    }

    .kindness-causes {
      .kindness-cause {
        clip-path: url(#kindness-cause-card-curve-sm);

        @media (min-width: 640px) {
          clip-path: url(#kindness-cause-card-curve);
        }
      }

      > .active-kindness-cause {
        @apply -m-3 p-1.5 bg-lightgreen flex;

        clip-path: url(#kindness-cause-card-curve-sm);

        @media (min-width: 640px) {
          clip-path: url(#kindness-cause-card-curve);
        }

        > div {
          @apply p-1.5 bg-white2;

          clip-path: url(#kindness-cause-card-curve-sm);

          @media (min-width: 640px) {
            clip-path: url(#kindness-cause-card-curve);
          }
        }
      }
    }

    .heading-content{
      a{
        @apply text-[clamp(1.125rem,1.5vw+0.3rem,1.5rem)];
      }
    }
  }

    
</style>

<ClipPathSVG
  id="kindness-cause-card-curve"
  path="M0.551,1 H0.213 c-0.079,0,-0.156,-0.001,-0.183,-0.046 c-0.035,-0.06,-0.029,-0.315,-0.029,-0.47 C0.002,0.269,-0.012,0.053,0.056,0.026 A1,7,0,0,1,0.213,0.001 V0 C0.335,0.004,0.457,0,0.521,0 c0.531,0,0.475,0.013,0.475,0.475 S1,1,0.551,1"
/>

<ClipPathSVG
  id="kindness-cause-card-curve-sm"
  path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
/>

<ClipPathSVG
  id="orders-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<div class="wrapper">
  {page.Breadcrumb && (
    <div 
      role="banner"
      class="flex flex-wrap gap-2 alice text-2xl leading-[110%] text-primary mt-[25px]" 
    >
      {page.Breadcrumb?.Steps.map((step, index) => (
        <div class="flex items-center gap-2">
          {index > 0 && (
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 16.7">
              <path d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z" style="fill:#2b4b50"/>
            </svg>
          )}
          <a href={step.Link}>{step.Name}</a>
        </div>
      ))}
    </div>
  )}
</div>

<div class="wrapper py-[50px] w-full flex flex-col-reverse md:flex-row">
  <div class="md:w-2/3">
    <section>
      <div 
        id={title.toLowerCase().replaceAll(" ", "-")}
        class="dashboard-sec-title alice"
      >
        {title}
      </div>

      <div class="dashboard-sec">
        {information?.Phone &&(
          <div class="pb-[15px] mb-[15px] border-b border-lightgray">
            <div class="information-label">
              {information.Label_phone}
            </div>

            <div class="flex flex-wrap items-center gap-2.5 justify-between">
              <div class="information-text">
                91-9978676545
              </div>
              <div class="information-btn">
                <a href="account/update-information">
                  {information.Button_update_text}
                </a>
              </div>
            </div>
          </div>
        )}

        {information?.Email &&(
          <div class="pb-[15px] mb-[15px] border-b border-lightgray">
            <div class="information-label">
              {information.Label_email}
            </div>

            <div class="flex flex-wrap items-center gap-2.5 justify-between">
              <div class="information-text">
                marverick.john@gmail.com
              </div>
              <div class="information-btn">
                <a href="account/update-information">
                  {information.Button_update_text}
                </a>
              </div>
            </div>
          </div>
        )}
        
        {information?.Address &&(
          <div>
            <div class="information-label">
              {information.Label_address}
            </div>

            <div class="flex flex-wrap items-center gap-2.5 justify-between">
              <div class="information-text">
                456B, Oakwoods, Germany
              </div>
              <div class="information-btn cursor-pointer">
                {information.Button_edit_text}
              </div>
            </div>

            <div class="flex w-full">
              <div
                class:list={[
                  "flex gap-3 py-3 px-10 mt-[15px] md:min-w-[250px] font-bold",
                  "text-lightgray leading-[150%] bg-primary rounded-full cursor-pointer",
                ]}
              >
                <Icon name="akar-icons:plus" class="w-6 h-6 select-none" />
                {information.Button_add_new_address_text}
              </div>
            </div>
          </div>
        )}
      </div>

      <div class="dashboard-sec">
        {information?.Social_media &&(
          <di>
            <div class="alice text-2xl leading-[110%]">
              {information.Social_media_title}
            </div>

            <div class="grid sm:grid-cols-[repeat(auto-fit,minmax(0,180px))] gap-[25px] mt-[15px]">
              <div 
                class:list={[
                  "grid py-4 px-[18px] justify-items-center justify-center",
                  " items-center border-2 border-lightgreen2 rounded-[30px]"
                ]}
              >
                <div class="grid gap-1 justify-items-center">
                  <div class="w-[60px] h-[60px] p-[5px]">
                    <img 
                      class="w-full h-full"
                      src={await localizeCMSImage(fb_icon.data.attributes.url)} 
                      alt={ fb_icon.data.attributes.alternativeText }
                    />
                  </div>

                  <div clas="text-lg">
                    Marverick_John
                  </div>

                  <div class="flex items-center gap-[5px] text-sm text-[#3C994E]">
                    {information.text_connected}
                    <span class="w-4 h-4 my-auto">
                      <img class="w-full h-full" {...success_notification} />
                    </span>
                  </div>
                </div>

                <div 
                  class:list={[
                    "flex py-1 px-5 mt-3 text-primary leading-[150%]",
                    "border border-primary rounded-[40px] cursor-pointer"
                  ]}
                >
                  {information.Button_remove_text}
                </div>
              </div>

              <div 
                class:list={[
                  "grid py-4 px-[18px] justify-items-center justify-center",
                  " items-center border-2 border-lightgray rounded-[30px] cursor-pointer"
                ]}
              >
                <div class="grid gap-1 justify-items-center">
                  <div class="w-[60px] h-[60px] p-[5px]">
                    <img 
                      class="w-full h-full"
                      src={await localizeCMSImage(g_icon.data.attributes.url)} 
                      alt={ g_icon.data.attributes.alternativeText }
                    />
                  </div>

                  <div clas="text-sm">
                    {information.text_not_connected}
                  </div>
                </div>
              </div>

              <div 
                class:list={[
                  "grid py-4 px-[18px] justify-items-center justify-center",
                  " items-center border-2 border-lightgray rounded-[30px] cursor-pointer"
                ]}
              >
                <div class="grid gap-1 justify-items-center">
                  <div class="w-[60px] h-[60px] p-[5px]">
                    <img 
                      class="w-full h-full"
                      src={await localizeCMSImage(twitter_icon.data.attributes.url)} 
                      alt={ twitter_icon.data.attributes.alternativeText }
                    />
                  </div>

                  <div clas="text-sm">
                    {information.text_not_connected}
                  </div>
                </div>
              </div>
            </div>
          </div>
        )}
      </div>
    </section>

    {(page.Block2_visibility && block2) &&(
      <section>
        <div
          id={block2?.Block2_title.toLowerCase().replaceAll(" ", "-")}
          class="dashboard-sec-title alice mt-[50px]"
        >
          {block2.Block2_title}
        </div>

        <div class="dashboard-sec">
          {block2.Block2_text &&(
            <div class="hero-text block prose max-w-none">
              <Markdown>{block2.Block2_text}</Markdown>
            </div>
          )}

          <form
            class="cause-from"
          >
            <label>
              <input
                type="radio"
                name="my_cause"
              />

              <div>
                <div class="flex flex-wrap items-center justify-between gap-[7px]">
                  <h3 class="order-1 cause-from-label">
                    {block2.Label_my_selected_cause}
                  </h3>

                  <div class="order-3 sm:order-2 text-base font-bold leading-[150%] text-primary sm:ml-3 mt-[13px] sm:mt-0">
                    <a href="#">
                      {block2.Button_change_cause_text}
                    </a>
                  </div>

                  <div class="order-2 sm:order-3 cause-from-txt text-gray w-full prose max-w-none">
                    <Markdown>{block2.My_selected_cause_text}</Markdown>
                  </div>
                </div>

                <div class="kindness-causes flex flex-wrap sm:grid gap-10 mt-[25px] w-full">
                  {
                    kindnessCauses.map(({ cause, description, featured_blob }) => (
                      <div>
                        <div class="h-full w-full">
                          <div
                            {
                            /* @ts-ignore */ }
                            cause={cause}
                            class:list={[
                              "kindness-cause relative w-full max-w-[380px] sm:max-w-full h-full sm:h-[148px]",
                              "flex flex-wrap sm:flex-nowrap bg-lightgray cursor-pointer"
                            ]}
                          >
                            <div class="w-full sm:w-auto aspect-[6/5] block">
                              <Picture
                                layout="fullWidth"
                                sizes="(min-width: 640px) 320px, 90vw)"
                                alt={featured_blob.data.attributes.alternativeText}
                                attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
                                src={ASSETS_URL + featured_blob.data.attributes.url}
                              />
                            </div>

                            <div class="sm:grow px-[22px] sm:px-[25px] py-[20px] sm:py-[15px] flex flex-col justify-center gap-2">
                              <h4 class="alice text-2xl text-dark2 leading-[120%]">{cause}</h4>

                              <div class="prose max-w-none text-base sm:text-lg text-dark sm:line-clamp-2 lg:line-clamp-3">
                                <Markdown>{description}</Markdown>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    ))
                  }
                </div>
              </div>
            </label>

            <label>
              <input
                type="radio"
                name="my_cause"
              />

              <div>
                <h3 class="cause-from-label">{block2.Label_let_dilmah_pick_cause}</h3>
                <div class="cause-from-txt text-gray prose max-w-none">
                  <Markdown>{block2.Let_dilmah_pick_cause_text}</Markdown>
                </div>
              </div>
            </label>
          </form>
        </div>
      </section>
    )}

    {(page.Block3_visibility && block3) &&(
      <section>
        <div 
          id={block3?.Block3_title.toLowerCase().replaceAll(" ", "-")}
          class="dashboard-sec-title alice mt-[50px]"
        >
          {block3.Block3_title}
        </div>

        <div class="dashboard-sec grid gap-2.5">

          <div class="flex flex-col gap-5">
            <div class="flex flex-wrap items-center justify-between gap-x-5 gap-y-1">
              <div class="flex items-center gap-2.5 text-lg font-bold leading-[150%] text-dark2">
                {block3.Label_order} #132131

                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16.7">
                  <path d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z" style="fill:#2b4b50"/>
                </svg>
              </div>
              <div class="text-gray">
                {block3.text_estimated_delivery} 18-Feb-2023
              </div>
            </div>

            <div class="flex justify-between gap-4 w-full">
              <div class="flex flex-wrap gap-4 justify-between w-full">
                <div class="grid gap-4">
                <div class="flex gap-4 items-center">
                    <div class="min-w-[62px]">
                      <Img
                        layout="fullWidth"
                        width={62}
                        alt=""
                        attributes={{ img: { style: "aspect-ratio: 1 / 1; clip-path: url(#orders-curve)" } }}
                        src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
                      />
                    </div>

                    <div class="grid gap-[5px] w-auto">
                      <h2 class="alice text-2xl text-dark2">
                        1x Chamomile tea
                      </h2>

                      <div class="text-gray">
                        Variant: 100gm
                      </div>
                    </div>
                  </div>
                </div>

                {block3.Button_track_package &&(
                  <div>
                    <a href="#">
                      <div class="px-[30px] py-1.5 font-bold leading-[150%] text-lightgray bg-primary rounded-full">
                        {block3.Button_track_package_text}
                      </div>
                    </a>
                  </div>
                )}
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-5 pt-2.5 border-t border-lightgray">
            <div class="flex flex-wrap items-center justify-between gap-x-5 gap-y-1">
              <div class="flex items-center gap-2.5 text-lg font-bold leading-[150%] text-dark2">
                {block3.Label_order} #35995

                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16.7">
                  <path d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z" style="fill:#2b4b50"/>
                </svg>
              </div>
              <div class="text-gray">
                {block3.text_estimated_shipment} 18-Feb-2023
              </div>
            </div>

            <div class="flex justify-between gap-4 w-full">
              <div class="flex flex-wrap gap-4 justify-between w-full">
                <div class="grid gap-4">
                  <div class="flex gap-4 items-center">
                    <div class="min-w-[62px]">
                      <Img
                        layout="fullWidth"
                        width={62}
                        alt=""
                        attributes={{ img: { style: "aspect-ratio: 1 / 1; clip-path: url(#orders-curve)" } }}
                        src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
                      />
                    </div>

                    <div class="grid gap-[5px] w-auto">
                      <h2 class="alice text-2xl text-dark2">
                        2x Ceylon cinnamon spice tea
                      </h2>

                      <div class="text-gray">
                        Variant: 100gm
                      </div>
                    </div>
                  </div>

                  <div class="flex gap-4 items-center">
                    <div class="min-w-[62px]">
                      <Img
                        layout="fullWidth"
                        width={62}
                        alt=""
                        attributes={{ img: { style: "aspect-ratio: 1 / 1; clip-path: url(#orders-curve)" } }}
                        src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
                      />
                    </div>

                    <div class="grid gap-[5px] w-auto">
                      <h2 class="alice text-2xl text-dark2">
                        1x Green tea
                      </h2>

                      <div class="text-gray">
                        Variant: 100gm
                      </div>
                    </div>
                  </div>

                  <div class="flex gap-4 items-center">
                    <div class="min-w-[62px]">
                      <Img
                        layout="fullWidth"
                        width={62}
                        alt=""
                        attributes={{ img: { style: "aspect-ratio: 1 / 1; clip-path: url(#orders-curve)" } }}
                        src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
                      />
                    </div>

                    <div class="grid gap-[5px] w-auto">
                      <h2 class="alice text-2xl text-dark2">
                        3x Rose with french vanilla tea
                      </h2>

                      <div class="text-gray">
                        Variant: 100gm
                      </div>
                    </div>
                  </div>

                  <div class="font-medium leading-[150%]">
                    10 {block3.text_more_products_in_this_order}
                  </div>
                </div>

                {block3.Button_track_package &&(
                  <div>
                    <a href="#">
                      <div class="px-[30px] py-1.5 font-bold leading-[150%] text-lightgray bg-primary rounded-full">
                        {block3.Button_track_package_text}
                      </div>
                    </a>
                  </div>
                )}
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-5 pt-2.5 border-t border-lightgray">
            <div class="flex flex-wrap items-center justify-between gap-x-5 gap-y-1">
              <div class="flex items-center gap-2.5 text-lg font-bold leading-[150%] text-dark2">
                {block3.Label_order} #35995

                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="17" viewBox="0 0 8 16.7">
                  <path d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z" style="fill:#2b4b50"/>
                </svg>
              </div>
              <div class="text-gray">
                {block3.text_delivered} 18-Feb-2023
              </div>
            </div>

            <div class="flex justify-between gap-4 w-full">
              <div class="flex flex-wrap gap-4 justify-between w-full">
                <div class="grid gap-4">
                <div class="flex gap-4 items-center">
                    <div class="min-w-[62px]">
                      <Img
                        layout="fullWidth"
                        width={62}
                        alt=""
                        attributes={{ img: { style: "aspect-ratio: 1 / 1; clip-path: url(#orders-curve)" } }}
                        src="https://cms.dilmahtea.me/uploads/rose_with_french_vanilla_with_t_column_be315af184.jpg"
                      />
                    </div>

                    <div class="grid gap-[5px] w-auto">
                      <h2 class="alice text-2xl text-dark2">
                        3x Natural rooibos tea
                      </h2>

                      <div class="text-gray">
                        Variant: 100gm
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <a href="#">
                    <div class="px-[30px] py-1.5 font-bold leading-[150%] text-lightgray bg-primary rounded-full">
                      {block3.Button_buy_again_text}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-center">
            <a 
              href="/account/orders"
              class="font-bold leading-[150%] text-primary"
            >
              {block3.Button_view_all_orders_text}
            </a>
          </div>
        </div>
      </section>
    )}

    <div class="dashboard-sec grid gap-5 justify-center text-center">
      <div class="w-full max-h-[200px]">
        <img
          class="w-full h-full"
          src={await localizeCMSImage(block3?.Empty_order_blob.data.attributes.url)}
          alt={block3?.Empty_order_blob.data.attributes.alternativeText}
        />
      </div>

      <div class="alice prose text-[clamp(1.125rem,1.5vw+0.15rem,1.5rem)] leading-[110%] text-dark2">
        <Markdown>{block3.Empty_order_text}</Markdown>
      </div>


      <a 
        href="#" 
        class:list={[
          "px-7 sm:px-[50px] py-1.5  w-full sm:min-w-[230px] font-bold",
          "leading-[150%] text-lightgray bg-primary rounded-full"
        ]}
      >
        {block3.Empty_order_button_text}
      </a>
    </div>

  </div>

  <div 
    role="complementary" 
    aria-label="Chapters" 
    id="headings" 
    class:list={[
      "w-full md:w-1/3 md:h-screen self-start flex flex-col md:sticky",
      "top-0 py-6 mb-[75px] text-primary overflow-hidden", 
      "pl-[clamp(24px,3.8vw+0.16px,50px)] lg:pl-[clamp(70px,11.3125vw-46px,128px)]"
    ]}
  >
      <h3 
        id="headings-header"
        class="pb-2.5 lg:pb-5 xl:pb-[30px] text-[clamp(1.5rem,2vw+0.2rem,2rem)] font-bold"
      >
        {page.text_content}
      </h3>

      <div 
        role="list" 
        class="heading-content flex flex-col gap-[35px] leading-[130%] lg:leading-[150%] overflow-y-auto" 
      >
        <a 
          role="listitem"
          href={`#` + title.toLowerCase().replaceAll(" ", "-")}
          class="flex text-primary pt-4 xl:pt-5"
        >
          <div class="w-[clamp(37px,4.6875vw-18.75px,45px)] mr-[clamp(10px,4.6875vw-43.75px,20px);] lnline-flex">
            <img {...green_right_arrow}/>
          </div>

          {information.Name}
        </a>

        <a 
          role="listitem"
          href={`#` + block2?.Block2_title.toLowerCase().replaceAll(" ", "-")}
          class="flex text-primary pt-4 xl:pt-5"
        >
          <div class="w-[clamp(37px,4.6875vw-18.75px,45px)] mr-[clamp(10px,4.6875vw-43.75px,20px);] lnline-flex">
            <img {...green_right_arrow}/>
          </div>

          {block2?.Block2_title}
        </a>

        <a 
          role="listitem"
          href={`#` + block3?.Block3_title.toLowerCase().replaceAll(" ", "-")} 
          class="flex text-primary pt-4 xl:pt-5"
        >
          <div class="w-[clamp(37px,4.6875vw-18.75px,45px)] mr-[clamp(10px,4.6875vw-43.75px,20px);] lnline-flex">
            <img {...green_right_arrow}/>
          </div>

          {block3?.Block3_title}
        </a>
      </div>
    </div>
</div>

{(Support_visibility && Support) &&(
  <div class="fixed bottom-[clamp(15px,3vw+5px,50px)] right-[clamp(15px,3vw+5px,50px)]">
    <a href={Support.Button_link}>
      <div class="flex items-center gap-3 sm:gap-4 p-3 sm:py-5 sm:px-[34px] rounded-full bg-[#3C994E]">
        <div class="w-[clamp(25px,3vw+5px,40px)] h-[clamp(25px,3vw+5px,40px)]">
          <img
            class="w-full h-full object-contain"
            src={await localizeCMSImage(Support.Button_icon.data.attributes.url)}
            alt={Support.Button_icon?.data?.attributes?.alternativeText}
          />
        </div>
        <div class="sm:text-lg text-white">
          {Support.Button_text}
        </div>
      </div>
    </a>
  </div>
)}

<script>
  declare global {
    interface Window {
      preferredLocale: string;
    }
  }

  const kindnessCausesCardsContainer =
      document.querySelector(".kindness-causes"),
    kindnessCausesCards = document.querySelectorAll(".kindness-cause"),
    continueToPaymentBtn = document.getElementById(
      "continue-to-payment-btn"
    ) as HTMLButtonElement;

  kindnessCausesCards.forEach((card) => {
    card.addEventListener("click", () => {
      const activeCauseCard = kindnessCausesCardsContainer.querySelector(
          ".active-kindness-cause"
        ),
        kindness_cause = card.getAttribute("cause");

      activeCauseCard?.classList?.remove("active-kindness-cause");

      window.checkoutInfo.kindness_cause = kindness_cause;

      localStorage.setItem(
        "checkout-info",
        JSON.stringify(window.checkoutInfo)
      );

      card.parentElement.parentElement.classList.add("active-kindness-cause");

      continueToPaymentBtn.disabled = false;
    });
  });

  continueToPaymentBtn?.addEventListener("click", () => {
    location.href = "/" + window.preferredLocale + "/checkout/shipping";
  });
</script>