---
import { Icon } from "astro-icon";
import Markdown from "@astrojs/markdown-component";
import { Img, Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

const { green_right_arrow } = RecurringImages;

const { page } = Astro.props,
  { Title, Block2_title, locale, countries } = page;

const accountRecurData = CMS.get("userAccountRecurringElement", locale);

const userName = `Sara Jones`;

const {
  Label_tag_text,
  Tag_default_text: tag_default,
  Tag_others_text: tag_others,
  Tag_others_placeholder_text: tag_placeholder_others,
  Address_tag: address_tag,
  Button_edit_text,
  Button_add_new_address_text,
  Button_make_default_text,
  Button_save_text,
  Button_cancel_text,
  text_saved_Addresses,
  text_more_address,
  text_hide_more_address,
  Input_label_first_name,
  Input_placeholder_first_name,
  Input_label_last_name,
  Input_placeholder_last_name,
  Input_label_country,
  Input_placeholder_country,
  Input_label_city,
  Input_placeholder_city,
  Input_label_street,
  Input_placeholder_street,
  Input_label_postal_code,
  Input_placeholder_postal_code,
  Checkbox_set_default_address_text,
  Checkbox_set_billing_address_text,
  text_content,
} = accountRecurData;

const address_primay = address_tag.slice(0, 3),
  address_all = address_tag.slice(3);
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/colors";

  .dashboard-sec-title {
    @apply bg-primary leading-[110%] text-secondary-light rounded-[10px];

    font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
    padding: 10px clamp(15px, 2.08vw + 0.01rem, 25px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  .dashboard-sec {
    @apply bg-secondary-light rounded-[10px] text-black;

    padding: clamp(15px, 2.08vw + 0.01rem, 25px)
      clamp(15px, 2.2vw + 0.1rem, 25px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }

    .address-text {
      @apply sm:font-medium leading-[150%];

      font-size: clamp(1.125rem, 1.5vw + 0.3rem, 1.5rem);
    }

    .button {
      @apply font-bold sm:font-semibold leading-[150%] text-primary;

      font-size: clamp(1rem, 1.5vw + 0.3rem, 1.25rem);
    }
  }
  .month-container {
    @apply grid grid-cols-[repeat(auto-fit,minmax(96px,1fr))] gap-y-[15px] items-center w-full;

    .month {
      @apply px-2.5 py-0.5 lg:text-lg font-medium text-black text-center rounded-full;
    }
    .active {
      @apply font-semibold text-primary bg-primary-light;
    }
  }

  .form-grid-container {
    @apply grid flex-col;

    gap: poly-fluid-clamp(
      (
        375px: 10px,
        1440px: 15px,
      )
    );

    .form-grid {
      @apply w-full grid gap-y-2.5;

      @media (min-width: 480px) {
        @apply grid-cols-2;

        gap: poly-fluid-clamp(
          (
            480px: 10px 40px,
            1440px: 25px 100px,
          )
        );
      }

      label {
        @apply flex flex-col gap-1.5;

        span {
          @apply font-medium text-black sm:text-[1.125rem];
        }

        input,
        select {
          @apply focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none;
          @apply h-12 bg-secondary-light py-3 px-4 border border-primary rounded-full text-black-light sm:text-[1.125rem];
        }
      }
    }

    .tag-button-container {
      input[type="radio"] {
        @apply hidden;
      }

      input[type="radio"] + label {
        @apply border-2 border-secondary-light;
      }

      input[type="radio"]:checked + label {
        @apply border-primary;
      }

      label,
      #others-tag-button {
        @apply py-2.5 md:py-[14px] px-4 text-sm font-medium leading-[150%]
          text-black-light bg-secondary-light rounded-full cursor-pointer;
      }
    }

    .other_tag input {
      @apply focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none;
      @apply h-12 bg-secondary-light py-3 px-4 border border-primary rounded-full text-black-light sm:text-[1.125rem];
    }
  }
  .address-checkbox-container {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    height: 16px;
    width: 16px;
    clear: both;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    & input:checked ~ .address-checkbox {
      background-color: colors.$primary;
      border-radius: 3px;
      opacity: 1;
      border: 2px solid colors.$primary;
    }
  }

  .address-checkbox-container .address-checkbox {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #000;

    &::after {
      position: absolute;
      content: "✓";
      opacity: 0;
      top: -0.68rem;
      left: 1.2px;
      font-size: 0.85rem;
      font-weight: 1000;
      -webkit-transform: rotate(5deg) scale(1);
      -ms-transform: rotate(5deg) scale(1);
      transform: rotate(5deg) scale(1);
      filter: invert(2) brightness(2);
    }
  }

  .address-checkbox-container input:checked ~ .address-checkbox::after {
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
  }

  .address-checkbox {
    font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
    line-height: 175%;
    color: colors.$black-light;
  }
</style>

<ClipPathSVG
  id="orders-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<div class="wrapper">
  {
    page.Breadcrumb && (
      <div
        role="banner"
        class="flex flex-wrap gap-2 recoleta text-2xl leading-[110%] text-primary mt-[25px]"
      >
        {page.Breadcrumb?.Steps.map((step, index) => (
          <div class="flex items-center gap-2">
            {index > 0 && (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="17"
                viewBox="0 0 8 16.7"
              >
                <path
                  d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z"
                  style="fill:#2b4b50"
                />
              </svg>
            )}
            <a href={step.Link}>{step.Name}</a>
          </div>
        ))}
      </div>
    )
  }
</div>

<div class="wrapper py-[50px] w-full flex flex-col-reverse md:flex-row">
  <div class="md:w-2/3 grid gap-[50px]">
    <section class="grid gap-[25px]">
      <h1
        id={`#` + Title.toLowerCase().replaceAll(" ", "-")}
        class="dashboard-sec-title recoleta"
      >
        {Title}
      </h1>

      <div class="dashboard-sec">
        <div
          class:list={[
            "flex flex-wrap items-center gap-[25px] justify-between",
            "p-[15px] bg-primary-light/30 rounded-[10px]",
          ]}
        >
          <div class="grid gap-2.5">
            <div class="flex flex-wrap gap-2">
              <div
                class:list={[
                  "px-2.5 py-0.5 text-sm font-medium leading-[150%]",
                  "text-primary bg-primary-light rounded-full",
                ]}
              >
                {tag_default}
              </div>
              <div
                class:list={[
                  "flex items-center gap-2 text-sm font-medium",
                  "leading-[150%] text-black-light rounded-full",
                ]}
              >
                <span class="w-1 h-1 bg-dark rounded-full"></span>
                {userName}
              </div>
              <div class="flex items-center gap-2">
                <span class="w-1 h-1 bg-dark rounded-full"></span>
                {
                  address_tag
                    .slice(0, 1)
                    .map(({ Title }) => (
                      <span
                        class:list={[
                          "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                          "leading-[150%] text-black-light bg-secondary-light rounded-full",
                        ]}
                      >
                        {Title}
                      </span>
                    ))
                }
              </div>
            </div>
            <div class="address-text">456B, Oakwoods, Germany</div>
          </div>
          <div class="flex gap-[30px]">
            <div class="button">
              <a href="#new-address" onclick="addressToggle()">
                {Button_edit_text}
              </a>
            </div>
            <div class="button">
              <a href="#">
                <Icon
                  name="mdi:trash-can-outline"
                  class="w-6 h-full text-primary"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="pt-[25px] mt-[25px] border-t border-lightgray">
          <div class="flex w-full">
            <button
              id="new-address-open-btn"
              class:list={[
                "flex gap-3 py-[15px] px-10 mb-[25px] md:min-w-[250px] font-bold",
                "text-white leading-[150%] bg-primary rounded-full cursor-pointer",
              ]}
            >
              <Icon name="akar-icons:plus" class="w-5 select-none" />
              {Button_add_new_address_text}
            </button>
          </div>

          <div
            id="new-address"
            class="hidden pb-[25px] mb-[25px] border-b border-lightgray"
          >
            <div class="p-[25px] bg-primary-light/30 rounded-[15px]">
              <div class="form-grid-container">
                <div class="form-grid">
                  <label>
                    <span>{Input_label_first_name}</span>

                    <input
                      type="text"
                      name="first_name"
                      placeholder={Input_placeholder_first_name}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_last_name}</span>

                    <input
                      type="text"
                      name="last_name"
                      placeholder={Input_placeholder_last_name}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_country}</span>

                    <select name="country" required>
                      <option value="" selected disabled hidden>
                        {Input_placeholder_country}
                      </option>

                      {
                        countries.map(({ name, localizations }) => (
                          <option
                            value={
                              localizations?.data[0]?.attributes?.name || name
                            }
                          >
                            {name}
                          </option>
                        ))
                      }
                    </select>
                  </label>

                  <label>
                    <span>{Input_label_city}</span>

                    <input
                      type="text"
                      name="city"
                      placeholder={Input_placeholder_city}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_street}</span>

                    <input
                      type="text"
                      name="street"
                      placeholder={Input_placeholder_street}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_postal_code}</span>

                    <input
                      type="text"
                      name="postal_code"
                      placeholder={Input_placeholder_postal_code}
                      required
                    />
                  </label>
                </div>

                <div class="grid gap-[5px]">
                  <div class="w-full text-lg font-bold leading-[150%]">
                    {Label_tag_text}
                  </div>

                  <div class="tag-button-container flex flex-wrap gap-[15px]">
                    <div id="tags" class="flex flex-wrap gap-[15px]">
                      {
                        address_tag.map(({ Title }) => (
                          <>
                            <input
                              type="radio"
                              id={Title}
                              name="tags"
                              value={Title}
                            />
                            <label for={Title}>{Title}</label>
                          </>
                        ))
                      }
                    </div>

                    <div id="others-tag-button">
                      {tag_others}
                    </div>

                    <div class="hidden relative other_tag h-full">
                      <input
                        type="text"
                        name="tag_others"
                        placeholder={tag_placeholder_others}
                        required
                      />
                      <span
                        id="quit-others"
                        class="absolute inset-y-0 right-2.5"
                      >
                        <Icon
                          name="ph:x-bold"
                          class="w-6 h-full cursor-pointer"
                        />
                      </span>
                    </div>
                  </div>
                </div>

                <div class="grid gap-[7px]">
                  <div class="flex">
                    <label class="flex items-center gap-5">
                      <span class="address-checkbox-container">
                        <input type="checkbox" />
                        <span class="address-checkbox"></span>
                      </span>
                      {Checkbox_set_default_address_text}
                    </label>
                  </div>
                  <div class="flex">
                    <label class="flex items-center gap-5">
                      <span class="address-checkbox-container">
                        <input type="checkbox" />
                        <span class="address-checkbox"></span>
                      </span>
                      {Checkbox_set_billing_address_text}
                    </label>
                  </div>
                </div>

                <div
                  class="flex flex-wrap items-center gap-x-[25px] gap-y-[15px]"
                >
                  <button
                    type="submit"
                    class:list={[
                      "flex justify-center py-[15px] px-10 md:min-w-[250px] font-bold",
                      "text-white leading-[150%] bg-primary rounded-full cursor-pointer",
                    ]}
                  >
                    {Button_save_text}
                  </button>

                  <button
                    id="new-address-close-btn"
                    class:list={[
                      "flex justify-center py-[15px] px-10 md:min-w-[250px] font-bold text-primary",
                      "leading-[150%] bg-secondary-light border-2 border-primary rounded-full cursor-pointer",
                    ]}
                  >
                    {Button_cancel_text}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="recoleta text-2xl text-black-light">
            {text_saved_Addresses}
          </div>

          {
            address_primay.map(({ Title }, index) => (
              <div
                class:list={[
                  "flex flex-wrap items-end gap-[25px] justify-between pt-[25px] mt-[25px]",
                  index > 0 && "border-t border-lightgray",
                ]}
              >
                <div class="grid gap-2.5">
                  <div class="flex flex-wrap gap-2">
                    <div
                      class:list={[
                        "flex items-center gap-2 text-sm font-medium",
                        "leading-[150%] text-black-light rounded-full",
                      ]}
                    >
                      {userName}
                    </div>
                    <div class="flex items-center gap-2">
                      <span class="w-1 h-1 bg-dark rounded-full" />
                      <span
                        class:list={[
                          "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                          "leading-[150%] text-black-light bg-lightgray rounded-full",
                        ]}
                      >
                        {Title}
                      </span>
                    </div>
                  </div>
                  <div class="address-text">456B, Oakwoods, Germany</div>
                </div>

                <div class="flex flex-wrap gap-[25px]">
                  <div class="button">
                    <a href="#">{Button_make_default_text}</a>
                  </div>
                  <div class="button">
                    <a href="#new-address" onclick="addressToggle()">
                      {Button_edit_text}
                    </a>
                  </div>
                  <div class="button">
                    <a href="#">
                      <Icon
                        name="mdi:trash-can-outline"
                        class="w-6 h-full text-primary"
                      />
                    </a>
                  </div>
                </div>
              </div>
            ))
          }

          <div id="more-address" class="hidden">
            {
              address_all.map(({ Title }) => (
                <div
                  class:list={[
                    "flex flex-wrap items-end gap-[25px] justify-between",
                    "pt-[25px] mt-[25px] border-t border-lightgray",
                  ]}
                >
                  <div class="grid gap-2.5">
                    <div class="flex flex-wrap gap-2">
                      <div
                        class:list={[
                          "flex items-center gap-2 text-sm font-medium",
                          "leading-[150%] text-black-light rounded-full",
                        ]}
                      >
                        {userName}
                      </div>
                      <div class="flex items-center gap-2">
                        <span class="w-1 h-1 bg-dark rounded-full" />
                        <span
                          class:list={[
                            "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                            "leading-[150%] text-black-light bg-lightgray rounded-full",
                          ]}
                        >
                          {Title}
                        </span>
                      </div>
                    </div>
                    <div class="address-text">456B, Oakwoods, Germany</div>
                  </div>

                  <div class="flex flex-wrap gap-[25px]">
                    <div class="button">
                      <a href="#">{Button_make_default_text}</a>
                    </div>
                    <div class="button">
                      <a href="#new-address" onclick="addressToggle()">
                        {Button_edit_text}
                      </a>
                    </div>
                    <div class="button">
                      <a href="#">
                        <Icon
                          name="mdi:trash-can-outline"
                          class="w-6 h-full text-primary"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>

          {
            address_tag.length > 3 && (
              <div class="mt-[25px] w-full flex justify-center">
                <div
                  id="toggle-more-address"
                  class="font-bold leading-[150%] text-primary cursor-pointer"
                >
                  <span id="show-more-address" class="flex items-center">
                    {text_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3
                    )}
                    <Icon
                      name="ic:round-keyboard-arrow-down"
                      class="w-6 h-6 select-none"
                    />
                  </span>
                  <span id="hide-more-address" class="hidden flex items-center">
                    {text_hide_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3
                    )}
                    <Icon
                      name="ic:round-keyboard-arrow-up"
                      class="w-6 h-6 select-none"
                    />
                  </span>
                </div>
              </div>
            )
          }
        </div>
      </div>
    </section>

    <section class="grid gap-[25px]">
      <h2
        id={`#` + Block2_title.toLowerCase().replaceAll(" ", "-")}
        class="dashboard-sec-title recoleta"
      >
        {Block2_title}
      </h2>

      <div class="dashboard-sec">
        <div
          class:list={[
            "flex flex-wrap items-center gap-[25px] justify-between",
            "p-[15px] bg-primary-light/30 rounded-[10px]",
          ]}
        >
          <div class="grid gap-2.5">
            <div class="flex flex-wrap gap-2">
              <div
                class:list={[
                  "px-2.5 py-0.5 text-sm font-medium leading-[150%]",
                  "text-primary bg-primary-light rounded-full",
                ]}
              >
                {tag_default}
              </div>
              <div
                class:list={[
                  "flex items-center gap-2 text-sm font-medium",
                  "leading-[150%] text-black-light rounded-full",
                ]}
              >
                <span class="w-1 h-1 bg-dark rounded-full"></span>
                {userName}
              </div>
              <div class="flex items-center gap-2">
                <span class="w-1 h-1 bg-dark rounded-full"></span>
                {
                  address_tag
                    .slice(0, 1)
                    .map(({ Title }) => (
                      <span
                        class:list={[
                          "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                          "leading-[150%] text-black-light bg-secondary-light rounded-full",
                        ]}
                      >
                        {Title}
                      </span>
                    ))
                }
              </div>
            </div>
            <div class="address-text">456B, Oakwoods, Germany</div>
          </div>
          <div class="flex gap-[30px]">
            <div class="button">
              <a href="#new-address" onclick="addressToggle()">
                {Button_edit_text}
              </a>
            </div>
            <div class="button">
              <a href="#">
                <Icon
                  name="mdi:trash-can-outline"
                  class="w-6 h-full text-primary"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="pt-[25px] mt-[25px] border-t border-lightgray">
          <div class="flex w-full">
            <button
              id="new-address-open-btn"
              class:list={[
                "flex gap-3 py-[15px] px-10 mb-[25px] md:min-w-[250px] font-bold",
                "text-white leading-[150%] bg-primary rounded-full cursor-pointer",
              ]}
            >
              <Icon name="akar-icons:plus" class="w-5 select-none" />
              {Button_add_new_address_text}
            </button>
          </div>

          <div
            id="new-address"
            class="hidden pb-[25px] mb-[25px] border-b border-lightgray"
          >
            <div class="p-[25px] bg-primary-light/30 rounded-[15px]">
              <form class="form-grid-container">
                <div class="form-grid">
                  <label>
                    <span>{Input_label_first_name}</span>

                    <input
                      type="text"
                      name="first_name"
                      placeholder={Input_placeholder_first_name}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_last_name}</span>

                    <input
                      type="text"
                      name="last_name"
                      placeholder={Input_placeholder_last_name}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_country}</span>

                    <select name="country" required>
                      <option value="" selected disabled hidden>
                        {Input_placeholder_country}
                      </option>

                      {
                        countries.map(({ name, localizations }) => (
                          <option
                            value={
                              localizations?.data[0]?.attributes?.name || name
                            }
                          >
                            {name}
                          </option>
                        ))
                      }
                    </select>
                  </label>

                  <label>
                    <span>{Input_label_city}</span>

                    <input
                      type="text"
                      name="city"
                      placeholder={Input_placeholder_city}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_street}</span>

                    <input
                      type="text"
                      name="street"
                      placeholder={Input_placeholder_street}
                      required
                    />
                  </label>

                  <label>
                    <span>{Input_label_postal_code}</span>

                    <input
                      type="text"
                      name="postal_code"
                      placeholder={Input_placeholder_postal_code}
                      required
                    />
                  </label>
                </div>

                <div class="grid gap-[5px]">
                  <div class="w-full text-lg font-bold leading-[150%]">
                    {Label_tag_text}
                  </div>

                  <div class="tag-button-container flex flex-wrap gap-[15px]">
                    <div id="tags" class="flex flex-wrap gap-[15px]">
                      {
                        address_tag.map(({ Title }) => (
                          <>
                            <input
                              type="radio"
                              id={Title}
                              name="tags"
                              value={Title}
                            />
                            <label for={Title}>{Title}</label>
                          </>
                        ))
                      }
                    </div>

                    <div id="others-tag-button">
                      {tag_others}
                    </div>

                    <div class="hidden relative other_tag h-full">
                      <input
                        type="text"
                        name="tag_others"
                        placeholder={tag_placeholder_others}
                        required
                      />
                      <span
                        id="quit-others"
                        class="absolute inset-y-0 right-2.5"
                      >
                        <Icon
                          name="ph:x-bold"
                          class="w-6 h-full cursor-pointer"
                        />
                      </span>
                    </div>
                  </div>
                </div>

                <div class="grid gap-[7px]">
                  <div class="flex">
                    <label class="flex items-center gap-5">
                      <span class="address-checkbox-container">
                        <input type="checkbox" />
                        <span class="address-checkbox"></span>
                      </span>
                      {Checkbox_set_default_address_text}
                    </label>
                  </div>
                  <div class="flex">
                    <label class="flex items-center gap-5">
                      <span class="address-checkbox-container">
                        <input type="checkbox" />
                        <span class="address-checkbox"></span>
                      </span>
                      {Checkbox_set_billing_address_text}
                    </label>
                  </div>
                </div>

                <div
                  class="flex flex-wrap items-center gap-x-[25px] gap-y-[15px]"
                >
                  <button
                    type="submit"
                    class:list={[
                      "flex justify-center py-[15px] px-10 md:min-w-[250px] font-bold",
                      "text-white leading-[150%] bg-primary rounded-full cursor-pointer",
                    ]}
                  >
                    {Button_save_text}
                  </button>

                  <button
                    id="new-address-close-btn"
                    class:list={[
                      "flex justify-center py-[15px] px-10 md:min-w-[250px] font-bold text-primary",
                      "leading-[150%] bg-secondary-light border-2 border-primary rounded-full cursor-pointer",
                    ]}
                  >
                    {Button_cancel_text}
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="recoleta text-2xl text-black-light">
            {text_saved_Addresses}
          </div>

          {
            address_primay.map(({ Title }, index) => (
              <div
                class:list={[
                  "flex flex-wrap items-end gap-[25px] justify-between pt-[25px] mt-[25px]",
                  index > 0 && "border-t border-lightgray",
                ]}
              >
                <div class="grid gap-2.5">
                  <div class="flex flex-wrap gap-2">
                    <div
                      class:list={[
                        "flex items-center gap-2 text-sm font-medium",
                        "leading-[150%] text-black-light rounded-full",
                      ]}
                    >
                      {userName}
                    </div>
                    <div class="flex items-center gap-2">
                      <span class="w-1 h-1 bg-dark rounded-full" />
                      <span
                        class:list={[
                          "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                          "leading-[150%] text-black-light bg-lightgray rounded-full",
                        ]}
                      >
                        {Title}
                      </span>
                    </div>
                  </div>
                  <div class="address-text">456B, Oakwoods, Germany</div>
                </div>

                <div class="flex flex-wrap gap-[25px]">
                  <div class="button">
                    <a href="#">{Button_make_default_text}</a>
                  </div>
                  <div class="button">
                    <a href="#new-address" onclick="addressToggle()">
                      {Button_edit_text}
                    </a>
                  </div>
                  <div class="button">
                    <a href="#">
                      <Icon
                        name="mdi:trash-can-outline"
                        class="w-6 h-full text-primary"
                      />
                    </a>
                  </div>
                </div>
              </div>
            ))
          }

          <div id="more-address" class="hidden">
            {
              address_all.map(({ Title }) => (
                <div
                  class:list={[
                    "flex flex-wrap items-end gap-[25px] justify-between",
                    "pt-[25px] mt-[25px] border-t border-lightgray",
                  ]}
                >
                  <div class="grid gap-2.5">
                    <div class="flex flex-wrap gap-2">
                      <div
                        class:list={[
                          "flex items-center gap-2 text-sm font-medium",
                          "leading-[150%] text-black-light rounded-full",
                        ]}
                      >
                        {userName}
                      </div>
                      <div class="flex items-center gap-2">
                        <span class="w-1 h-1 bg-dark rounded-full" />
                        <span
                          class:list={[
                            "flex items-center gap-2 px-2.5 py-0.5 text-sm font-medium",
                            "leading-[150%] text-black-light bg-lightgray rounded-full",
                          ]}
                        >
                          {Title}
                        </span>
                      </div>
                    </div>
                    <div class="address-text">456B, Oakwoods, Germany</div>
                  </div>

                  <div class="flex flex-wrap gap-[25px]">
                    <div class="button">
                      <a href="#">{Button_make_default_text}</a>
                    </div>
                    <div class="button">
                      <a href="#new-address" onclick="addressToggle()">
                        {Button_edit_text}
                      </a>
                    </div>
                    <div class="button">
                      <a href="#">
                        <Icon
                          name="mdi:trash-can-outline"
                          class="w-6 h-full text-primary"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>

          {
            address_tag.length > 3 && (
              <div class="mt-[25px] w-full flex justify-center">
                <div
                  id="toggle-more-address"
                  class="font-bold leading-[150%] text-primary cursor-pointer"
                >
                  <span id="show-more-address" class="flex items-center">
                    {text_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3
                    )}
                    <Icon
                      name="ic:round-keyboard-arrow-down"
                      class="w-6 h-6 select-none"
                    />
                  </span>
                  <span id="hide-more-address" class="hidden flex items-center">
                    {text_hide_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3
                    )}
                    <Icon
                      name="ic:round-keyboard-arrow-up"
                      class="w-6 h-6 select-none"
                    />
                  </span>
                </div>
              </div>
            )
          }
        </div>
      </div>
    </section>
  </div>

  <div
    role="complementary"
    aria-label="Chapters"
    id="headings"
    class:list={[
      "w-full md:w-1/3 md:h-screen self-start flex flex-col md:sticky",
      "top-0 md:pb-6 mb-[75px] text-black overflow-hidden",
      "md:pl-[clamp(24px,3.8vw+0.16px,50px)] lg:pl-[clamp(70px,11.3125vw-46px,128px)]",
    ]}
  >
    <h3
      id="headings-header"
      class="pb-2.5 lg:pb-5 xl:pb-[30px] text-[clamp(1.5rem,2vw+0.2rem,2rem)] font-bold"
    >
      {text_content}
    </h3>

    <div
      role="list"
      class="heading-content flex flex-col gap-[35px] leading-[130%] lg:leading-[150%] overflow-y-auto"
    >
      <a
        role="listitem"
        href={`#` + Title.toLowerCase().replaceAll(" ", "-")}
        class="flex text-black-light pt-4 xl:pt-5"
      >
        <div
          class="w-[clamp(37px,4.6875vw-18.75px,45px)] mr-[clamp(10px,4.6875vw-43.75px,20px);] lnline-flex"
        >
          <img {...green_right_arrow} />
        </div>

        {Title}
      </a>

      <a
        role="listitem"
        href={`#` + Block2_title.toLowerCase().replaceAll(" ", "-")}
        class="flex text-black-light pt-4 xl:pt-5"
      >
        <div
          class="w-[clamp(37px,4.6875vw-18.75px,45px)] mr-[clamp(10px,4.6875vw-43.75px,20px);] lnline-flex"
        >
          <img {...green_right_arrow} />
        </div>

        {Block2_title}
      </a>
    </div>
  </div>
</div>

<script is:inline>
  const query = document.querySelector.bind(document),
    newAddress = query("#new-address"),
    moreAddress = query("#more-address"),
    quitOthers = query("#quit-others"),
    othersTagButton = query("#others-tag-button"),
    showMoreAddress = query("#show-more-address"),
    hideMoreAddress = query("#hide-more-address"),
    toggleMoreAddress = query("#toggle-more-address"),
    addressOpenButton = query("#new-address-open-btn"),
    addressCloseButton = query("#new-address-close-btn");

  function addressToggle() {
    newAddress.style.display = "block";
    addressOpenButton.style.display = "none";
  }

  addressOpenButton?.addEventListener("click", () => {
    newAddress.style.display = "block";
    addressOpenButton.style.display = "none";
  });

  addressCloseButton?.addEventListener("click", () => {
    newAddress.style.display = "none";
    addressOpenButton.style.display = "flex";
  });

  toggleMoreAddress?.addEventListener("click", () => {
    if (moreAddress.style.display === "block") {
      moreAddress.style.display = "none";
      showMoreAddress.style.display = "flex";
      hideMoreAddress.style.display = "none";
    } else {
      moreAddress.style.display = "block";
      showMoreAddress.style.display = "none";
      hideMoreAddress.style.display = "flex";
    }
  });

  othersTagButton?.addEventListener("click", () => {
    othersTagButton.style.display = "none";
    othersTagButton.previousElementSibling.style.display = "none";
    othersTagButton.nextElementSibling.style.display = "block";
  });

  quitOthers?.addEventListener("click", () => {
    othersTagButton.style.display = "block";
    othersTagButton.previousElementSibling.style.display = "flex";
    othersTagButton.nextElementSibling.style.display = "none";
  });
</script>
