---
import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

import MyOrders from "@solid/MyOrders.astro";
import OrdersTimeline from "@solid/OrdersTimeline";
import MyOrdersInYearTitle from "@solid/MyOrdersInYearTitle";

import NoOrders from "@components/NoOrders.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";

import UserAccountLayout from "@layouts/UserAccountLayout.astro";

const { green_right_arrow } = RecurringImages;

const { page, recurData } = Astro.props,
  { Title, locale } = page;

const userAccountRecurData = CMS.get("userAccountRecurringElement", locale);
---

<ClipPathSVG
  id="orders-blob-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<UserAccountLayout page={page}>
  <Fragment>
    <!-- <div class="md:hidden w-full mb-[25px]">
      <div class="flex justify-end mb-[25px]">
        <button
          id="orders-timeline-sm-toggle-btn"
          class="font-bold text-primary select-none"
        >
          {userAccountRecurData.text_orders_timeline}
        </button>
      </div>

      <div
        id="orders-timeline-sm"
        class="hidden md:!hidden grid gap-[25px] lg:gap-[30px] p-[35px] bg-secondary-light rounded-[10px]"
      >
        <OrdersTimeline client:load />
      </div>
    </div> -->

    <MyOrdersInYearTitle client:load {Title} text_in={recurData.text_in} />

    <section class="grid gap-[25px] sm:gap-[30px]">
      <MyOrders {userAccountRecurData}>
        <NoOrders slot="noOrdersHTML" {recurData} />
      </MyOrders>
    </section>
  </Fragment>

  <!-- <div
    slot="sticky-top-timeline"
    id="orders-timeline-sm-ticky"
    class="grid gap-[25px] lg:gap-[30px]"
  >
    <OrdersTimeline client:load />
  </div> -->

  <div
    slot="timeline"
    id="orders-timeline"
    class="grid gap-[25px] lg:gap-[30px] p-[35px] bg-secondary-light rounded-[10px]"
  >
    <OrdersTimeline client:load />
  </div>
</UserAccountLayout>

<!-- <script is:inline>
  const id = document.getElementById.bind(document),
    ordersTimelineSm = id("orders-timeline-sm"),
    ordersTimelineSmToggleBtn = id("orders-timeline-sm-toggle-btn");

  ordersTimelineSmToggleBtn.addEventListener("click", () => {
    ordersTimelineSm.classList.toggle("hidden");
  });
</script> -->
