---
import { Icon } from "astro-icon";
import { Picture } from "astro-imagetools/components";

import CMS from "@store/CMS";

import getLocalizedLink from "@utils/getLocalizedLink";
import getUserAccountPagesLink from "@utils/getUserAccountPagesLink";

import Dashboard from "@solid/Dashboard.astro";

import Markdown from "@components/Markdown.astro";
import NoOrders from "@components/NoOrders.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import UserAccountLayout from "@layouts/UserAccountLayout.astro";

const { page } = Astro.props;

const {
    locale,
    Personal_information,
    kindnessCauses,
    Block2_visibility,
    Block2,
    Block3_title,
  } = page,
  { STRAPI_URL } = import.meta.env;

const userAccountRecurData = CMS.get("userAccountRecurringElement", locale),
  userAccountAddress = CMS.get("userAccountAddress", locale);

const userAccountAddressURL = getLocalizedLink(
  locale,
  userAccountAddress.Meta.URL_slug,
);

const verificationHref = getUserAccountPagesLink("verification", locale);

const headings = new Array(
  Personal_information?.Name,
  Block2_visibility && Block2?.Block2_title,
  Block3_title,
);
---

<style lang="scss">
  #cause-form {
    @apply grid gap-[15px] mt-[15px] overflow-hidden;

    label {
      @apply flex gap-5 items-start;
    }

    .cause-form-text {
      @apply text-lg font-medium leading-[150%] mt-[7px];
    }

    input[type="radio"] {
      &[name="kindness_cause"] {
        cursor: pointer;
      }

      @apply min-w-[25px] min-h-[25px] accent-primary after:content-[''];

      &:after {
        @apply relative inline-block top-0 left-0 min-w-[25px] min-h-[25px] 
            rounded-full bg-secondary-light border-2 border-primary;
      }
      &:checked:after {
        @apply relative inline-block top-[1.5px] left-[1.5px] min-w-[22px] min-h-[22px] 
            rounded-full bg-primary border-[6px] border-secondary-light;
      }
    }
  }

  #kindness-cause-grid {
    @apply grid items-center gap-2.5 md:gap-[25px] w-full;

    @media (min-width: 520px) {
      @apply grid-cols-2 md:grid-cols-1;
    }

    .kindness-cause-clip-path {
      clip-path: url(#kindness-cause-card-curve-sm);

      @media (min-width: 767px) {
        clip-path: url(#kindness-cause-card-curve);
      }
    }

    .kindness-cause-img-container {
      @apply w-full h-full aspect-[6/5];

      picture,
      img {
        @media (min-width: 767px) {
          height: 100% !important;
        }
      }
    }
  }
</style>

<ClipPathSVG
  id="kindness-cause-card-curve"
  path="M0.547,0.01 c0.072,0.003,0.13,0,0.167,0 c0.315,0,0.282,0.03,0.282,0.467 s0.052,0.518,-0.264,0.518 c-0.105,0,-0.154,0,-0.174,-0.001 l-0.011,0.001 h-0.001 c-0.199,0.01,-0.401,0.008,-0.47,-0.037 C-0.013,0.898,0.003,0.642,0.003,0.487 c0,-0.216,-0.034,-0.411,0.14,-0.459 C0.305,-0.018,0.435,0.005,0.547,0.01"
/>

<ClipPathSVG
  id="kindness-cause-card-curve-sm"
  path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
/>

<ClipPathSVG
  id="orders-blob-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<UserAccountLayout page={page} headings={headings}>
  <Dashboard
    {page}
    {verificationHref}
    {userAccountAddressURL}
    {userAccountRecurData}
  >
    <Icon slot="plusIcon" name="akar-icons:plus" class="w-[18px] select-none" />

    <Fragment slot="kindnessCausesHTML">
      {
        Block2?.Block2_text && (
          <div class="hero-text text-black block prose max-w-none">
            <Markdown>{Block2?.Block2_text}</Markdown>
          </div>
        )
      }

      <form id="cause-form">
        <label>
          <input type="radio" disabled />

          <div>
            <div class="flex flex-wrap items-center justify-between gap-[7px]">
              <h3 class="text-lg font-bold leading-[150%]">
                {Block2?.Label_my_selected_cause}
              </h3>

              <div
                class="cause-form-txt text-black-light w-full prose max-w-none"
              >
                <Markdown>{Block2?.My_selected_cause_text}</Markdown>
              </div>
            </div>

            {
              kindnessCauses.length > 0 && (
                <div id="kindness-cause-grid">
                  {kindnessCauses.map(
                    ({ cause, description, featured_blob }) => (
                      <div class="w-full h-full">
                        <input
                          type="radio"
                          name="kindness_cause"
                          id={cause}
                          value={cause}
                          class="peer hidden"
                        />

                        <label
                          for={cause}
                          class:list={[
                            "kindness-cause-clip-path inline-block w-full h-full",
                            "p-[3px] md:p-[5px] peer-checked:bg-primary select-none cursor-pointer",
                          ]}
                        >
                          <div class="kindness-cause-clip-path w-full h-full p-[3px] md:p-[5px] bg-secondary-light">
                            <div
                              class:list={[
                                "kindness-cause-clip-path w-full h-full bg-secondary",
                                "grid md:grid-cols-[140px_1fr] lg:grid-cols-[180px_1fr] items-center sm:justify-center",
                              ]}
                            >
                              <div class="w-full h-full">
                                <div class="kindness-cause-img-container hidden md:block">
                                  <Picture
                                    layout="fill"
                                    sizes="(min-width: 640px) 320px, 90vw)"
                                    alt={
                                      featured_blob.data.attributes
                                        .alternativeText
                                    }
                                    attributes={{
                                      img: {
                                        style: "aspect-ratio: 6 / 5;",
                                      },
                                    }}
                                    src={
                                      STRAPI_URL +
                                      featured_blob.data.attributes.url
                                    }
                                  />
                                </div>

                                <div class="kindness-cause-img-container block md:hidden">
                                  <Picture
                                    layout="fullWidth"
                                    sizes="(min-width: 640px) 320px, 90vw)"
                                    alt={
                                      featured_blob.data.attributes
                                        .alternativeText
                                    }
                                    attributes={{
                                      img: {
                                        style: "aspect-ratio: 6 / 5;",
                                      },
                                    }}
                                    src={
                                      STRAPI_URL +
                                      featured_blob.data.attributes.url
                                    }
                                  />
                                </div>
                              </div>

                              <div
                                class:list={[
                                  "w-full h-full flex flex-col justify-center",
                                  "px-[clamp(15px,calc(4.43vw-13px),32px)] pt-2.5 lg:px-[15px] py-[15px]",
                                ]}
                              >
                                <div
                                  class:list={[
                                    "recoleta font-bold text-primary",
                                    "text-[clamp(18px,calc(0.75vw+13.2px),24px)] leading-[110%]",
                                  ]}
                                >
                                  {cause}
                                </div>
                                <div
                                  class:list={[
                                    "prose max-w-none text-black-light mt-2.5",
                                    "text-[clamp(14px,calc(0.25vw+12.4px),16px)]",
                                  ]}
                                >
                                  {" "}
                                  {description}
                                </div>
                              </div>
                            </div>
                          </div>
                        </label>
                      </div>
                    ),
                  )}
                </div>
              )
            }
          </div>
        </label>

        <label>
          <input type="radio" name="kindness_cause" value="null" />

          <div>
            <h3 class="text-lg font-bold leading-[150%] cursor-pointer">
              {Block2?.Label_let_dilmah_pick_cause}
            </h3>

            <div class="cause-form-txt text-black-light prose max-w-none">
              <Markdown>{Block2?.Let_dilmah_pick_cause_text}</Markdown>
            </div>
          </div>
        </label>
      </form>
    </Fragment>

    <NoOrders slot="noOrdersHTML" {userAccountRecurData} />
  </Dashboard>
</UserAccountLayout>
