---
import { Icon } from "astro-icon";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

import ClipPathSVG from "@components/ClipPathSVG.astro";
import UserAccountLayout from "@layouts/UserAccountLayout.astro";

const { page } = Astro.props,
  {
    Title,
    Block_name_delivery_address,
    Block2_name_billing_address,
    locale,
    countries,
  } = page;

const accountRecurData = CMS.get("userAccountRecurringElement", locale);

const userName = `Sara Jones`;

const {
  Label_tag_text,
  Tag_default_text: tag_default,
  Tag_others_text: tag_others,
  Tag_others_placeholder_text: tag_placeholder_others,
  Address_tag: address_tag,
  Button_add_text,
  Button_edit_text,
  Button_update_text,
  Button_add_new_address_text,
  Button_make_default_text,
  Button_save_text,
  Button_cancel_text,
  Tag_default_text,
  text_saved_Addresses,
  text_more_address,
  text_hide_more_address,
  Input_label_first_name,
  Input_placeholder_first_name,
  Input_label_last_name,
  Input_placeholder_last_name,
  Input_label_country,
  Input_placeholder_country,
  Input_label_city,
  Input_placeholder_city,
  Input_label_street,
  Input_placeholder_street,
  Input_label_postal_code,
  Input_placeholder_postal_code,
  Checkbox_set_default_delivery_address_text,
  Checkbox_set_default_billing_address_text,
  Checkbox_add_delivery_address_text,
  Checkbox_add_billing_address_text,
  text_content,
} = accountRecurData;

const address_primay = address_tag.slice(0, 3),
  address_all = address_tag.slice(3);
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/colors";

  .form-grid-container {
    .tag-button-container {
      input[type="radio"] {
        @apply hidden;
      }

      input[type="radio"] + label {
        @apply border-2 border-secondary-light;
      }

      input[type="radio"]:checked + label {
        @apply border-primary;
      }

      label,
      #others-tag-button {
        @apply py-2.5 md:py-[14px] px-4 text-sm font-medium leading-[150%]
          text-black-light bg-secondary-light rounded-full cursor-pointer;
      }
    }

    .other_tag input {
      @apply focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none;
      @apply h-12 bg-secondary-light py-3 px-4 border border-primary rounded-full text-black-light sm:text-[1.125rem];
    }
  }
</style>

<ClipPathSVG
  id="orders-curve"
  path="M0.517,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 S0.002,0.495,0.018,0.737 S0.182,1,0.528,1 c0.286,0,0.375,-0.063,0.447,-0.282 c0.031,-0.094,0.047,-0.323,-0.029,-0.591 C0.898,-0.045,0.734,0.008,0.517,0.008"
/>

<UserAccountLayout page={page}>
  <Fragment>
    <h2
      id={`#` + Title.toLowerCase().replaceAll(" ", "-")}
      class="dashboard-sec-title recoleta"
    >
      {Title}
    </h2>

    <div class="dashboard-sec">
      <div class="grid division-gap">
        <div class="recoleta text-h4 font-bold text-primary">
          {Block_name_delivery_address}
        </div>

        <!-- Please add notification here
          <DashboardNotification recurringImages={recurringImages} /> -->

        <div class="grid division-in-gap">
          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div class="info-tag-button-primary">
                {Tag_default_text}
              </div>
              <div>&#x2022;</div>
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <a href={`#`} class="button-link-primary-big">
                {
                  /*if there is no single address then we will show add
                  {Button_add_text}*/
                }

                {/*if there is default address set then we will show update*/}
                {Button_edit_text}
              </a>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>
        </div>

        <div class="flex flex-wrap items-center justify-between w-full">
          <div class="recoleta text-h5 font-bold text-black">
            {text_saved_Addresses}
          </div>

          <a href={`#`} class="button-primary">
            <Icon name="akar-icons:plus" class="w-[18px] select-none" />
            {Button_add_new_address_text}
          </a>
        </div>

        <div class="grid division-in-gap">
          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button-link-error-dark-big">
                  <Icon name="mdi:trash-can-outline" class="w-6" />
                </div>
              </div>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>

          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button">
                  <Icon
                    name="mdi:trash-can-outline"
                    class="w-6 text-error-dark"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>

          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button">
                  <Icon
                    name="mdi:trash-can-outline"
                    class="w-6 text-error-dark"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        {
          address_tag.length > 3 && (
            <div class="w-full flex justify-center">
              <div id="toggle-more-address">
                <div
                  id="show-more-address"
                  class="horizontal-toggle-button-primary"
                >
                  <span>
                    {text_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3,
                    )}
                  </span>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 14 8"
                    class="toggle-button-arrow fill-primary"
                  >
                    <path d="M.3.3A1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7,5.5,12.2.3A1.1,1.1,0,0,1,13,0a.9.9,0,0,1,.7.3A.9.9,0,0,1,14,1a1.1,1.1,0,0,1-.3.8L7.8,7.7A1.1,1.1,0,0,1,7,8a.9.9,0,0,1-.7-.3L.3,1.8A1.1,1.1,0,0,1,0,1,.9.9,0,0,1,.3.3Z" />
                  </svg>
                </div>

                <div
                  id="hide-more-address"
                  class="horizontal-toggle-button-primary hidden"
                >
                  <span>
                    {text_hide_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3,
                    )}
                  </span>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 14 8"
                    class="toggle-button-arrow fill-primary"
                  >
                    <path d="M13.7,7.7a1.1,1.1,0,0,1-.8.3.9.9,0,0,1-.7-.3L7,2.5,1.8,7.7A1.1,1.1,0,0,1,1,8a.9.9,0,0,1-.7-.3A.9.9,0,0,1,0,7a1.1,1.1,0,0,1,.3-.8L6.2.3A1.1,1.1,0,0,1,7,0a.9.9,0,0,1,.7.3l6,5.9A1.1,1.1,0,0,1,14,7,.9.9,0,0,1,13.7,7.7Z" />
                  </svg>
                </div>
              </div>
            </div>
          )
        }
      </div>
    </div>

    <div class="dashboard-sec">
      <div class="grid division-gap">
        <div class="recoleta text-h4 font-bold text-primary">
          {Block2_name_billing_address}
        </div>

        <!-- Please add notification here
          <DashboardNotification recurringImages={recurringImages} /> -->

        <div class="grid division-in-gap">
          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div class="info-tag-button-primary">
                {Tag_default_text}
              </div>
              <div>&#x2022;</div>
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <a href={`#`} class="button-link-primary-big">
                {
                  /*if there is no single address then we will show add
                  {Button_add_text}*/
                }

                {/*if there is default address set then we will show update*/}
                {Button_edit_text}
              </a>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>
        </div>

        <div class="flex flex-wrap items-center justify-between w-full">
          <div class="recoleta text-h5 font-bold text-black">
            {text_saved_Addresses}
          </div>

          <a href={`#`} class="button-primary">
            <Icon name="akar-icons:plus" class="w-[18px] select-none" />
            {Button_add_new_address_text}
          </a>
        </div>

        <div class="grid division-in-gap">
          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button-link-error-dark-big">
                  <Icon name="mdi:trash-can-outline" class="w-6" />
                </div>
              </div>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>

          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button">
                  <Icon
                    name="mdi:trash-can-outline"
                    class="w-6 text-error-dark"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="h-px bg-primary-light"></div>

          <div class="grid division-in-element-gap">
            <div class="quick-info">
              <div>{userName}</div>
              <div>&#x2022;</div>
              <div class="info-tag-button">Home</div>
            </div>

            <div
              class="flex flex-wrap items-center division-in-element-gap justify-between"
            >
              <div class="input-text-large-static">456B, Oakwoods, Germany</div>

              <div class="flex division-gap">
                <button class="button-link-primary-big">
                  {Button_make_default_text}
                </button>

                <button class="button-link-primary-big">
                  {Button_edit_text}
                </button>

                <div class="button">
                  <Icon
                    name="mdi:trash-can-outline"
                    class="w-6 text-error-dark"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        {
          address_tag.length > 3 && (
            <div class="w-full flex justify-center">
              <div id="toggle-more-address">
                <div
                  id="show-more-address"
                  class="horizontal-toggle-button-primary"
                >
                  <span>
                    {text_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3,
                    )}
                  </span>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 14 8"
                    class="toggle-button-arrow fill-primary"
                  >
                    <path d="M.3.3A1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7,5.5,12.2.3A1.1,1.1,0,0,1,13,0a.9.9,0,0,1,.7.3A.9.9,0,0,1,14,1a1.1,1.1,0,0,1-.3.8L7.8,7.7A1.1,1.1,0,0,1,7,8a.9.9,0,0,1-.7-.3L.3,1.8A1.1,1.1,0,0,1,0,1,.9.9,0,0,1,.3.3Z" />
                  </svg>
                </div>

                <div
                  id="hide-more-address"
                  class="horizontal-toggle-button-primary hidden"
                >
                  <span>
                    {text_hide_more_address.replaceAll(
                      "<number>",
                      address_tag.length - 3,
                    )}
                  </span>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 14 8"
                    class="toggle-button-arrow fill-primary"
                  >
                    <path d="M13.7,7.7a1.1,1.1,0,0,1-.8.3.9.9,0,0,1-.7-.3L7,2.5,1.8,7.7A1.1,1.1,0,0,1,1,8a.9.9,0,0,1-.7-.3A.9.9,0,0,1,0,7a1.1,1.1,0,0,1,.3-.8L6.2.3A1.1,1.1,0,0,1,7,0a.9.9,0,0,1,.7.3l6,5.9A1.1,1.1,0,0,1,14,7,.9.9,0,0,1,13.7,7.7Z" />
                  </svg>
                </div>
              </div>
            </div>
          )
        }
      </div>
    </div>
  </Fragment>
</UserAccountLayout>

<script is:inline>
  const query = document.querySelector.bind(document),
    newAddress = query("#new-address"),
    moreAddress = query("#more-address"),
    quitOthers = query("#quit-others"),
    othersTagButton = query("#others-tag-button"),
    showMoreAddress = query("#show-more-address"),
    hideMoreAddress = query("#hide-more-address"),
    toggleMoreAddress = query("#toggle-more-address"),
    addressOpenButton = query("#new-address-open-btn"),
    addressCloseButton = query("#new-address-close-btn");

  function addressToggle() {
    newAddress.style.display = "block";
    addressOpenButton.style.display = "none";
  }

  addressOpenButton?.addEventListener("click", () => {
    newAddress.style.display = "block";
    addressOpenButton.style.display = "none";
  });

  addressCloseButton?.addEventListener("click", () => {
    newAddress.style.display = "none";
    addressOpenButton.style.display = "flex";
  });

  toggleMoreAddress?.addEventListener("click", () => {
    if (moreAddress.style.display === "block") {
      moreAddress.style.display = "none";
      showMoreAddress.style.display = "flex";
      hideMoreAddress.style.display = "none";
    } else {
      moreAddress.style.display = "block";
      showMoreAddress.style.display = "none";
      hideMoreAddress.style.display = "flex";
    }
  });

  othersTagButton?.addEventListener("click", () => {
    othersTagButton.style.display = "none";
    othersTagButton.previousElementSibling.style.display = "none";
    othersTagButton.nextElementSibling.style.display = "block";
  });

  quitOthers?.addEventListener("click", () => {
    othersTagButton.style.display = "block";
    othersTagButton.previousElementSibling.style.display = "flex";
    othersTagButton.nextElementSibling.style.display = "none";
  });
</script>
