---
// Style Imports
import '../styles/global.css';
import '../styles/styles.css';
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Footer from '../components/Footer.astro';

const GqlQuery = `
query ($skipnoindex: Boolean! = true, $skipnofollow: Boolean! = true) {
  	crowdfundingHome{
        data{
            id
            attributes{
            	Intro_blob{
                    data{
                        id
                        attributes{
                            url
                        }
                    }
                }
                Meta{
 		        	HTML_Title
                    Meta_description
                    noindex @skip(if: $skipnoindex)
                    nofollow @skip(if: $skipnofollow)
                }
            }
        }
    }
}`
const url = `${import.meta.env.Assets_URL}`;
const response = await fetch(`${import.meta.env.DB_URL}`,
	{
	    method:'POST',
	    headers: {
	    	'Content-Type':'application/json',
	    	'Authorization': `Bearer ${import.meta.env.ACCESS_TOKEN}`
	    },
	    body: JSON.stringify({
	      query: GqlQuery,
	    })
	});

const data = await response.json();
const title = data.data.crowdfundingHome.data.attributes.Meta.HTML_Title;
const description = data.data.crowdfundingHome.data.attributes.Meta.Meta_description;
const noindex = data.data.crowdfundingHome.data.attributes.Meta.noindex;
const nofollow = data.data.crowdfundingHome.data.attributes.Meta.nofollow;
const image = data.data.crowdfundingHome.data.attributes.Intro_blob.data.attributes.url;
const canonicalURL = Astro.canonicalURL

var noIndex = '';
if (noindex === true) {noIndex = "noindex"};
var noFollow = '';
if (nofollow === true) {noFollow = "nofollow"};

---
<html lang="en">
<head>
	<MainHead {title} {description} {noIndex} {noFollow} {image} {canonicalURL} />
</head>
<body>
	<div class="overflow-hidden">
		<Navbar />
		<main>
			<Home />
		</main>
		<Footer />
	</div>

	<script>
	document.addEventListener('DOMContentLoaded', function() {
	    document.getElementById("langBtn").addEventListener("click", function() { 
	    	var x = document.getElementById("dropdownMenu");
			var y = document.getElementById("dropdown");
			if (x.style.display == "block") {
				x.style.display = "none";
			    y.style.borderRadius ="20px";
			} else {
			    x.style.display = "block";
			    y.style.borderRadius ="20px 20px 0 0";
			}
	    }, false);
	});
	</script>
</body>
</html>
