---
// Component Imports
import HeaderBG from '/images/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.webp';
import CupIcon from '/images/cup.svg';
import LoveIcon from '/images/love.svg';
import TwitterIcon from '/images/twitter.svg';
import FacebookIcon from '/images/facebook.svg';
import LinkIcon from '/images/link.svg';

import { Markdown } from 'astro/components';

const url = `${import.meta.env.CloudImg_URL}`;
const { page } = Astro.props
---

<!-- Hero Section -->
<div class="hero sm:overflow-hidden relative">
	<!-- Background -->
	<div class=" w-full absolute bottom-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1056.7 660.3" class="heroCurve1">
            <defs>
                <clipPath id="heroImgFrame">
                    <path class="path" d="M1056.7,0V619.7c-31,16.2-92.5,40.6-182,40.6H855.8c-24.8,0-49-.9-72.9-2.4-32.8-1.6-65.2-3.8-98-6-65.8-4.4-133.1-9-208.2-9-79.4,0-147.5,5.1-210.1,9.8-53,3.9-102.1,7.6-150.7,7.6h-13C9.3,657.9,0,631.4,0,631.4V0Z"/>
                </clipPath>
            </defs>
            <image class="w-auto h-full" height="100%" width="100%" href={HeaderBG} clip-path="url(#heroImgFrame)"></image>
        </svg>
    </div>

    <!-- Text content -->
    <div class="relative z-30 flex flex-wrap justify-center h-full wrapper HeroTxtContainer">
        <div class="w-full md:w-9/12 lg:w-7/12 text-center justify-center HeroTxtContent" role="banner">
            <div>
                <div class="hidden sm:block mx-auto basicHeroIcon">
                    <img class="w-full h-full" src={CupIcon} alt="love-icon" />
                </div>
                <div class="block sm:hidden mx-auto basicHeroIcon">
                    <img class="w-full h-full" src={LoveIcon} alt="love-icon" />
                </div>

                <h1 class="BasicHeroTitle">{page.Title}</h1>
                <div class="pt-7 mt-0.5 prose max-w-none BasicHeroTxt">
                    <Markdown>{page.Intro_text}</Markdown>
                </div>

	    		<div class="inline-flex flex-wrap basicIconsContainer hidden">
	    			<div class="basicIcons">
	    				<img class="w-full h-full" src={TwitterIcon} alt="love-icon" />
	    			</div>
	    			<div class="basicIcons">
	    				<img class="w-full h-full" src={FacebookIcon} alt="love-icon" />
	    			</div>
	    			<div class="basicIcons">
	    				<img class="w-full h-full" src={LinkIcon} alt="love-icon" />
	    			</div>
	    		</div>
            </div>
        </div>
    </div>
</div>

<!-- Information Section -->
<div class="basicInfoSec overflow-hidden relative">

	<!-- Blob Image  Desktop view-->
	<div class="hidden sm:block absolute left-0 z-20 w-full sm:w-1/2 h-full items-center">
		<div class="w-auto h-full basicInfoSec_Curve1">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 922.6 696.3" class="w-auto h-full">
				<defs>
			        <clipPath id="basicInfoSec_ImgFrame1">
			            <path d="M922.6,181.8v6.3c-.6,41.3-13.9,83.3-27.1,121.9-6.8,19.9-13.6,38.8-18.6,56.3-23.2,82.6-45.4,185.4-113.2,273.9h0l-5.1,6.5c-19.3,24.2-65.9,38.6-124.1,45.3-30.7,3.5-64.6,4.8-99.4,4.1-139.9,2.6-285.7-23.9-387.7-81.4C103,589.8,67,559,43.1,522.3h0a296.7,296.7,0,0,1-26.6-61.6h0C-16.6,353.5-.3,215,69.6,110.1,134.7,12.5,218.2-3,316.1.4c21.6.8,43.1,1.2,64.6.9,15.3-.2,32.3-.2,44.1.2,26.5.9,53.5,2.3,81.5,3l30,.2c48.6,0,101.8-3.7,153.8-.8,37.6,2.2,74.5,7.7,108.7,20.6q7.2,2.8,14.4,6a213.5,213.5,0,0,1,63.7,43.8C910.1,107.2,921.9,144.2,922.6,181.8Z"/>
			        </clipPath>
				</defs>
			    <image class="hidden lg:block  w-auto h-full" height="100%" width="100%" href={url + page.Block_blob.data.attributes.provider_metadata.public_id + `/cms`} clip-path="url(#basicInfoSec_ImgFrame1)"></image>
			    <image class="block lg:hidden w-auto h-full" height="100%" width="100%" x="20%" href={url + page.Block_blob.data.attributes.provider_metadata.public_id + `/cms`} clip-path="url(#basicInfoSec_ImgFrame1)"></image>
			</svg>
		</div>
	</div>

	<!-- Text content -->
    <div class="h-full wrapper z-30 basicInfoSecContentContainer">
    	<div class="w-full h-full justify-end flex flex-wrap">
	    	<div class="w-full sm:w-1/2 h-full flex sm:items-center basicInfoSecContent" role="complementary">
	    		<div class="relative">
	    			<h2 class="header-default basicHeader color-default">{page.Block_text}</h2>
		    		<div class="pt-0.5 mt-7 prose max-w-none basicInfoSecTxt">
		    			<Markdown>{page.Intro_text}</Markdown>
		    		</div>
	    		</div>
	    	</div>
    	</div>
    </div>
</div>

<!-- Blob Image  Mobile view-->
<div class="block sm:hidden w-full">
	<div class="w-screen basicInfoSec_Curve">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 287" class="h-full w-full">
		    <defs>
		        <clipPath id="basicInfoSec_ImgFrame2">
		        	<path d="M269.3,0C319.7,0,351.8,6.1,375,18.4V278.5c-16.8,13-73.1,1.7-121.5,0-55.8-2.1-113,8.5-168.9,8.5C35.1,287,0,273.7,0,273.7V18.4c22.1-17.3,88.8,0,120,0S218.8,0,269.3,0Z"/>
		        </clipPath>
		    </defs>
		    <image class="w-auto h-full" height="100%" width="100%" href={url + page.Block_blob.data.attributes.provider_metadata.public_id + `/small`} clip-path="url(#basicInfoSec_ImgFrame2)"></image>
		</svg>
	</div>
</div>

<div class="separatorSm"></div>