---
import '../styles/global.css';
import '../styles/styles.css';

import HeaderBG from '/images/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.webp';
import CupIcon from '/images/cup.svg';
import CupIconG from '/images/cupLightgreen.svg';
import LoveIcon from '/images/love.svg';
import FlowerIconG from '/images/flowerLightgreen.svg';
import MainHead from './MainHead.astro';
import Navbar from './Navbar.astro';
import Footer from '../components/Footer.astro';
import { Markdown } from 'astro/components';

const GqlQuery = `
query ($skipnoindex: Boolean! = true, $skipnofollow: Boolean! = true){
    crowdfundingForm{
        data{
            id
            attributes{
                Title
                Intro_text
                Meta{
                    HTML_Title
                    Meta_description
                    noindex @skip(if: $skipnoindex)
                    nofollow @skip(if: $skipnofollow)
                }
            }
        }
    }
}`;


const response = await fetch(`${import.meta.env.DB_URL}`,
    {
        method:'POST',
        headers: {
            'Content-Type':'application/json',
            'Authorization': `Bearer ${import.meta.env.ACCESS_TOKEN}`
        },
        body: JSON.stringify({
          query: GqlQuery,
        })
    });

const url = `${import.meta.env.Assets_URL}`;
const data = await response.json();
const parseData = data.data.crowdfundingForm.data.attributes;

const title = data.data.crowdfundingForm.data.attributes.Meta.HTML_Title;
const description = data.data.crowdfundingForm.data.attributes.Meta.Meta_description;
const noindex = data.data.crowdfundingForm.data.attributes.Meta.noindex;
const nofollow = data.data.crowdfundingForm.data.attributes.Meta.nofollow;
const canonicalURL = Astro.canonicalURL;

var noIndex = '';
if (noindex === true) {noIndex = "noindex"};
var noFollow = '';
if (nofollow === true) {noFollow = "nofollow"};

---
<html lang="en">
<head>
    <MainHead {title} {description} {noIndex} {noFollow} {canonicalURL} />
</head>
<body>
    <div class="overflow-hidden">
        <Navbar />
        <main>
            <div class="hero sm:overflow-hidden relative">
                <div class=" w-full absolute bottom-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 672.7" class="heroCurve1">
                        <defs>
                            <clipPath id="heroImgFrame">
                                <path class="path" d="M0,377.7V0H1080V590.9s-71.3,81.8-205.3,81.8c-65.5,0-126.9-6.2-189.8-12.6-65.8-6.6-133.1-13.4-208.2-13.4-79.4,0-147.5,7.6-210.1,14.6-53,5.9-102.1,11.4-150.7,11.4C10.1,672.7,0,629.5,0,629.5Z"/>
                            </clipPath>
                        </defs>
                        <image class="h-full sm:h-full w-auto sm:w-screen" height="" width="" xlink:href={HeaderBG} clip-path="url(#heroImgFrame)"></image>
                    </svg>
                </div>

                <div class="relative z-30 sm:flex sm:flex-wrap sm:justify-center h-full wrapper HeroTxtContainer">
                    <div class="w-full md:w-9/12 lg:w-7/12 text-center HeroTxtContent" role="banner">
                        <div>
                            <div class="hidden sm:block mx-auto formHeroCupIcon">
                                <img class="w-full h-full color-default" src={CupIcon} alt="love-icon" />
                            </div>
                            <div class="block sm:hidden mx-auto heroLoveIcon">
                                <img class="w-full h-full" src={LoveIcon} alt="love-icon" />
                            </div>

                            <h1 class="heroTitle">{parseData.Title}</h1>
                            <div class="pt-7 mt-0.5 prose max-w-none heroTxt">
                                <Markdown>{parseData.Intro_text}</Markdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper formSec">
                <div class="formContainer" role="main">
                    <form action="https://baserow-form-handler.dilmah.workers.dev" method="POST">
                        <div class="formGrid1Container">
                            <div class="inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7 pb-0.5">
                                <h2 class="header-default color-default">Basic info</h2>
                                <img class="formSecHeaderIcon" src={CupIconG} alt="tea-leaf-icon" />
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-2 formGrid">
                                <div class="formInputContainer">
                                    <label for="first_name">First Name</label>
                                    <input type="text" id="first_name" name="first_name" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="First name" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" id="last_name" name="last_name" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Last name" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="email">Email Address</label>
                                    <input type="email" id="email" name="email" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Enter your email address" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="favorite_tea">Favourite Tea</label>
                                    <input type="text" id="favorite_tea" name="favorite_tea" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Black Tea" />
                                </div>
                            </div>
                        </div>
                            
                        <div class="formGrid2Container">
                            <div class="inline-flex items-center gap-x-2 sm:gap-x-3.5 md:gap-x-7">
                                <h3 class="header-default color-default">Billing details</h3>
                                <img class="formSecHeaderIcon" src={FlowerIconG} alt="tea-leaf-icon" />
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-2 formGrid">
                                <div class="formInputContainer">
                                    <label for="country">Country</label>
                                    <select id="country" name="country" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" required >
                                        <option value="" disabled selected>Select or type your country</option>
                                        <option value="Netherlands">Netherlands</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="India">India</option>
                                        <option value="srilanka">srilanka</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Indonesia">Indonesia</option>
                                    </select>
                                </div>

                                <div class="formInputContainer">
                                    <label for="street">Street</label>
                                    <input type="text" id="street" name="street" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Enter your street address" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="city">City</label>
                                    <input type="text" id="city" name="city" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Enter your city address" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="postal_code">Postal Code</label>
                                    <input type="text" id="postal_code" name="postal_code" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Enter your postal code" />
                                </div>

                                <div class="formInputContainer">
                                    <label for="perk">Perk</label>
                                    <input type="text" id="perk" name="perk" class="block w-full px-4 py-3.5 mt-2.5 text-lg focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none focus:ring formInput" placeholder="Enter your perk" />
                                </div>
                            </div>

                            <slot />
                        </div>

                        <div class="flex justify-end mt-6">
                            <input type="submit" class="cursor-pointer formBtn" value="Pay" />
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <Footer/>
    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("langBtn").addEventListener("click", function() { 
        var x = document.getElementById("dropdownMenu");
        var y = document.getElementById("dropdown");
        if (x.style.display == "block") {
            x.style.display = "none";
            y.style.borderRadius ="20px";
        } else {
            x.style.display = "block";
            y.style.borderRadius ="20px 20px 0 0";
        }
    }, false);
});
</script>
</body>
</html>