---
import { parseHTML } from "linkedom";
import { Picture } from "astro-imagetools/components";
import Markdown from "@astrojs/markdown-component";

import renderMarkdown from "@utils/renderMarkdown";

const { page } = Astro.props;

const infoBlocksHTML = await renderMarkdown(page.Block3);

const { document: infoBlocksDocument } = await parseHTML(infoBlocksHTML),
  titles = [...infoBlocksDocument.querySelectorAll("h2")];
---

<style lang="scss">
  .info-block-image-container {
    aspect-ratio: 6 / 5;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
  }

  .info-block-title {
    font-size: clamp(1.75rem, 3.5vw + 0.01rem, 3rem);
  }

  .info-block-text {
    font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
    line-height: 150%;
  }
</style>

<section
  role="list"
  class="flex flex-wrap items-center gap-y-20 py-20 py-[50px] lg:py-[75px]"
>
  {
    titles.map((title, index) => {
      const isEven = index % 2 === 0,
        { textContent: titleText } = title,
        { textContent } = title.nextElementSibling,
        { src: imgSrc, alt: imgAlt = "" } = title.nextElementSibling
          .lastElementChild as HTMLImageElement;

      return (
        <div
          role="listitem"
          aria-label={page.Block3_aria_label_text}
          class="flex flex-wrap items-center"
        >
          <div
            class:list={[
              "relative w-full sm:w-1/2 order-1 mb-[25px] sm:mb-0",
              isEven
                ? "pr-0 sm:pr-5 md:pr-12"
                : "sm:order-2 pl-0 sm:pl-5 md:pl-12",
            ]}
          >
            <div
              class:list={[
                "info-block-image-container",
                isEven ? "mr-auto" : "ml-auto",
              ]}
            >
              <Picture
                src={imgSrc}
                alt={imgAlt}
                layout="fill"
                sizes={[
                  "(min-width: 768px) min(600px, calc(50vw - min(100px, 5vw) - 48px))",
                  "(min-width: 640px) min(600px, calc(45vw - 20px))",
                  "90vw",
                ].join(", ")}
                attributes={{
                  picture: {
                    style: "clip-path: url(#estate-img-curve);",
                  },
                }}
              />
            </div>
          </div>

          {/* Text content */}
          <div
            class:list={[
              "order-2 w-full sm:w-1/2",
              isEven ? "pr-0 sm:pr-5" : "sm:order-1 pl-0 sm:pl-5",
            ]}
          >
            <h2 class="info-block-title alice leading-[115% sm:leading-[120%] text-dark2">
              {titleText}
            </h2>

            <div class="info-block-text text-dark block pt-[15px] prose max-w-none">
              <Markdown>{textContent}</Markdown>
            </div>
          </div>
        </div>
      );
    })
  }
</section>
