---
import UKImg from "/images/UK.svg";
import GerImg from "/images/germany.svg";
import NLImg from "/images/netherlands.svg";

const { locale, localLangNames, langEnglishName } = Astro.props;
---

<style>
  .lang-selector {
    font-family: Roboto;
    font-weight: 700;
    width: 100%;
  }
</style>

<li class="block">
  <button
    lang={locale}
    style="cursor: pointer;"
    class:list={[
      locale,
      "lang-selector hover:bg-gray-300 flex flex-wrap gap-x-1.5 md:gap-x-3 items-center dropdownItem",
    ]}
  >
    <!-- <div class="langIcon rounded-full overflow-hidden">
        <img
          src={lang == 'en' ? UKImg : lang == 'nl' ? NLImg : GerImg}
          class="w-full h-full object-cover"
          alt="brand-logo"
        />
      </div> -->

    <span class="lang">
      <span class="en hidden">{localLangNames.English}</span><span class="nl hidden"
        >{localLangNames.Dutch}
      </span><span class="de hidden">{localLangNames.German}</span><span class="es hidden"
        >{localLangNames.Spanish}
      </span> / {langEnglishName}
    </span>
  </button>
</li>
