---
import getLocalesData from "@utils/getLocalesData";

const { docLocale, availableLocales } = Astro.props,
  { locales, languages, localeNamesData } = getLocalesData(),
  docLang = languages[locales.indexOf(docLocale)],
  availableLanguages = [];

// get available alternate locales
locales.forEach((locale, index) => {
  if (locale !== docLocale && [...availableLocales].includes(locale)) {
    availableLanguages.push(languages[index]);
  }
});

// get local names of available languages
const localizedAvailableLanguages = availableLanguages.map(
  (language) => localeNamesData[docLang][language]
);

const langSelectorsData = localizedAvailableLanguages.map(
  (localizedLanguage, i) => {
    const language = availableLanguages[i],
      lang = locales[languages.indexOf(language)],
      localLanguageName = localeNamesData[language][language];

    return {
      lang,
      localizedLanguage,
      localLanguageName,
    };
  }
);

// sort lang selectors alphabetically
langSelectorsData.sort(
  (
    { localizedLanguage: nextLanguage },
    { localizedLanguage: currentLanguage }
  ) => nextLanguage.localeCompare(currentLanguage, "en-US")
);
---

<style lang="scss">
  #lang-selector-dropdown {
    #lang-selector-button {
      border-radius: 25px;
    }

    #lang-selector-dropdown-menu {
      border-radius: 0 0 25px 25px;
    }

    &.dropdown-open {
      #lang-selector-button {
        border-radius: 25px 25px 0 0;
      }

      #lang-selector-dropdown-menu {
        display: block;
      }
    }
  }
</style>

<div
  id="lang-selector-dropdown"
  class:list={[
    "relative font-bold text-primary text-sm lg:text-base select-none",
    "scale-[0.775] sm:scale-[0.85] md:scale-[0.925] lg:scale-[1]",
    "mx-[calc(-88px*0.225)] sm:mx-[calc(-88px*0.15)] md:mx-[calc(-88px*0.075)] lg:mx-0",
  ]}
>
  <div
    role="button"
    id="lang-selector-button"
    class:list={[
      "flex items-center justify-between gap-x-1.5 md:gap-x-3",
      "p-3.5 w-44 max-w-[40vw] font-bold bg-lightgray cursor-pointer focus:outline-none",
    ]}
  >
    <div class="font-bold">{docLang}</div>

    <svg class="w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.6 6.7">
      <path
        d="M.3.3A.6.6,0,0,1,.9,0a.9.9,0,0,1,.6.3L5.8,4.6,10.2.3a.6.6,0,0,1,.6-.3l.6.3a.8.8,0,0,1,.2.6.7.7,0,0,1-.2.6l-5,4.9a.6.6,0,0,1-.6.3.9.9,0,0,1-.6-.3L.3,1.5A.9.9,0,0,1,0,.9.6.6,0,0,1,.3.3Z"
        fill="#2B4B50"></path>
    </svg>
  </div>

  <ul
    id="lang-selector-dropdown-menu"
    class="absolute hidden overflow-hidden w-full font-bold rounded border-t border-solid border-primary"
  >
    {
      langSelectorsData.map(
        ({ lang, localizedLanguage, localLanguageName }) => (
          <li class="block">
            <button
              lang={lang}
              class:list={[
                lang,
                "lang-selector text-primary bg-lightgray w-full",
                "flex flex-wrap items-center gap-x-1.5 md:gap-x-3 p-4 hover:bg-gray-300 cursor-pointer",
              ]}
            >
              {localizedLanguage} / {localLanguageName}
            </button>
          </li>
        )
      )
    }
  </ul>
</div>

<script>
  const dropdown = document.querySelector("#lang-selector-dropdown");

  // toggle language selectors dropdown
  document.addEventListener("click", ({ target }) => {
    // @ts-ignore
    dropdown?.classList[dropdown.contains(target) ? "toggle" : "remove"](
      "dropdown-open"
    );
  });

  document.querySelectorAll(".lang-selector").forEach((langSelector) => {
    // change & redirect to preferred locale
    langSelector.addEventListener("click", () => {
      // @ts-ignore
      const { lang: newLocale } = langSelector;

      localStorage.setItem(`locale`, newLocale);

      const localeRegex = new RegExp(
        // @ts-ignore
        `^/(${availableLocales.map((locale) => locale).join("|")})/`
        /* availableLocales is defined in SetPreferredLocale.astro (Layout.astro for 404) */
      );

      let [, locale] = location.pathname.match(localeRegex) ?? [];

      location.href =
        `/${newLocale}/` + location.pathname.slice(locale ? 4 : 0);
    });
  });
</script>
