---
export interface Props {
  title: string;
  description: string;
  noIndex: string;
  noFollow: string;
  image?: string;
  locale: string;
  canonicalURL?: string | URL;
  slugURL: string | URL;
  availableLocales: (string | null)[]
}
const { title, description, noIndex, noFollow, image, locale, canonicalURL, slugURL, availableLocales } = Astro.props as Props;
const url = `${import.meta.env.CloudImg_URL}`;
const domain = Astro.canonicalURL.origin;
let slugLink: string | URL;
let availableLang: (string | null)[];
let canonicalLink =
  domain + (canonicalURL == "/" ? "" : "/" + canonicalURL) + "/";

if (locale == "en") {
  slugLink = domain + (slugURL == "/" ? "" : "/" + slugURL) + "/";
} else {
  slugLink =
    domain + "/" + locale + (slugURL == "/" ? "" : "/" + slugURL) + "/";
}

// Hreflang available links
if(availableLocales.includes("nl") && availableLocales.includes("de")){  
  availableLang = ["en", "nl", "de"]
}else if(availableLocales.includes("nl")){
  availableLang = ["en", "nl"]
}else if(availableLocales.includes("de")){
  availableLang = ["en", "de"]
}
// Remove current locale
if (availableLang.indexOf(locale, 0) > -1) {
  availableLang.splice(availableLang.indexOf(locale, 0), 1);
}
---
<meta charset="UTF-8" />
<title>{title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta name="description" content={description} />
<meta name="author" content="Dilmah" />
<meta name="robots" content={noIndex} />
<meta name="robots" content={noFollow} />

<!-- Sitemap -->
<!-- <link rel="sitemap" href= /> -->

<!-- RSS -->
<!-- <link rel="alternate" type="application/rss+xml" href="" /> -->

<!-- Favicon -->
<link rel="icon" href="/favicon.svg" />
<!-- SEO -->
<link rel="canonical" href={canonicalLink} />
<link href={slugLink} hreflang={locale} />
{
  availableLang.map((altLocale) =>
    altLocale == "en" ? (
      <link
        rel="alternate"
        href={domain + (slugURL == "/" ? "" : "/" + slugURL) + "/"}
        hreflang={altLocale}
      />
    ) : (
      <link
        rel="alternate"
        href={
          domain + "/" + altLocale + (slugURL == "/" ? "" : "/" + slugURL) + "/"
        }
        hreflang={altLocale}
      />
    )
  )
}

<!-- OpenGraph -->
<meta property="og:locale" content={locale} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={slugLink} />
<meta property="og:site_name" content="Dilmah" />
<meta property="og:image" content={url + image + `/opengraph`} />

<!-- Twitter -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'} />
<meta property="twitter:domain" content="dilmahtea.me" />
<meta property="twitter:url" content={slugLink} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={url + image + `/twittercard`} />

<script defer data-domain="dilmahtea.me" data-api="/rpcq/event" src="/rpcq/script.js"></script>

<!-- OpenReplay Tracking Code -->
<script>
    var initOpts = {
      projectKey: "IjHJ0NTxwL2YHDk9TDnR",
      defaultInputMode: 0,
      obscureTextNumbers: false,
      obscureTextEmails: true,
    };
    var startOpts = { userID: "" };
    (function(A,s,a,y,e,r){
      r=window.OpenReplay=[e,r,y,[s-1, e]];
      s=document.createElement('script');s.src=A;s.async=!a;
      document.getElementsByTagName('head')[0].appendChild(s);
      r.start=function(v){r.push([0])};
      r.stop=function(v){r.push([1])};
      r.setUserID=function(id){r.push([2,id])};
      r.setUserAnonymousID=function(id){r.push([3,id])};
      r.setMetadata=function(k,v){r.push([4,k,v])};
      r.event=function(k,p,i){r.push([5,k,p,i])};
      r.issue=function(k,p){r.push([6,k,p])};
      r.isActive=function(){return false};
      r.getSessionToken=function(){};
    })("//static.openreplay.com/latest/openreplay.js",1,0,initOpts,startOpts);
</script>