---
import CMS from "@store/CMS";
import DynamicHTML from "@components/DynamicHTML.astro";

const { page } = Astro.props,
  { locale } = page,
  checkoutRecurData = CMS.get("checkoutRecurringElement", locale),
  isCheckoutInformation = page.type === "checkoutInformation",
  isCheckoutPayment = page.type === "checkoutPayment",
  isCheckoutShipping = page.type === "checkoutShipping",
  checkoutCartLink = CMS.get("cart", locale).Meta.URL_slug;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/checkout" as *;

  .product-image {
    $fluid-image-size: poly-fluid-clamp(
      (
        375px: 50px,
        1440px: 85px,
      )
    );

    width: $fluid-image-size;
    height: $fluid-image-size;
    min-width: $fluid-image-size;
  }
</style>

<div 
  class:list={[
    "order-summary division-gap text-black flex flex-col",
    "h-full xl:pl-[50px] xl:border-l xl:border-l-primary-light",
  ]}
>
  <div class="flex flex-col gap-5">
    <div class="flex justify-between items-center gap-2.5">
      <h2 class="recoleta text-h3">
        {checkoutRecurData.text_order_summary}
      </h2>

      <a
        href={checkoutCartLink}
        class="text-b4 text-primary font-bold underline underline-offset-2"
      >
        {checkoutRecurData.text_edit_cart}
      </a>
    </div>

    <DynamicHTML
      htmlFn={(content) =>
        Object.keys(window.cart)
          .map((id) => {
            const productData = window.cart[id],
              names = JSON.parse(productData.names),
              name = names[window.preferredLocale] || names["en"],
              price = productData.price.toFixed(2).replace(".", ",");

            return window.replacePlaceholders(content, {
              ...productData,
              name,
              price,
            });
          })
          .join("")}
    >
      <div
        class="product p-4 gap-3.5 flex items-center bg-secondary-light rounded-[10px]"
      >
        <img
          class="product-image"
          src={`<placeholder name="image"></placeholder>`}
          style="clip-path: url(#product-image-curve)"
        />

        <div class="flex flex-col flex-grow gap-2.5">
          <h3 class="product-name recoleta text-h5">
            <placeholder name="name"></placeholder> (<placeholder
              name="quantity"></placeholder>)
          </h3>

          <span class="product-price recoleta text-h5 text-right">
            €<placeholder name="price"></placeholder>
          </span>
        </div>
      </div>
    </DynamicHTML>
  </div>

  <div class="division-in-element-gap flex flex-col text-black-light">
    <div
      class="order-charges division-in-element-gap flex flex-col text-black-light"
    >
      <div
        class:list={[
          "flex justify-between items-center",
          isCheckoutInformation && "font-bold text-black",
        ]}
      >
        <span
          class:list={[
            "order-subtotal",
            isCheckoutInformation ? "text-b2" : "text-b4",
          ]}
        >
          {checkoutRecurData.text_subtotal}
        </span>

        <span
          class:list={[
            "recoleta",
            isCheckoutInformation ? "text-h3" : "text-h5",
          ]}
        >
          €<DynamicHTML htmlFn={() => window.cart.subTotal} />
        </span>
      </div>

      {
        (isCheckoutShipping || isCheckoutPayment) && (
          <div class="flex justify-between items-center">
            <span class="text-b4">{checkoutRecurData.text_shipping}</span>
            <span class="order-shipping-cost recoleta text-h5">
              €<DynamicHTML htmlFn={() => window.cart.shippingCost} />
            </span>
          </div>
        )
      }
    </div>

    {
      (isCheckoutShipping || isCheckoutPayment) && (
        <>
          <div class="w-full h-px bg-primary-light" />

          <div class="flex justify-between items-center text-black">
            <span class="text-b2 font-bold">
              {checkoutRecurData.text_total}
            </span>
            <span class="order-total recoleta text-h3">
              €<DynamicHTML htmlFn={() => window.cart.total} />
            </span>
          </div>

          <div class="flex justify-between items-center">
            <span class="text-b4">{checkoutRecurData.text_tax}</span>
            <span class="order-tax recoleta text-h5">
              €<DynamicHTML htmlFn={() => window.cart.tax} />
            </span>
          </div>
        </>
      )
    }

    {
      isCheckoutInformation && (
        <div class="text-b4">
          {checkoutRecurData.text_shipping_calculated_at_checkout}
        </div>
      )
    }
  </div>
</div>

<!-- <div class="order-charges flex flex-col gap-3">
  <div>
    <span>{checkoutRecurData.text_subtotal}</span>

    <span class="order-subtotal recoleta">
      €<DynamicHTML htmlFn={() => window.cart.subTotal} />
    </span>
  </div>

  <div>
    <span>{checkoutRecurData.text_shipping}</span>

    <span class="order-shipping-cost recoleta">
      €<DynamicHTML htmlFn={() => window.cart.shippingCost} />
    </span>
  </div>
</div> -->
