---
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";
import RecurringImages from "@store/RecurringImages";
import localizeCMSImage from "@utils/localizeCMSImage";

const { allPlans, ariaLabelRecurData } = Astro.props,
  { tick, green_leaf } = RecurringImages;
---

<style lang="scss" define:vars={{ tick: `url("${tick.src}")` }}>
  .plan-card {
    padding: calc(2.5vw + 17.5px);
  }

  .plan-offerings ul {
    padding-left: 0;

    li {
      @apply inline-block pl-0 items-center text-[1.125rem];

      &::before {
        background-image: var(--tick);

        @apply content-[""] inline-block w-[18px] h-[18px] mr-[10px] align-middle;
      }
    }
  }

  .plan-section-leaf {
    filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));
  }
</style>

<div
  role="list"
  aria-label={ariaLabelRecurData.Crowdfunding_plans_text}
  class="w-full grid md:grid-cols-2 xl:grid-cols-3 justify-center gap-6 lg:gap-10"
>
  {
    allPlans.map(async (plan, index) => (
      <div
        role="listitem"
        aria-label={ariaLabelRecurData.Crowdfunding_plan_text + (index + 1)}
        class="plan-card w-full h-auto bg-primary rounded-[45px] lg:rounded-[60px]"
      >
        <div class="inline-flex items-end gap-x-3.5">
          <h3 class="text-xl alice">{plan.Title}</h3>

          <img
            class="h-[35px] max-w-[35px]"
            src={await localizeCMSImage(
              plan.Title_icon?.data?.attributes?.formats?.thumbnail?.url ||
                plan.Title_icon?.data?.attributes?.url
            )}
            alt=""
          />
        </div>

        <div class="alice pb-6 mb-0.5 text-[3.375rem]">
          &#8364;{plan.Price_EUR_excl_VAT}
        </div>

        <div class="text-lg pb-6 mb-0.5">{plan.Intro_text}</div>

        <div class="plan-offerings prose max-w-none mb-5 text-white">
          <Markdown>{plan.List}</Markdown>
        </div>

        <a
          aria-label={`${plan.Title}, ${plan.Button_text}`}
          href={`/plans/${plan.Title.toLowerCase()}`}
          class="inline-block p-4 font-bold text-primary text-center min-w-[140px] bg-secondary rounded-[20px]"
        >
          {plan.Button_text}
        </a>
      </div>
    ))
  }
</div>

<div class="plan-section-leaf hidden xl:inline-block -mt-20 -ml-12">
  <Picture alt="" src={green_leaf.src} sizes="120px" placeholder="blurred" />
</div>
