---
import Markdown from "@astrojs/markdown-component";
import { Picture } from "astro-imagetools/components";

import ClipPathSVG from "@components/ClipPathSVG.astro";

import CMS from "@store/CMS";
import RecurringImages from "@store/RecurringImages";

const { white_right_arrow } = RecurringImages;

const { page, text, posts, heading } = Astro.props,
  { locale } = page,
  { STRAPI_URL } = import.meta.env;

const recurData = CMS.get("recurringElement", locale),
  ariaLabelRecurData = CMS.get("ariaLabelRecurringElement", locale);

const headingName = heading || recurData.text_explore_the_world_of_kindness;
---

<style lang="scss">
  @use "src/styles/colors";

  .related-posts-title {
    font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
  }

  .related-post-card {
    @apply w-full max-w-[380px] sm:max-w-none;
  }

  .related-post-card-content-container {
    padding: clamp(20px, 6.4vw, 40px) clamp(24px, 3.8vw + 11.75px, 36px);

    @media (min-width: 640px) {
      padding: clamp(30px, 7.8125vw - 20px, 60px)
        clamp(28px, 4.6875vw - 2px, 46px);
    }

    @media (min-width: 1024px) {
      padding: clamp(30px, 8vw - 51.75px, 60px) clamp(28px, 4.8vw - 21px, 46px);
    }
  }

  .related-post-card-author {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1rem);
    line-height: 150%;
  }

  .related-post-card-title {
    @apply md:font-bold leading-[130%] md:leading-[120%];

    font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
  }

  .related-post-card-title-icon {
    height: clamp(0.625rem, 1.5vw + 0.1rem, 1rem);
  }
</style>

{
  posts?.length > 0 && (
    <section role="complementary" class="wrapper">
      <h2
        class:list={[
          "related-posts-title recoleta",
          "font-semibold leading-[130%] text-black",
        ]}
      >
        {headingName}
      </h2>

      {text && (
        <div class="prose max-w-none prose-text text-lg leading-[150%] mt-[15px] sm:mt-5">
          <Markdown>{text}</Markdown>
        </div>
      )}

      <ClipPathSVG
        id="related-post-card-curve"
        path="M0.99,0.554 V0.735 c0,0.331,-0.079,0.243,-0.519,0.258 S0.004,1,0.004,0.718 c0,-0.037,0.004,-0.093,0.001,-0.164 C-0.005,0.353,-0.003,0.148,0.042,0.078 C0.102,-0.013,0.358,0.003,0.513,0.003 c0.216,0,0.41,-0.034,0.459,0.141 C1,0.309,0.995,0.441,0.99,0.554"
      />

      <div
        role="list"
        aria-label={ariaLabelRecurData.Kindness_Items_text}
        class:list={[
          "w-full mb-[50px] mx-auto pt-[25px] sm:pt-[30px] grid sm:grid-cols-2",
          "lg:grid-cols-3 gap-8 lg:gap-[clamp(24px,3.125vw-8px,32px)]",
          "justify-items-center sm:justify-items-start",
        ]}
      >
        {posts.slice(0, 3).map((post, index) => (
          <div
            role="listitem"
            aria-label={ariaLabelRecurData.Kindness_Item_text + (index + 1)}
            style="clip-path: url(#related-post-card-curve)"
            class="link-section bg-primary related-post-card"
          >
            <Picture
              layout="fullWidth"
              alt={post.Intro_blob.data.attributes.alternativeText}
              src={STRAPI_URL + post.Intro_blob.data.attributes.url}
              attributes={{ img: { style: "aspect-ratio: 6 / 5;" } }}
              sizes={[
                "(min-width: 1024px) calc((100vw - min(200px, 10vw) - (clamp(24px, 3.125vw - 8px, 32px) * 2)) / 3)",
                "(min-width: 640px) calc(45vw - 16px)",
                "min(90vw, 380px)",
              ].join(", ")}
            />

            <div class="related-post-card-content-container grid content-between text-white">
              <div>
                {post.authors && (
                  <div>
                    <div
                      role="presentation"
                      aria-label={post.authors.data.map(
                        ({ attributes }, i) =>
                          ariaLabelRecurData.Wrote_by_text +
                          (i > 0 ? ", " : " ") +
                          attributes.givenName,
                      )}
                      class="related-post-card-author flex flex-wrap font-bold"
                    >
                      {post.authors.data.map(({ attributes }, index) => (
                        <span>
                          {`${index > 0 ? ", " : " "}` + attributes.givenName}
                        </span>
                      ))}
                    </div>

                    <div class="post-publish-date">
                      {new Date(post.createdAt).toLocaleString("en-US", {
                        day: "numeric",
                        month: "long",
                      })}
                    </div>
                  </div>
                )}

                <div class="related-post-card-title recoleta mt-[15px]">
                  <a
                    class="main-link"
                    set:text={post.Title}
                    href={`/` + post.Meta.URL_slug}
                  />

                  {!page.related_products && (
                    <span class="icon related-post-card-title-icon">
                      <img
                        class="related-post-card-title-icon"
                        {...white_right_arrow}
                      />
                    </span>
                  )}

                  {page.related_products && (
                    <div class="text-base md:text-lg leading-[150%] line-clamp-3 mt-[5px] md:mt-[7px] lg:mt-[15px]">
                      <Markdown>{post.Intro_text}</Markdown>
                    </div>
                  )}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </section>
  )
}
