---
import CMS from "@store/CMS";
import BaseLayout from "@layouts/BaseLayout.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import OrderSummary from "@components/OrderSummary.astro";

import RecurringImages from "@store/RecurringImages";

const { logo, checkout_header_background, checkout_header_background_sm } =
  RecurringImages;

interface Props {
  page: Record<string, any>;
  meta: Record<string, any>;
  locale: string;
  recurData: Record<string, any>;
  metaImageID: string;
  availableLocales: string[];
}

const { page, meta, locale, recurData, availableLocales, metaImageID } =
  Astro.props as Props;

const checkoutStepOrder = page.checkout_step_order,
  checkoutFlowData = CMS.get("checkoutFlow").data.attributes,
  steps = checkoutFlowData.steps.split("\n"),
  shortenedSteps = checkoutFlowData.shortened_steps.split("\n");
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .checkout-flow-container {
    padding: poly-fluid-clamp(
      (
        375px: 24px 24px,
        1440px: 40px 56px,
      )
    );

    > div {
      height: poly-fluid-clamp(
        (
          375px: 38px,
          1440px: 50px,
        )
      );
    }
  }

  .flow {
    > div {
      @apply h-full text-center flex flex-col justify-between items-center;

      span {
        @apply font-medium;

        font-size: poly-fluid-clamp(
          (
            375px: 10px,
            1440px: 16px,
          )
        );
      }

      div {
        @apply w-full rounded-full bg-lightgray2;

        height: poly-fluid-clamp(
          (
            375px: 5px,
            1440px: 8px,
          )
        );
      }
    }
  }

  :global(#checkout h4) {
    @apply font-normal text-primary leading-[110%];

    font-size: poly-fluid-clamp(
      (
        375px: 28px,
        1440px: 32px,
      )
    );
  }

  main > section:first-child {
    @apply w-full lg:w-[66.67%];
  }
</style>

<BaseLayout
  meta={meta}
  locale={locale}
  availableLocales={availableLocales}
  metaImageID={metaImageID}
>
  <script is:inline>
    if (Object.keys(window.cart).length === 0) {
      history.back();
    }
  </script>

  <div id="checkout" class="bg-lightgray">
    <header class="checkout-flow-container relative">
      <ClipPathSVG
        id="checkout-header-curve"
        path="M0,0 L0,0.936 C0,0.936,0.009,1,0.107,1 C0.152,1,0.198,0.992,0.247,0.983 C0.305,0.973,0.368,0.961,0.441,0.961 C0.511,0.961,0.573,0.971,0.634,0.981 C0.692,0.991,0.749,1,0.81,1 C0.934,1,1,0.878,1,0.878 V0 H0"
      />

      <img
        class="absolute top-0 left-0 w-full h-full"
        alt=""
        src={checkout_header_background.src}
        sizes="(min-width: 1440px) 1440px, 100vw"
        srcset={`${checkout_header_background_sm.src} 640w, ${checkout_header_background.src} 1440w`}
        style="clip-path: url(#checkout-header-curve)"
      />

      <div class="relative flex justify-between gap-[5%]">
        <a href="/">
          <img {...logo} class="h-full" />
        </a>

        <div class="flow flex-grow grid grid-cols-3 gap-[3.25%]">
          {
            steps.map((step, i) => {
              const shortenedStep = shortenedSteps[i];

              return (
                <div>
                  {shortenedStep === step ? (
                    <span>{step}</span>
                  ) : (
                    <Fragment>
                      <span class="hidden sm:inline">{step}</span>
                      <span class="inline sm:hidden">{shortenedStep}</span>
                    </Fragment>
                  )}

                  <div
                    class:list={[
                      i + 1 > checkoutStepOrder && "opacity-30",
                      i + 1 === checkoutStepOrder && "opacity-60",
                    ]}
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </header>

    <main id="checkout-main" class="flex">
      <section>
        <slot />
      </section>

      <ClipPathSVG
        id="shipping-product-image"
        path="M0.516,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 C-0.021,0.172,0.002,0.495,0.017,0.736 C0.032,0.978,0.182,1,0.528,1 C0.813,1,0.902,0.936,0.974,0.717 C1,0.624,1,0.395,0.946,0.128 C0.897,-0.045,0.735,0.008,0.516,0.008"
      />

      <section
        class="hidden lg:block lg:w-[36.67%] lg:border lg:border-l-lightgreen"
      >
        <OrderSummary page={page} />
      </section>
    </main>
  </div>
</BaseLayout>
