---
import CMS from "@store/CMS";
import BaseLayout from "@layouts/BaseLayout.astro";
import RecurringImages from "@store/RecurringImages";
import { Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";

const { logo, nav_background, nav_background_sm } = RecurringImages;

interface Props {
  page: Record<string, any>;
  meta: Record<string, any>;
  locale: string;
  recurData: Record<string, any>;
  metaImageSrc: string;
  alternateURLs: { [locale: string]: string };
  isCheckoutKindness: boolean;
}

const { page, meta, locale, alternateURLs, metaImageSrc, isCheckoutKindness } =
  Astro.props as Props;

const checkoutStepOrder = page.checkout_step_order,
  checkoutFlowData = CMS.get("checkoutFlow").data.attributes,
  steps = checkoutFlowData.steps.split("\n"),
  shortenedSteps = checkoutFlowData.shortened_steps.split("\n");
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
  @use "src/styles/checkout" as *;

  .checkout-flow-container {
    padding: poly-fluid-clamp(
      (
        640px: 24px 0px,
        1440px: 36px 0px,
      )
    );
  }

  .flow {
    > div {
      @apply h-full text-center flex flex-col justify-between items-center;

      span,
      h1 {
        font-size: poly-fluid-clamp(
          (
            375px: 10px,
            1440px: 16px,
          )
        );
      }

      div {
        @apply w-full rounded-full;

        height: poly-fluid-clamp(
          (
            375px: 5px,
            1440px: 8px,
          )
        );
      }
    }
  }

  .main-container {
    margin-top: poly-fluid-clamp(
      (
        375px: 83px,
        767px: 92px,
      )
    );

    @apply flex py-[50px] md:mt-0;
  }
</style>

<BaseLayout
  page={page}
  meta={meta}
  locale={locale}
  alternateURLs={alternateURLs}
  metaImageSrc={metaImageSrc}
>
  <script define:vars={{ isCheckoutKindness }}>
    if (!isCheckoutKindness && Object.keys(window.cart).length === 0) {
      history.back();
    }
  </script>

  <div id="checkout" class="bg-secondary">
    <header
      class="checkout-flow-container z-10 fixed md:relative w-full bg-primary"
      style="clip-path: url(#checkout-header-curve);"
    >
      <ClipPathSVG
        id="checkout-header-curve"
        path="M0,0 L0,0.936 C0,0.936,0.009,1,0.107,1 C0.152,1,0.198,0.992,0.247,0.983 C0.305,0.973,0.368,0.961,0.441,0.961 C0.511,0.961,0.573,0.971,0.634,0.981 C0.692,0.991,0.749,1,0.81,1 C0.934,1,1,0.878,1,0.878 V0 H0"
      />

      {
        nav_background && (
          <Picture
            alt=""
            layout="fill"
            preload="avif"
            src={nav_background_sm?.src || nav_background.src}
            artDirectives={[
              {
                media: "(min-width: 640px)",
                breakpoints: { minWidth: 640 },
                src: nav_background.src,
              },
            ]}
            attributes={{
              picture: {
                style: "position: absolute; top: 0; left: 0;",
              },
            }}
          />
        )
      }

      <div class="wrapper relative flex gap-[clamp(15px,calc(2.5vw-1px),35px)]">
        <a href="/" class="h-[clamp(35px,calc(1.40vw+29.72px),50px)]">
          <img {...logo} class="h-full" />
        </a>

        <div
          class="flow flex-grow grid gap-[clamp(5px,calc(2.5vw-11px),25px)] text-white"
          style={`grid-template-columns: ${Array.from({ length: steps.length })
            .map(() => "1fr")
            .join(" ")}`}
        >
          {
            steps.map((step, i) => {
              const shortenedStep = shortenedSteps[i],
                StepTitleTag = i + 1 === checkoutStepOrder ? "h1" : "span";

              return (
                <div>
                  <StepTitleTag
                    class:list={[
                      shortenedStep !== step && "hidden sm:inline",
                      i + 1 === checkoutStepOrder ? "font-bold" : "font-normal",
                    ]}
                  >
                    {step}
                  </StepTitleTag>

                  {shortenedStep !== step && (
                    <StepTitleTag
                      class:list={[
                        "inline sm:hidden",
                        i + 1 === checkoutStepOrder && "font-bold",
                      ]}
                    >
                      {shortenedStep}
                    </StepTitleTag>
                  )}

                  {i + 1 === checkoutStepOrder ? (
                    <div class="grid grid-cols-2 bg-white/30">
                      <div class="bg-white" />
                    </div>
                  ) : i + 1 > checkoutStepOrder ? (
                    <div class="bg-white/30" />
                  ) : (
                    <div class="bg-white" />
                  )}
                </div>
              );
            })
          }
        </div>
      </div>
    </header>

    <ClipPathSVG
      id="product-image-curve"
      path="M0.516,0.008 C0.36,0.008,0.1,-0.008,0.04,0.082 C-0.021,0.172,0.002,0.495,0.017,0.736 C0.032,0.978,0.182,1,0.528,1 C0.813,1,0.902,0.936,0.974,0.717 C1,0.624,1,0.395,0.946,0.128 C0.897,-0.045,0.735,0.008,0.516,0.008"
    />

    <main id="checkout-main" class="wrapper section-gap main-container">
      <slot />
    </main>
  </div>
</BaseLayout>
