---
// Style Imports
import '../styles/global.css';
import '../styles/styles.css';
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Redirect from '../components/Redirect.astro';

/**
 * This file is used as a re-usable component that is the layout
 * It features the head, navbar and footer
 */

interface Props {
	locale: string
	meta: any
	recurData: any
	metaImage: string
	availableLocales: (string | null)[]
}

const { meta, locale, recurData, availableLocales, metaImage } = Astro.props as Props
let { noindex, nofollow } = meta
const title = meta.HTML_Title
const description = meta.Meta_description
const image = metaImage;
const canonicalURL = meta.Canonical_link;
const slugURL = meta.URL_slug


let noIndex = '';
if (noindex === true) { noIndex = "noindex" };
let noFollow = '';
if (nofollow === true) { noFollow = "nofollow" };

---

<html lang={locale}>

<head>
	<MainHead {title} {description} {noIndex} {noFollow} {image} {locale} {canonicalURL} {slugURL} {availableLocales} />
	{(availableLocales.includes(locale) && locale != "en") ?
	<Redirect />: null}
</head>

<body>
	<div>
		<Navbar locale={locale} availableLocales={availableLocales} />
		<main>
			<slot />
		</main>
		<Footer recurData={recurData} />
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Nav Open button
			document.getElementById("sidebarOpen").addEventListener("click", function () {
				var x = document.getElementById("sidebar");
				if (x.style.display === "block") {
					x.style.display = "none";
				}   
				else {
					x.style.display = "block";
				}
			}, false);
			// Nav Close button
			document.getElementById("sidebarClose").addEventListener("click", function () {
				var x = document.getElementById("sidebar");
				if (x.style.display === "block") {
					x.style.display = "none";
				}   
				else {
					x.style.display = "block";
				}
			}, false);
			// Language button toggle
			document.getElementById("langBtn").addEventListener("click", function () {
				var x = document.getElementById("dropdownMenu");
				var y = document.getElementById("langBtn");
				if (x.style.display == "block") {
					x.style.display = "none";
					y.style.borderRadius = "25px";
				} else {
					x.style.display = "block";
					y.style.borderRadius = "25px 25px 0 0";
				}
			}, false);
			// Language button toggle small
			document.getElementById("langBtnSm").addEventListener("click", function () {
				var x = document.getElementById("dropdownMenuSm");
				var y = document.getElementById("langBtnSm");
				if (x.style.display == "block") {
					x.style.display = "none";
					y.style.borderRadius = "25px";
				} else {
					x.style.display = "block";
					y.style.borderRadius = "25px 25px 0 0";
				}
			}, false);
			// Language button event listeners
			// Getting current locale
			const locale = document.documentElement.lang
			// Redirect function
			const redirectPath = (newLocale) => {
				let newPath
				if (newLocale == 'en') {
					newPath = window.location.pathname.replace(/^\/\w{2}/g, '')
					window.location.pathname = newPath
				} else if ((newLocale == "nl" || newLocale == "de") && locale == "en") {
					newPath = `/${newLocale}${window.location.pathname}`
					window.location.pathname = newPath
				} else {
					newPath = `/${newLocale}${window.location.pathname.replace(/^\/\w{2}/g, '')}`
					window.location.pathname = newPath
				}
			}

			document.querySelectorAll(".lang-selector").forEach(langSelector => {
				langSelector.addEventListener("click", () => {
					const locale = langSelector.querySelector('.lang').textContent.toLowerCase()
					localStorage.setItem(`locale`, locale)
					redirectPath(locale)
				})			
			})
		});
	</script>
</body>

</html>