---
// Style Imports
import '../styles/global.css';
import '../styles/styles.css';
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Redirect from '../components/Redirect.astro';

/**
 * This file is used as a re-usable component that is the layout
 * It features the head, navbar and footer
 */

interface Props {
	locale: string
	meta: any
	recurData: any
	metaImage: string
	availableLocales: string[]
}

const { meta, locale, recurData, availableLocales, metaImage } = Astro.props as Props
let { noindex, nofollow } = meta
const title = meta.HTML_Title
const description = meta.Meta_description
const image = metaImage;
const canonicalURL = meta.Canonical_link;
const slugURL = meta.URL_slug

let noIndex = '';
if (noindex === true) { noIndex = "noindex" };
let noFollow = '';
if (nofollow === true) { noFollow = "nofollow" };
---

<html lang={locale}>

<head>
	<Redirect />
	
	<MainHead {title} {description} {noIndex} {noFollow} {image} {locale} {canonicalURL} {slugURL} {availableLocales} />
</head>

<body>
	<div>
		<Navbar locale={locale} availableLocales={availableLocales} />
		<main>
			<slot />
		</main>
		<Footer recurData={recurData} />
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Nav Open button
			document.getElementById("sidebarOpen").addEventListener("click", function () {
				var x = document.getElementById("sidebar");
				if (x.style.display === "block") {
					x.style.display = "none";
				}   
				else {
					x.style.display = "block";
				}
			}, false);

			// Nav Close button
			document.getElementById("sidebarClose").addEventListener("click", function () {
				var x = document.getElementById("sidebar");
				if (x.style.display === "block") {
					x.style.display = "none";
				}   
				else {
					x.style.display = "block";
				}
			}, false);

			// Language button toggle
			document.getElementById("langBtn").addEventListener("click", function () {
				const langBtn = document.getElementById("langBtn"),
					dropdownMenu = document.getElementById("dropdownMenu");

				if (dropdownMenu.style.display == "block") {
					dropdownMenu.style.display = "none";
					langBtn.style.borderRadius = "25px";
				} else {
					dropdownMenu.style.display = "block";
					langBtn.style.borderRadius = "25px 25px 0 0";
				}
			}, false);

			// Language button toggle small
			document.getElementById("langBtnSm").addEventListener("click", function () {
				const langBtn = document.getElementById("langBtnSm"),
					dropdownMenu = document.getElementById("dropdownMenuSm");

				if (dropdownMenu.style.display == "block") {
					dropdownMenu.style.display = "none";
					langBtn.style.borderRadius = "25px";
				} else {
					dropdownMenu.style.display = "block";
					langBtn.style.borderRadius = "25px 25px 0 0";
				}
			}, false);

			// Language button event listeners
			// Getting current locale
			const locale = document.documentElement.lang

			// Redirect function
			const redirectPath = (newLocale) => {
				let newPath

				if (locale == "en") {
					newPath = `/${newLocale}${location.pathname}`
				} else {
					const [, , ...urlParts] = location.pathname.split("/")

					newPath = `/${newLocale === 'en' ? '' : `${newLocale}/`}${urlParts.join('/')}`
				}

				location.pathname = newPath
			}

			document.querySelectorAll(".lang-selector").forEach(langSelector => {
				langSelector.addEventListener("click", () => {
					const { lang: locale } = langSelector.querySelector('.lang')

					localStorage.setItem(`locale`, locale)

					redirectPath(locale)
				})			
			})
		});
	</script>
</body>

</html>