---
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import CartOverlay from "@components/CartOverlay.astro";

interface Props {
  page: Record<string, any>;
  meta: Record<string, any>;
  locale: string;
  recurData: Record<string, any>;
  metaImageSrc: string;
  alternateURLs: { [locale: string]: string };
  availableLocales: string[];
}

const {
  page,
  meta,
  locale,
  recurData,
  alternateURLs,
  availableLocales,
  metaImageSrc,
} = Astro.props as Props;

const footerText = recurData.Footer_text.replaceAll(
  "<current_year>",
  `${new Date().getFullYear()}`
);
---

<style is:global>
  .link-section {
    cursor: pointer;
  }
</style>

<BaseLayout
  page={page}
  meta={meta}
  locale={locale}
  alternateURLs={alternateURLs}
  metaImageSrc={metaImageSrc}
>
  <div class="flex flex-wrap w-full h-full">
    <div class="block w-full bg-secondary">
      <Navbar
        docLocale={locale}
        footerText={footerText}
        availableLocales={availableLocales}
      />

      <main>
        <slot />
      </main>
    </div>

    <Footer footerText={footerText} recurData={recurData} type={page?.type} />
  </div>

  <CartOverlay page={page} />
</BaseLayout>

<script>
  document.addEventListener("click", (event) => {
    const target = event.target as HTMLElement,
      isUnlinked = target.closest(".unlink"),
      linkSection = target.closest(".link-section"),
      isNonMainLink = target.closest(".link-section a");

    if (isNonMainLink) {
      event.stopPropagation();
    } else if (linkSection && !isUnlinked) {
      const sectionHeadingLink = linkSection.querySelector(
        "a.main-link"
      ) as HTMLAnchorElement;

      sectionHeadingLink.click();
    }
  });
</script>
