---
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import CartOverlay from "@components/CartOverlay.astro";

interface Props {
  page: Record<string, any>;
  meta: Record<string, any>;
  locale: string;
  recurData: Record<string, any>;
  metaImageSrc: string;
  availableLocales: string[];
}

const { page, meta, locale, recurData, availableLocales, metaImageSrc } =
  Astro.props as Props;

const footerText = recurData.Footer_text.replaceAll(
  "<current_year>",
  `${new Date().getFullYear()}`
);
---

<style is:global>
  .link-section {
    cursor: pointer;
  }
</style>

<BaseLayout
  page={page}
  meta={meta}
  locale={locale}
  availableLocales={availableLocales}
  metaImageSrc={metaImageSrc}
>
  <Navbar
    docLocale={locale}
    footerText={footerText}
    availableLocales={availableLocales}
  />

  <main>
    <slot />
  </main>

  <Footer footerText={footerText} />
  <CartOverlay page={page} />
</BaseLayout>

<script>
  const linkSections = [...document.querySelectorAll(".link-section")],
    sectionChildrenLinks = [...document.querySelectorAll(".link-section a")];

  linkSections.forEach((section) => {
    const sectionHeadingLink = section.querySelector(
      "a.main-link"
    ) as HTMLAnchorElement;

    section.addEventListener("click", () => {
      if (window.getSelection().type !== "Range") {
        sectionHeadingLink.click();
      }
    });
  });

  sectionChildrenLinks.forEach((link) => {
    link.addEventListener("click", (event) => {
      event.stopPropagation();
    });
  });
</script>
