---
import CupIcon from "@images/cup.svg";
import BookGreen from "@images/bookGreen.svg";
import RightArrow from "@images/rightArrow.svg";

import Markdown from "@astrojs/markdown-component";

import ClippedImg from "@components/ClippedImg.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import HeadingLinks from "@components/HeadingLinks.astro";
import HeroBackground from "@components/HeroBackground.astro";

import UpdateHeroTopMargin from "@scripts/UpdateHeroTopMargin.astro";

const { page, posts, recurData, headingName } = Astro.props,
  { CF_IMAGE_DELIVERY_ENDPOINT: imgSrcPrefix } = import.meta.env,
  recentPosts = posts.filter(
    ({ Meta }) => Meta.URL_slug !== page.Meta.URL_slug
  );
---

<style lang="scss" is:global>
  #post-details {
    img {
      @apply block mx-auto;

      clip-path: url(#content-images-curve);
    }

    p a {
      @apply px-1 no-underline bg-bottom bg-no-repeat transition-all;

      background-size: 100% 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23a7bcbc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23a0b0b0'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");
      }
    }
  }
</style>

<style lang="scss">
  @use "src/styles/colors";

  .post-author {
    font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  }

  .post-intro {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.25rem);
  }

  .post-publish-date {
    font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
  }

  #sticky-header {
    box-shadow: 0 4px 5px gray;
  }

  #sticky-heading-links {
    border-color: colors.$sticky-dropdown-border-top;
  }

  #reading-progress-bar {
    border-top-right-radius: 0.127rem;
    border-bottom-right-radius: 0.157rem;
  }

  #headings-header {
    font-size: clamp(1.5rem, 2.2vw + 0.15rem, 2rem);
    padding-bottom: clamp(1.25rem, 3.6vw + 0.01rem, 3.125rem);
  }

  #heading-links {
    font-size: clamp(1.25rem, 1.2vw + 0.1rem, 1.5rem);
    row-gap: clamp(1.25rem, 2.5vw + 0.25rem, 2.375rem);
  }

  .recent-posts-title {
    font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  }

  .recent-post-card {
    @apply w-full max-w-[380px] sm:max-w-none;
  }

  .recent-post-card-content-container {
    padding: clamp(20px, 6.4vw, 40px) clamp(24px, 3.8vw + 11.75px, 36px);

    @media (min-width: 640px) {
      padding: clamp(30px, 7.8125vw - 20px, 60px)
        clamp(28px, 4.6875vw - 2px, 46px);
    }

    @media (min-width: 1024px) {
      padding: clamp(30px, 8vw - 51.75px, 60px) clamp(28px, 4.8vw - 21px, 46px);
    }
  }

  .recent-post-card-author {
    line-height: 150%;
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1rem);
  }

  .recent-post-card-title {
    font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
  }

  .recent-post-card-title-icon {
    height: clamp(0.625rem, 1.5vw + 0.1rem, 1rem);
  }

  .map-container{
    margin: clamp(55px, 5vw + 30px, 100px) 0;
  }

  .map-title{
    font-size: clamp(2.125rem, 3vw + 0.3rem, 2.625rem);
  }
</style>

{/* Hero Section */}
<section class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  {/* Text Content */}
  <div class="wrapper hero-text-container h-full relative z-30">
    <div
      role="banner"
      class="hero-text-content sm:w-8/12 md:w-7/12 pt-8 sm:pt-5 md:pt-0"
    >
      {page.authors && 
        (
          <div class="flex flex-wrap gap-x-2.5">
            <div class="flex relative">
              {
                page.authors.data.map((author, index) => (
                  <div
                    class:list={[
                      index > 0 && "relative -ml-5",
                      "w-12 h-12 rounded-full object-cover overflow-hidden",
                    ]}
                  >
                    <img
                      src={
                        imgSrcPrefix +
                        author.attributes.Profile_picture.data.attributes
                          .provider_metadata.public_id +
                        `/authBlob`
                      }
                      alt={
                        author.attributes.Profile_picture.data.attributes
                          .alternativeText
                      }
                      class="w-full h-full"
                    />
                  </div>
                ))
              }
            </div>

            <div class="grid content-between">
              <div class="post-author flex flex-wrap font-bold leading-normal">
                {
                  page.authors.data.map((author, index) => (
                    <a href="#">
                      {`${index > 0 ? ", " : " "}` + author.attributes.givenName}
                    </a>
                  ))
                }
              </div>

              <div class="post-publish-date leading-normal">
                {
                  new Date(page.createdAt).toLocaleString("en-US", {
                    day: "numeric",
                    month: "long",
                  })
                }
              </div>
            </div>
          </div>
        )
      }

      <h1
        class="hero-title pt-4 sm:pt-2.5 md:pt-5 leading-[1.2] underline decoration-[3px]"
      >
        <a href="#">{page.Title || page.Estate_name}</a>


        { page.Title &&
          (
            <span class="icon">
              <img src={CupIcon} alt="cup-icon" class="heading-inline-icon" />
            </span>
          )
        }
      </h1>

      <a
        href="#"
        class:list={[
          "post-intro block prose text-lightgray line-clamp-5 max-w-none",
          "pt-4 sm:pt-3 md:pt-4 leading-[1.4] sm:leading-[1.2] md:leading-normal",
        ]}
      >
        <Markdown>{page.Intro_text}</Markdown>
      </a>
    </div>
  </div>

  {/* Blob Image - Desktop View */}
  <div class="hero-img-curve-container h-full hidden sm:block absolute z-20">
    <ClippedImg
      id="hero-img-curve"
      src={imgSrcPrefix +
        page.Intro_blob.data.attributes.provider_metadata.public_id +
        `/small`}
      className="relative"
      path="M1,0 S0.345,0.001,0.098,0.001 C-0.013,0.158,-0.007,0.342,0.009,0.606 C0.025,0.888,0.144,1,0.536,1 c0.3,0,0.379,-0.095,0.464,-0.147"
    />
  </div>
</section>

{/* Blob Image - Mobile View */}
<div class="block sm:hidden w-full relative z-20 -mt-20">
  <ClippedImg
    id="hero-img-curve-sm"
    src={imgSrcPrefix +
      page.Intro_blob.data.attributes.provider_metadata.public_id +
      `/small`}
    path="M1 .074v.904S.906 1 .774 1C.706 1 .637.996.569.993.487.989.405.984.324.986a4.576 4.576 0 0 0-.117.005C.115.996.032 1.001 0 .986V.074C.062.024.147 0 .282 0c.075 0 .165.023.244.043.062.016.118.03.154.03.026 0 .06-.007.097-.014C.861.044.959.025 1 .074"
  />
</div>

{/* howto header section */}
<slot name="howto-header" />

{/* Blog Section */}
<section class="py-6 sm:py-12" role="main">
  <div
    id="sticky-header"
    class="self-start hidden md:hidden w-full sticky top-0 z-[998] text-primary bg-lightgray overflow-hidden"
  >
    <div class="wrapper relative text-sm lg:text-base font-bold select-none">
      <div
        id="sticky-dropdown-toggle"
        class:list={[
          "p-[15px] font-bold cursor-pointer focus:outline-none",
          "flex items-center justify-between gap-x-1.5 md:gap-x-3",
        ]}
      >
        <div class="flex items-center">
          <img class="w-5 h-full mr-4" src={BookGreen} alt="Book" />

          <div id="sticky-header-heading">{headingName}</div>
        </div>

        <svg
          class="w-3"
          viewBox="0 0 11.6 6.7"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M.3.3A.6.6 0 0 1 .9 0a.9.9 0 0 1 .6.3l4.3 4.3L10.2.3a.6.6 0 0 1 .6-.3l.6.3a.8.8 0 0 1 .2.6.7.7 0 0 1-.2.6l-5 4.9a.6.6 0 0 1-.6.3.9.9 0 0 1-.6-.3L.3 1.5A.9.9 0 0 1 0 .9.6.6 0 0 1 .3.3Z"
            fill="#2B4B50"></path>
        </svg>
      </div>

      <div
        id="sticky-heading-links"
        class="hidden pt-3 pb-9 max-h-[70vh] border-t border-solid overflow-y-auto"
      >
        <HeadingLinks type="mobile">
          {/* html source to extract heading links from */}
          <slot name="heading-links-source-html" />
        </HeadingLinks>
      </div>
    </div>

    <div id="reading-progress-bar" class="py-[2.5px] bg-primary duration-150">
    </div>
  </div>

  <div class="wrapper w-full flex flex-col-reverse md:flex-row">
    <ClipPathSVG
      id="content-images-curve"
      path="M.516.008C.36.008.1-.008.04.082S.002.495.017.736.182 1 .528 1C.813 1 .902.936.974.717 1.005.624 1.021.395.945.128.897-.045.734.008.516.008"
    />

    <div id="post-details" class="md:min-w-[66.67%]">
      {/* post content */}
      <slot name="post-details" />
    </div>

    <div
      id="headings"
      class:list={[
        "pl-[clamp(24px,3.8vw+0.16px,50px)] lg:pl-[clamp(70px,11.3125vw-46px,128px)]",
        "self-start md:sticky top-0 mb-20 w-full md:w-auto md:min-w-[33.33%] text-primary overflow-hidden",
      ]}
    >
      <div class="w-full">
        <h3 id="headings-header" class="font-bold">{headingName}</h3>

        <div id="heading-links" class="grid leading-tight">
          <HeadingLinks>
            {/* html source to extract heading links from */}
            <slot name="heading-links-source-html" />
          </HeadingLinks>
        </div>
      </div>
    </div>
  </div>
</section>

{ page.Estate_name && 
  (
    <div 
      class="map-container"
      role="complementary" 
      aria-label="location-inforamtion"
    >
      <div class="wrapper">
        <h2 class="mb-5 alice text-dark map-title">
          {page.Estate_name} location
        </h2>

        <a href={page.Location_link}>
          <div 
            class="w-full max-h-[375px] object-cover overflow-hidden"
          >
            <img
              class="hidden sm:block w-full h-full object-cover" 
              src={imgSrcPrefix +
                page.Location.data.attributes.provider_metadata.public_id +
                `/public`}
              alt={page.Location.data.attributes.alternativeText}
            >
            <img
              class="block sm:hidden w-full h-full object-cover" 
              src={imgSrcPrefix +
                page.Location.data.attributes.provider_metadata.public_id +
                `/small`}
              alt={page.Location.data.attributes.alternativeText}
            >
          </div>
        </a>
      </div>
    </div>
  )
}

{
  recentPosts.length > 0 && (
    <section class="wrapper">
      <h2 class="recent-posts-title alice text-primary mb-6">
        {recurData.text_explore_the_world_of_kindness}
      </h2>

      <ClipPathSVG
        id="recent-post-card-curve"
        path="M.99 1H.005C-.005.636-.003.266.042.141.102-.024.358.005.513.005c.216 0 .411-.061.459.255C1 .557.995.795.99 1"
      />

      <div
        role="list"
        aria-label="Kindness Items"
        class:list={[
          "w-full mx-auto mb-14 grid sm:grid-cols-2 lg:grid-cols-3",
          "justify-items-center sm:justify-items-start gap-8 lg:gap-[clamp(24px,3.125vw-8px,32px)]",
        ]}
      >
        {recentPosts.slice(0, 3).map((post) => (
          <div
            role="listitem"
            class="recent-post-card"
            aria-label="Kindness Item"
          >
            <div class="relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                viewBox="0 0 423.3 559.8"
              >
                <path
                  d="M419.2 306.4c-1.2 40.4 0 72.6 0 93.6 0 176.6-12.5 158-197.8 158S2.1 587.1 2.1 410c0-58.7.1-86 .3-97.5-.1-1.2-.2-3.1-.3-6.1v-.3C-2.2 194.8-1.3 81.5 17.9 43.2 43.3-7.3 151.7 1.5 217.2 1.5c91.3 0 173.8-18.8 194.3 78.1 19.3 91 9.6 163.8 7.7 226.8Z"
                  fill="#273E3F"
                />
              </svg>

              <div class="absolute inset-0 z-30">
                <a class="block w-full" href={`/` + post.Meta.URL_slug}>
                  <img
                    src={
                      imgSrcPrefix +
                      post.Intro_blob.data.attributes.provider_metadata
                        .public_id +
                      `/small`
                    }
                    class="w-full h-full"
                    style="clip-path: url(#recent-post-card-curve);"
                  />
                </a>
                <div class="recent-post-card-content-container">
                  {page.authors &&
                    ( 
                      <div>
                        <div class="recent-post-card-author flex flex-wrap font-bold">
                          {post.authors.data.map(({ attributes }, index) => (
                            <a href="#">
                              {`${index > 0 ? ", " : " "}` + attributes.givenName}
                            </a>
                          ))}
                        </div>

                        <div class="post-publish-date leading-tight">
                          {new Date(post.createdAt).toLocaleString("en-US", {
                            day: "numeric",
                            month: "long",
                          })}
                        </div>
                      </div>    
                    )
                  }

                  <div class="recent-post-card-title alice mt-4 leading-[1.125]">
                    <a href={`/` + post.Meta.URL_slug}>{post.Title || page.Estate_name}</a>

                    <span class="icon">
                      <img
                        class="recent-post-card-title-icon"
                        src={RightArrow}
                        alt="cup-icon"
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </section>
  )
}

<script defer>
  {
    const query = document.querySelector.bind(document),
      queryAll = document.querySelectorAll.bind(document),
      navbar = query("#navigation"),
      postDetails = query("#post-details"),
      chapters = [...queryAll("#post-details .chapter")],
      [firstChapter] = chapters,
      stickyHeader = query("#sticky-header"),
      stickyHeaderHeading = query("#sticky-header-heading"),
      stickyDropdownToggle = query("#sticky-dropdown-toggle"),
      headingLinks = queryAll("#heading-links a"),
      stickyheadingLinksContainer = query("#sticky-heading-links"),
      stickyheadingLinks = queryAll("#sticky-heading-links a"),
      readingProgressBar = query("#reading-progress-bar");

    const isOnScreen = (element) => {
      const { top, bottom } = element.getBoundingClientRect(),
        // consider an element on screen only if it's at least 50px on screen
        safeAreaHeight = 50;

      if (top < window.innerHeight - safeAreaHeight && bottom > 0) return true;

      return false;
    };

    const styleActiveChapter = () => {
      // find active chapter
      const { length, [length - 1]: activeChapter = chapters[0] } =
          chapters.filter((chapter) => isOnScreen(chapter)),
        chapterIndex = chapters.indexOf(activeChapter),
        activeChapterHeading = activeChapter.querySelector("h2");

      [...headingLinks, ...stickyheadingLinks].forEach((link) =>
        link.classList.remove("active")
      );

      // highlight active chapter link
      headingLinks[chapterIndex].classList.add("active");
      stickyheadingLinks[chapterIndex].classList.add("active");

      const { height: navbarHeight } = navbar.getBoundingClientRect(),
        displayStickyHeader =
          window.innerWidth < 640 &&
          firstChapter.getBoundingClientRect().y -
            navbar.getBoundingClientRect().height <
            0;

      if (displayStickyHeader) {
        stickyHeader.style.top = navbarHeight + "px";

        stickyHeaderHeading.textContent = activeChapterHeading.textContent;

        const containerRect = postDetails.getBoundingClientRect(),
          readPixels = Math.abs(containerRect.y - window.innerHeight),
          detailedBlogHeight = containerRect.height,
          minProgress =
            ((window.innerHeight - navbarHeight) / detailedBlogHeight) * 100,
          progress = (readPixels / detailedBlogHeight) * 100,
          correctedProgress =
            ((progress - minProgress) / (100 - minProgress)) * 100;

        // update progress meter
        readingProgressBar.style.width = `${correctedProgress}%`;
      }

      // display sticky header
      stickyHeader.classList[displayStickyHeader ? "remove" : "add"]("hidden");
    };

    styleActiveChapter();

    document.addEventListener("scroll", styleActiveChapter);

    stickyDropdownToggle.addEventListener("click", () => {
      stickyheadingLinksContainer.classList.toggle("hidden");
    });

    // collapse dropdown when an item is clicked
    stickyheadingLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();

        location.href = link.href;

        stickyheadingLinksContainer.classList.add("hidden");

        window.scrollTo({
          top: scrollY - readingProgressBar.getBoundingClientRect().bottom,
        });
      });
    });
  }
</script>
