---
import { parseHTML } from "linkedom";

import HeroContent from "@components/HeroContent.astro";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import HeadingLinks from "@components/HeadingLinks.astro";
import RelevantPosts from "@components/RelevantPosts.astro";
import ChaptersFunctionality from "@components/scripts/ChaptersFunctionality.astro";

import RecurringImages from "@store/RecurringImages";

const { green_book } = RecurringImages;

const {
  page,
  posts,
  recurData,
  ariaLabelRecurData,
  headingName,
  plainTitle,
  type,
  headerBackground,
} = Astro.props;

const relatedPosts =
  page?.related_products?.data?.map(({ attributes }) => attributes) ||
  page?.blogs?.data?.map(({ attributes }) => attributes) ||
  page?.Relevant_recipes?.data?.map(({ attributes }) => attributes) ||
  page?.Relevant_blogs?.data?.map(({ attributes }) => attributes) ||
  posts?.filter(({ Meta }) => Meta.URL_slug !== page.Meta.URL_slug);

const relatedPostsHeading =
  page.Relevant_items_title ||
  (page.Relevant_recipes && recurData.recipe_discover) ||
  recurData.text_explore_the_world_of_kindness;

const relatedPostsText = page.Relevant_items_text;

const contentHTML = await Astro.slots.render("post-details"),
  { document: contentDocument } = parseHTML(contentHTML),
  headings = contentDocument.querySelectorAll("h2");
---

<style lang="scss" is:global>
  #post-details {
    picture {
      clip-path: url(#content-images-curve);
    }

    p,
    ol,
    ul,
    p s,
    blockquote p {
      a {
        @apply font-bold sm:font-semibold px-1 no-underline bg-bottom bg-no-repeat hover:brightness-95 transition-all;

        background-size: 100% 45%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23b3cccc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");
      }
    }
  }
</style>

<style lang="scss">
  @use "src/styles/colors";

  #sticky-header {
    box-shadow: 0 4px 5px gray;
  }

  #sticky-heading-links {
    border-color: colors.$primary-light;
  }

  #reading-progress-bar {
    border-top-right-radius: 0.127rem;
    border-bottom-right-radius: 0.157rem;
  }

  #headings-header {
    font-size: clamp(1.5rem, 2.2vw + 0.15rem, 2rem);
  }

  #heading-links {
    font-size: clamp(1rem, 1.2vw + 0.2rem, 1.5rem);
  }
</style>

{/* Hero Section */}
<HeroContent {page} {plainTitle} {headerBackground}>
  {/* Recipe Header */}
  <slot name="recipe-header" />

  {/* tea-details header section */}
  <slot name="tea-details-header" />
</HeroContent>

{/* howto header section */}
<slot name="howto-header" />

{/* product page sections */}
<slot name="product-page-sections" />

{/* Blog Section */}
<section
  class="py-[50px]"
  role={type || "main"}
  aria-label={ariaLabelRecurData.Post_details_text}
>
  <div
    id="sticky-header"
    class="pt-1.5 self-start invisible md:hidden w-full sticky top-0 z-[998] bg-secondary text-black overflow-hidden"
  >
    <div class="wrapper relative select-none">
      <div
        id="sticky-dropdown-toggle"
        class:list={[
          "py-[15px] font-bold cursor-pointer focus:outline-none",
          "flex items-center justify-between gap-x-1.5 md:gap-x-3",
        ]}
      >
        <div class="flex items-center">
          <div class="w-7 h-full mr-[13px]">
            <img class="w-full h-full" {...green_book} />
          </div>

          <div id="sticky-header-heading" class="font-medium">
            {headingName}
          </div>
        </div>

        <svg
          class="w-3 text-black-light"
          viewBox="0 0 11.6 6.7"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M.3.3A.6.6 0 0 1 .9 0a.9.9 0 0 1 .6.3l4.3 4.3L10.2.3a.6.6 0 0 1 .6-.3l.6.3a.8.8 0 0 1 .2.6.7.7 0 0 1-.2.6l-5 4.9a.6.6 0 0 1-.6.3.9.9 0 0 1-.6-.3L.3 1.5A.9.9 0 0 1 0 .9.6.6 0 0 1 .3.3Z"
            fill="#2B4B50"></path>
        </svg>
      </div>

      {
        headings.length > 0 && (
          <div
            id="sticky-headings"
            class:list={[
              "hidden flex flex-col max-h-[70vh]",
              "pt-[15px] pb-[25px] border-t border-primary-light overflow-y-auto",
            ]}
          >
            <div
              role="list"
              id="sticky-heading-links"
              class="grid overflow-y-auto"
            >
              <HeadingLinks type="mobile" headings={headings}>
                {/* html source to extract heading links from */}
                <slot name="post-details" />
              </HeadingLinks>
            </div>

            {/* Jump to Recipe Small Button */}
            <slot name="jump-to-recipe-sm" />

            {/* Cart Adding Form (Sm) */}
            <slot name="cart-adding-form-sm" />
          </div>
        )
      }
    </div>

    <div id="reading-progress-bar" class="py-[2.5px] bg-primary duration-150">
    </div>
  </div>

  <div class="wrapper w-full flex flex-col-reverse md:flex-row">
    <ClipPathSVG
      id="content-images-curve"
      path="M.516.008C.36.008.1-.008.04.082S.002.495.017.736.182 1 .528 1C.813 1 .902.936.974.717 1.005.624 1.021.395.945.128.897-.045.734.008.516.008"
    />

    <div id="post-details" class="md:w-2/3 lg:w-3/5 xl:w-1/2">
      {/* post content */}
      <slot name="post-details" />
    </div>
  
    {
      headings.length > 0 && (
        <div
          role="complementary"
          aria-label={headingName}
          id="headings"
          class:list={[
            "w-full md:w-1/3 lg:w-2/5 xl:w-1/2 md:h-screen flex flex-col",
            "self-start md:sticky top-0 pb-6 mb-[75px] text-black overflow-hidden",
            "pl-[clamp(24px,3.8vw+0.16px,50px)] lg:pl-[clamp(70px,11.3125vw-46px,128px)]",
          ]}
        >
          <div class="flex flex-col md:self-end md:w-5/6">
            <h3
              id="headings-header"
              class="pb-2.5 lg:pb-5 xl:pb-[30px] font-bold"
            >
              {headingName}
            </h3>

            {/* Jump to Recipe Button */}
            <slot name="jump-to-recipe" />

            <div
              role="list"
              id="heading-links"
              class="flex flex-col leading-[130%] lg:leading-[150%] overflow-y-auto"
            >
              <HeadingLinks headings={headings}>
                {/* html source to extract heading links from */}
                <slot name="post-details" />
              </HeadingLinks>
            </div>
          
              {/* Cart Adding Form (Sm) */}
              <slot name="cart-adding-form-sm" />
        
              {/* Cart Adding Form Fixed (Sm) */}
              <slot name="cart-adding-form-fixed-sm" />
          
            </div>
        </div>
      )
    }
  </div>
</section>

{/* product infos */}
<slot name="product-info" />

{/* estate map */}
<slot name="estate-map" />

{/* product kindness impact  */}
<slot name="product-kindness-impact" />

{/* Relevant Posts Section */}
<RelevantPosts
  {page}
  posts={relatedPosts}
  text={relatedPostsText}
  heading={relatedPostsHeading}
/>

{headings.length > 0 && <ChaptersFunctionality />}

<slot name="wake-lock-script" />
