---
import CMS from "@store/CMS";
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import RecurringImages from "@store/RecurringImages";
import { Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";

interface Props {
  page: Record<string, any>;
  meta: Record<string, any>;
  locale: string;
  recurData: Record<string, any>;
  metaImageSrc: string;
  availableLocales: string[];
}

const { user_account_nav_background, user_account_nav_background_sm } =
  RecurringImages;

const { page, meta, locale, recurData, availableLocales, metaImageSrc } =
  Astro.props as Props;

const footerText = recurData.Footer_text.replaceAll(
  "<current_year>",
  `${new Date().getFullYear()}`
);
---

<BaseLayout
  page={page}
  meta={meta}
  locale={locale}
  availableLocales={availableLocales}
  metaImageSrc={metaImageSrc}
>
  <div class="flex flex-wrap w-full h-full">
    <div class="block w-full bg-lightgray">
      <div class="fixed relative w-screen">
        <ClipPathSVG
          id="nav-curve"
          path="M0,0 L0,0.936 C0,0.936,0.009,1,0.107,1 C0.152,1,0.198,0.992,0.247,0.983 C0.305,0.973,0.368,0.961,0.441,0.961 C0.511,0.961,0.573,0.971,0.634,0.981 C0.692,0.991,0.749,1,0.81,1 C0.934,1,1,0.878,1,0.878 V0 H0"
        />

        <Picture
          alt=""
          layout="fill"
          preload="avif"
          breakpoints={{ maxWidth: 640 }}
          src={user_account_nav_background_sm.src}
          artDirectives={[
            {
              media: "(min-width: 640px)",
              breakpoints: { minWidth: 640 },
              src: user_account_nav_background.src,
            },
          ]}
          attributes={{
            picture: {
              style:
                "position: absolute; top: 0; left: 0; clip-path: url(#nav-curve);",
            },
          }}
        />

        <Navbar
          docLocale={locale}
          footerText={footerText}
          availableLocales={availableLocales}
        />
      </div>
      

      

      <main>
        <slot />
      </main>
    </div>
      <Footer footerText={footerText} />
    
  </div>
</BaseLayout>
