---
import CMS from "@store/CMS";

import Chapters from "@components/Chapters.astro";

import localizeCMSImage from "@utils/localizeCMSImage";
import ChaptersFunctionality from "@scripts/ChaptersFunctionality.astro";

const { page, headings } = Astro.props;

const { locale, type, Breadcrumb } = page;

const recurData = CMS.get("recurringElement", locale),
  userAccountDashboard = CMS.get("userAccountDashboard", locale),
  userAccountRecurData = CMS.get("userAccountRecurringElement", locale);

const { Support, Support_visibility } = userAccountDashboard;

const headingName =
  (type === "accountOrders" && userAccountRecurData.text_orders_timeline) ||
  recurData.text_chapter;
---

<style lang="scss" is:global>
  @use "src/styles/poly-fluid" as *;

  @mixin division-gap {
    @apply gap-[clamp(25px,calc(0.625vw+21px),30px)];
  }

  @mixin division-in-gap {
    @apply gap-[clamp(10px,calc(0.625vw+6px),15px)];
  }

  @mixin division-in-element-gap {
    @apply gap-[clamp(5px,calc(0.625vw+1px),10px)];
  }

  @mixin text-b3 {
    @apply text-[clamp(18px,calc(0.75vw+13.2px),24px)] leading-[150%];
  }

  @mixin text-b5 {
    @apply text-[clamp(16px,calc(0.25vw+14.4px),18px)] leading-[150%];
  }

  @mixin text-b7 {
    @apply text-[clamp(12px,calc(0.25vw+10.4px),14px)] leading-[150%];
  }

  @mixin button {
    @apply flex items-center justify-center gap-2 py-2.5 
      px-5 text-base font-bold cursor-pointer rounded-full;
  }

  @mixin button-link {
    @apply text-base font-bold cursor-pointer;
  }

  @mixin button-link-big {
    @include text-b5;

    @apply font-bold cursor-pointer;
  }

  @mixin button-link-primary {
    @include button-link;

    @apply text-primary;
  }

  @mixin button-link-primary-big {
    @include button-link-big;

    @apply text-primary;
  }

  @mixin button-link-error-dark-big {
    @include button-link-big;

    @apply text-error-dark;
  }

  .info-tag-button {
    @include text-b7;

    @apply py-1 px-2 text-black-light bg-white rounded-full;

    line-height: 130%!important;
  }

  .quick-info {
    @include text-b7;

    @apply flex items-center gap-[clamp(4px,calc(0.5vw+0.8px),8px)] font-medium text-black-light;
  }

  @mixin input-label {
    @include text-b5;

    @apply font-semibold text-black-light;
  }

  @mixin input-text-large {
    @include text-b3;

    @apply text-black;
  }

  .division-gap {
    @include division-gap;
  }

  .division-in-gap {
    @include division-in-gap;
  }

  .division-in-element-gap {
    @include division-in-element-gap;
  }

  .text-b5 {
    @include text-b5;
  }

  .input-label {
    @include input-label;
  }

  .input-text-large-static {
    @include input-text-large;
  }

  .input-text-large {
    @include input-text-large;

    @apply w-full bg-transparent outline-none;

    &:not(:disabled) {
      @apply border-b-2 border-primary;
    }

    &.errored {
      @apply border-error;
    }
  }

  .button-primary {
    @include button;

    @apply bg-primary text-white;
  }

  .button-link-primary {
    @include button-link-primary;
  }

  .button-link-primary-big {
    @include button-link-primary-big;
  }

  .button-link-error-dark-big {
    @include button-link-error-dark-big;
  }

  .horizontal-toggle-button-primary {
    @apply flex items-center gap-[clamp(4px,calc(0.5vw+0.8px),8px)] text-base font-bold text-primary;

    .toggle-button-arrow {
      @apply w-[14px] h-2;
    }
  }

  .dashboard-sec-title {
    @apply bg-primary leading-[110%] text-secondary-light rounded-[10px];

    font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
    padding: 10px clamp(15px, 2.08vw + 0.01rem, 30px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  .dashboard-sec {
    @apply bg-secondary-light rounded-[10px] mt-[25px] text-black;

    padding: clamp(15px, 2.08vw + 0.01rem, 25px)
      clamp(15px, 2.2vw + 0.1rem, 35px);

    @media (max-width: 767.98px) {
      padding: 15px;
    }

    .information-btn {
      @apply leading-[150%] font-semibold text-primary;

      font-size: clamp(1rem, 1.4vw + 0.3rem, 1.375rem);
    }

    h2 {
      @apply text-[clamp(1.25rem,1.5vw+0.15rem,1.5rem)] font-bold text-primary;
    }

    > a {
      order: 1;
    }

    .order-item {
      @apply grid gap-[25px] sm:gap-[30px];

      &:not(:last-child) {
        @apply border-b border-primary-light;
      }

      .order-img {
        width: poly-fluid-clamp(
          (
            640px: 50px,
            1440px: 65px,
          )
        );
      }

      .order-item-label {
        @apply flex items-center gap-2 text-lg font-bold leading-[150%] text-black;
      }

      .order-item-date {
        @apply text-sm sm:text-base text-black-light;
      }

      .order-item-title {
        @apply font-bold text-[clamp(1.25rem,1.5vw+0.15rem,1.5rem)];
      }

      .order-item-info {
        @apply flex flex-wrap gap-1 sm:gap-2 text-sm sm:text-base text-black-light;
      }

      .order-item-quantity {
        @apply text-sm sm:text-base font-semibold text-black-light;
      }

      .order-item-cart-btn {
        @apply flex gap-1 sm:gap-2 w-fit py-[5px] sm:py-2.5 px-3 sm:px-5
          text-sm sm:text-base font-semibold sm:font-bold text-white bg-primary rounded-full;

        &:disabled,
        &[disabled] {
          @apply bg-black/60 text-secondary-light cursor-not-allowed;
        }
      }

      .show-more-toggle-btn {
        @apply flex gap-1 sm:gap-2 items-center font-bold text-primary cursor-pointer;
      }
    }
  }

  .month-container {
    @apply grid grid-cols-[repeat(auto-fit,minmax(90px,1fr))] gap-[15px] items-center w-full;

    a {
      @apply py-2.5 px-5 text-black-light font-medium text-center cursor-not-allowed rounded-full;

      &.selected,
      &.active {
        color: white !important;
        cursor: pointer !important;
      }

      &.selected {
        background-color: #547b7d !important;
      }

      &.active {
        background-color: #1e4848 !important;
        font-weight: bold;
      }
    }
  }
</style>

<div class="hero-sub-menu-shadow nav-bg"></div>

<div class="wrapper">
  {
    Breadcrumb && (
      <div
        role="banner"
        class="flex flex-wrap gap-2 recoleta text-2xl leading-[110%] text-primary mt-[25px]"
      >
        {Breadcrumb?.Steps.map(({ Link, Name }, index) => (
          <div class="flex items-center gap-2">
            {index > 0 && (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="17"
                viewBox="0 0 8 16.7"
                class="fill-primary"
              >
                <path d="M.3,16.3a1.4,1.4,0,0,1,0-1.7L5.4,8.3.3,2.1A1.1,1.1,0,0,1,0,1.3,1.7,1.7,0,0,1,.3.3,1.1,1.1,0,0,1,1.1,0a.9.9,0,0,1,.7.3L7.7,7.5a1.1,1.1,0,0,1,.3.8,1.7,1.7,0,0,1-.3,1l-5.9,7a.7.7,0,0,1-.7.4A.9.9,0,0,1,.3,16.3Z" />
              </svg>
            )}
            <a href={Link || "#"}>{Name}</a>
          </div>
        ))}
      </div>
    )
  }
</div>

<section class="py-[50px]">
  <Chapters fixedTop={true} headingName={headingName} headings={headings}>
    <slot name="sticky-top-timeline" slot="top-slot" />
  </Chapters>

  <div
    class="wrapper w-full flex flex-col-reverse md:flex-row justify-between gap-[30px]"
  >
    <div class="md:w-2/3 2xl:w-1/2 md:min-w-[400px]">
      <div class="xl:w-5/6 2xl:w-full">
        <slot />
      </div>
    </div>

    <Chapters
      headingName={headingName}
      staticHeadings={headings}
      desktopOnly={true}
    >
      <slot name="timeline" />
    </Chapters>
  </div>
</section>

{
  Support_visibility && Support && (
    <div class="z-[999] fixed bottom-[clamp(15px,3vw+5px,50px)] right-[clamp(15px,3vw+5px,50px)]">
      <a href={Support.Button_link}>
        <div class="flex items-center gap-4 p-5 md:py-5 md:px-[34px] rounded-full bg-[#3C994E]">
          <div class="w-[45px] h-[45px]">
            <img
              class="w-full h-full object-contain"
              src={await localizeCMSImage(
                Support.Button_icon.data.attributes.url,
              )}
              alt={Support.Button_icon?.data?.attributes?.alternativeText}
            />
          </div>
          <div class="hidden md:block text-3xl text-white">
            {Support.Button_text}
          </div>
        </div>
      </a>
    </div>
  )
}

<!-- {headings?.length > 0 && <ChaptersFunctionality />} -->
